<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6 mobile-margin-add">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div profile-first-s middle-div-cg-b">
                            <div class="home-middle-div-one position-relative group-div-extraflex">
                                <div class="d-flex justify-content-between group-headding align-items-baseline">
                                    <div class="subscription-head d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-white">
                                            My Cooking Group<br>
                                            <span class="color-white font-16 font-reg">33 Posts</span> &nbsp; <span
                                                class="color-white font-16 font-reg">4556 Members</span>
                                        </p>
                                    </div>
                                    <div class="buttons-f-pr-e">
                                        <a href="" class="font-16 color-blue"><span class="iconify"
                                                data-icon="ant-design:edit-filled"></span>Edit Group</a>
                                    </div>
                                </div>
                                <div class="profile-page-btn">
                                    <div class="wrapper-profile-page-buttons">
                                        <div class="">
                                            <div
                                                class="poll-asked-user d-flex justify-content-between abso-profile-btn">
                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 10 (1).png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-20 font-bold color-blue"><br></p>
                                                        <p class="font-20 font-bold color-blue">My Cooking Group</p>
                                                    </div>
                                                </div>
                                                <div class="buttons-f-pr-e">
                                                    <a href="" class="font-16 color-blue" type="button"
                                                        data-toggle="modal" data-target="#exampleModal"><span
                                                            class="iconify"
                                                            data-icon="akar-icons:person-add"></span>Invite
                                                        Member</a>
                                                    <a href="" class="font-16 color-blue"><span class="iconify"
                                                            data-icon="bi:share-fill"></span>Share</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 position-relative">
                            <div class="profile-page-wrapper-d">
                                <div class="poll-div-section">
                                    <div class="wrapper-poll-div-section">
                                        <div class="">
                                            <div class="div-for-new-post-poll">
                                                <div class="wrapper-new-post-poll">
                                                    <div class="text-area-for-poll">
                                                        <div class="form-group position-relative">
                                                            <textarea rows="4"
                                                                class="w-100">Compose new post</textarea>
                                                            <div class="option-selected-for-ta">
                                                                <a href=""><span class="iconify"
                                                                        data-icon="icon-park-outline:picture-one"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="ph:video-camera-bold"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="bxs:microphone-alt"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="fa6-solid:square-poll-vertical"></span></a>

                                                                <a href=""><span class="iconify"
                                                                        data-icon="fa:hourglass-3"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="fluent:live-20-filled"></span></a>
                                                                <a href=""><img
                                                                        src="assets/images/Mask group (2).png"
                                                                        alt="image" /></a>
                                                            </div>
                                                        </div>
                                                        <div class="right-side-button text-right">
                                                            <a href=""
                                                                class="font-14 font-medium color-blue margin-l-r-a">Post
                                                                Later</a>
                                                            <button>Post</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" second-home-middle-g2 ">
                                    <div class="headding-poll">
                                        <div class="poll-asked-user d-flex justify-content-between">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 9 (2).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-49"> Cole &nbsp; <span
                                                            class="iconify font-20 color-light-blue"
                                                            data-icon="ic:sharp-verified"></span>
                                                    </p>
                                                    <p class="font-14 color-49">@colejanson</p>
                                                </div>
                                            </div>
                                            <div class="a-for-h-3">
                                                <a href="">March 24</a>
                                                <a href=""><span class="iconify font-20"
                                                        data-icon="fluent:more-circle-32-regular"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mi-home-w-d">
                                        <div class="d-flex align-items-stretch">
                                            <div class="image-for-half-section">
                                                <img src="assets/images/g3.png" alt="image" />
                                            </div>
                                            <div class="image-for-s-half-section">
                                                <img src="assets/images/g2.png" alt="image" />
                                                <img src="assets/images/g1.png" alt="image" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="middle-up-i">
                                        <div class="d-flex justify-content-between">
                                            <div class="first-h-c-t">
                                                <a href=""><span class="iconify"
                                                        data-icon="clarity:heart-line"></span></a>
                                                <a href=""><span class="iconify"
                                                        data-icon="uil:comment-alt-message"></span></a>
                                                <a href=""><span class="iconify"
                                                        data-icon="ant-design:dollar-circle-outlined"></span> &nbsp;
                                                    Send
                                                    Tip</a>
                                                <p class="font-14 color-a8">122 likes this</p>
                                            </div>
                                            <div class="first-h-c-t">
                                                <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="second-home-middle-g2 ">
                                    <div class="headding-poll">
                                        <div class="poll-asked-user d-flex justify-content-between">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 9 (2).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-49"> Cole &nbsp; <span
                                                            class="iconify font-20 color-light-blue"
                                                            data-icon="ic:sharp-verified"></span>
                                                    </p>
                                                    <p class="font-14 color-49">@colejanson</p>
                                                </div>
                                            </div>
                                            <div class="a-for-h-3">
                                                <a href="">March 24</a>
                                                <a href=""><span class="iconify font-20"
                                                        data-icon="fluent:more-circle-32-regular"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mi-home-w-d">
                                        <div class="d-flex align-items-stretch">
                                            <div class="image-for-half-section">
                                                <img src="assets/images/g3.png" alt="image" />
                                            </div>
                                            <div class="image-for-s-half-section">
                                                <img src="assets/images/g2.png" alt="image" />
                                                <img src="assets/images/g1.png" alt="image" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="middle-up-i">
                                        <div class="d-flex justify-content-between">
                                            <div class="first-h-c-t">
                                                <a href=""><span class="iconify"
                                                        data-icon="clarity:heart-line"></span></a>
                                                <a href=""><span class="iconify"
                                                        data-icon="uil:comment-alt-message"></span></a>
                                                <a href=""><span class="iconify"
                                                        data-icon="ant-design:dollar-circle-outlined"></span> &nbsp;
                                                    Send
                                                    Tip</a>
                                                <p class="font-14 color-a8">122 likes this</p>
                                            </div>
                                            <div class="first-h-c-t">
                                                <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


    <!-- Modal -->
    <div class="modal-in-gc">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="margin-l-r-a button-link">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-for-modal-group">
                            <label class="font-16 color-49 font-bold">Enter Username to invite in your group</label>
                            <input type="text" class="w-100">
                            <div class="button-to-invite-gc">
                                <div class="right-side-button text-right">
                                    <button>Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
