<app-header-new></app-header-new>

<div class="homepage margin-minus-header profile-edit-main">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-9">
                    <div class="delete-account-div margin-top-mobile">
                        <div class="wrapper-delete-account-div">
                            <div class="home-middle-div-one position-relative">
                                <div class="headding-profile-middle-div d-flex">
                                    <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                            data-icon="akar-icons:arrow-left"></span></a>
                                    <p class="font-20 font-bold color-blue">
                                        Banking
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="banking-div">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="banking-bg-div">
                                        <div class="upper-banking-bg-div">
                                            <p class="font-16 font-bold color-blue">Direct Transfer (OCT)</p>
                                            <p class="font-16 color-blue">Receive your payouts directly into your
                                                bank account via OCT payments (Visa Direct)</p>
                                        </div>
                                       <div class="lower-banking-bg-div-wrapper">
                                        <div class="lower-banking-bg-div">
                                            <p class="font-16 font-medium color-bank">Minimum Withdrwal</p>
                                            <p class="font-16 font-bold color-blue">$20.00</p>
                                        </div>
                                        <div class="lower-banking-bg-div">
                                            <p class="font-16 font-medium color-bank">Processing Time</p>
                                            <p class="font-16 font-bold color-blue">3 Business Days</p>
                                        </div>
                                        <div class="lower-banking-bg-div">
                                            <p class="font-16 font-medium color-bank">Other Features</p>
                                        </div>
                                       </div>
                                        <div class="lower-banking-bg-div-li">
                                            <li class="font-footer font-16 font-bold"><span class="iconify" data-icon="akar-icons:arrow-right"></span>No Limits on number of daily
                                                withdrwals
                                                ($10,000.00 maximum per withdrwal)</li>
                                            <li class="font-footer font-16 font-bold"><span class="iconify" data-icon="akar-icons:arrow-right"></span>Payouts are paid into your bank account via 
                                                your VISA or VISA Debit card and processed 
                                                by Securion Pay</li>
                                            <li class="font-footer font-16 font-bold"><span class="iconify" data-icon="akar-icons:arrow-right"></span>VISA and VISA Debit only</li>
                                        </div>
                                        <div class="connect-div-banking text-center">
                                            <div class="right-side-button ">
                                                <button>Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="banking-bg-div">
                                        <div class="upper-banking-bg-div">
                                            <p class="font-16 font-bold color-blue">International Bank Transfer (SWIFT)</p>
                                            <p class="font-16 color-blue">Receive your payouts directly into your bank account via SWIFT payments</p>
                                        </div>
                                       <div class="lower-banking-bg-div-wrapper">
                                        <div class="lower-banking-bg-div">
                                            <p class="font-16 font-medium color-bank">Minimum Withdrwal</p>
                                            <p class="font-16 font-bold color-blue">$200.00</p>
                                        </div>
                                        <div class="lower-banking-bg-div">
                                            <p class="font-16 font-medium color-bank">Processing Time</p>
                                            <p class="font-16 font-bold color-blue">3-5 Business Days</p>
                                        </div>
                                        <div class="lower-banking-bg-div">
                                            <p class="font-16 font-medium color-bank">Other Features</p>
                                        </div>
                                       </div>
                                        <div class="lower-banking-bg-div-li">
                                            <li class="font-footer font-16 font-bold"><span class="iconify" data-icon="akar-icons:arrow-right"></span>No Limits on number of daily withdrwals</li>
                                            <li class="font-footer font-16 font-bold"><span class="iconify" data-icon="akar-icons:arrow-right"></span>Payouts are paid into your bank account via 
                                                International SWIFT banking system</li>
                                            <li class="font-footer font-16 font-bold"><span class="iconify" data-icon="akar-icons:arrow-right"></span>Any Bank Account</li>
                                        </div>
                                        <div class="connect-div-banking text-center">
                                            <div class="right-side-button ">
                                                <button>Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
