<app-header></app-header>
<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">REFERRAL </p>
        </div>
        <div class="detail-privacy-text">
            <p class="font-16 "><b>Last updated: May 1, 2022
                </b></p>
            <p class="font-16 font-bold">Important Notice</p>
            <p class="font-16 color-dark-grey">In compliance with regulation 3 of the Trading Scheme Regulations
                1997 (as amended) and section 120(1) of the Fair Trading Act 1973, please read the warning below in
                respect of the <b>Chello</b> Referral Terms:
            </p>
            <p class="font-16 color-dark-grey">It is illegal for us or for a participant in the <b>Chello</b>
                Referral Terms (including Referring Creators and Referred Creators) to persuade anyone to make a
                payment by promising benefits from getting others to join the <b>Chello</b> Referral Terms.
                Do not be misled by claims that high earnings are easily achieved from participation in the
                <b>Chello</b> Referral Terms.
            </p>

            <div class="faq_colapse">
                <div class="accordions">
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem1">
                            <h2>I am a Creator, and know other Creators. Is there a referral program with Chello?<i
                                    class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem1">
                            <p>
                                Yes, there is a referral program with <b>Chello</b>. Every <b>Creator</b> will be given a referral code. In order to qualify for the referral program, the <b>Creator</b> has to pay the admin fee of ${{veriable.adminMonthlyFee}} per month or ${{veriable.adminYearlyFee}} yearly. The <b>Creator</b> will be paid a {{veriable.referralCommission}}% referral revenue every month on the 3rd, for the <b>Creators</b> they refer to <b>Chello</b>. The {{veriable.referralCommission}}% is from the referred Creator business for the previous month. This is one-third of the 6% <b>Chello</b> receives.
                            </p>
                            <p>
                                For example, Creator A refers to <b>Creators</b> B and C to <b>Chello</b>. In March, Creator B made $6000 and Creator C made $4000. On April 3, Creator A will have credited $200 referral revenue.
                            </p>
                            <p><b>Introduction:</b> The Referral Terms are additional terms which apply if you use the <b>Chello</b> Referral Terms. These Referral Terms form part of your agreement with us.

                            </p>
                            <p><b>Interpretation:</b> In these Referral Terms defined terms have the same meanings given to them in the Terms of Use for all Users. In addition:</p>
                            <p>    
                                "Referring User" is also referred to as "you" or "your" in these Referral Terms; "Referred Creator" means the person who joins <b>Chello</b> as a Creator via the Referring Creator’s referral link.

                            </p>
                        </div>
                    </div>

              

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem3">
                            <h2>The rules of the Chello Referral Terms:<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem3">
                            <p>
                                *Only Users of <b>Chello</b> with a current User account can participate in the <b>Chello</b>
                                Referral Terms if the User pays <b>Chello</b> the admin fee of ${{veriable.adminMonthlyFee}}/month or pays the ${{veriable.adminYearlyFee}}
                                per year.
                            </p>
                            
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem4">
                            <h2>Referral payments:<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem4">
                            <p>
                                Every <b>Creator</b> will be given a referral code. In order to qualify for the referral program, the <b>Creator</b> has to pay the admin fee of ${{veriable.adminMonthlyFee}} per month or ${{veriable.adminYearlyFee}} per year. The <b>Creator</b> will be paid a 2% referral revenue every month on the 3rd, for the <b>Creators</b> they refer to Chello. The 2% is from the referred <b>Creator </b>business for the previous month. This is one-third of the 6% Chello receives. There is a 24 months time limit on the referrals which begins when the referred <b>Creator </b>pays their first admin fee.
                            </p>
                            <p>For example, <b>Creator </b>A refers to <b>Creators</b> B and C to Chello. In March, <b>Creator </b>B made $6000 and <b>Creator </b>C made $4000. On April 3, <b>Creator </b>A will have credited $200 referral revenue.</p>

                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem5">
                            <h2>How are referral payments calculated?<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem5">
                            <p>
                                Once a Referred <b>Creator</b> has become a registered User of<b> Chello</b> in accordance with the rules of the<b> Chello</b> Referral Program described above, the Referring User will be paid a referral payment equal to two per cent (2%) of Fan Payments generated by the Referred <b>Creator</b>. There is a 24 months time limit on the referral terms, which begins when the referred <b>Creator</b> pays their first admin fee.
                            </p>
                            
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem6">
                            <h2>How frequently are referral payments made?<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem6">
                            <p>
                                The referral payment due to you on <b>Fan</b> Payments made to the Referred <b>Creator</b> in a calendar month will be transferred to you on the 3rd day of the next calendar month (which means, for example, that referral payments due to you in respect of <b>Fan</b> Payments made to the Referred <b>Creator</b> in April shall be paid to you on or around May 3rd).
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem7">
                            <h2>Who bears the cost of the referral payment?<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem7">
                            <p>
                                The cost of the referral payment is borne by us, not the Referral <b>Creator</b>.
                            </p>
                        </div>
                    </div>

                   

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
