<app-header></app-header>
<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">REFERRAL </p>
        </div>
        <div class="detail-privacy-text">
            <p class="font-16 "><b>Last updated: May 1, 2022
                </b></p>
            <p class="font-16 font-bold">Important Notice</p>
            <p class="font-16 color-dark-grey">In compliance with regulation 3 of the Trading Scheme Regulations
                1997 (as amended) and section 120(1) of the Fair Trading Act 1973, please read the warning below in
                respect of the <b>Chello</b> Referral Terms:
            </p>
            <p class="font-16 color-dark-grey">It is illegal for us or for a participant in the <b>Chello</b>
                Referral Terms (including Referring Creators and Referred Creators) to persuade anyone to make a
                payment by promising benefits from getting others to join the <b>Chello</b> Referral Terms.
                Do not be misled by claims that high earnings are easily achieved from participation in the
                <b>Chello</b> Referral Terms.
            </p>

            <div class="faq_colapse">
                <div class="accordions">
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem1">
                            <h2>I am a Creator, and know other Creators. Is there a referral program with Chello?<i
                                    class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem1">
                            <p>
                                Yes, there is a referral program with <b>Chello</b>. Every <b>Creator</b> will be
                                given a referral code. In order to qualify for the referral program, the
                                <b>Creator</b> has to pay the admin fee of $25 per month or $240 annual. The
                                <b>Creator</b> will be paid a 3% referral revenue every month on the 3rd, for the
                                <b>Creators</b> they referred to <b>Chello</b>. The 3% is from the referred
                                <b>Creator</b> business for the previous month. This is one half of the 6%
                                <b>Chello</b> receives.
                            </p>
                            <p>
                                For example, <b>Creator</b> A refers to <b>Creators</b> B and C to <b>Chello</b>. In
                                March, <b>Creator</b> B made $6000 and <b>Creator</b> C made $4000. On April 3,
                                <b>Creator</b> A will have credited $300 referral revenue.
                            </p>
                            <p><b>Introduction:</b> The Referral Terms are additional terms which apply if you use
                                the <b>Chello</b> Referral Terms. These Referral Terms form part of your agreement
                                with us.</p>
                            <p><b>Interpretation:</b> In these Referral Terms defined terms have the same meanings
                                given to them in the Terms of Use for all Users. In addition:</p>
                            <p>"Referring User" is also referred to as "you" or "your" in these Referral Terms;
                                "Referred <b>Creator</b>" means the person who joins Chello as a <b>Creator</b> via
                                the Referring <b>Creator’s</b> referral link.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem2">
                            <h2>What are the Chello Referral Terms? <i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem2">
                            <p>
                                <b>Chello</b> offers a referral program by which existing <b>Creators</b> can
                                introduce people who are interested in becoming <b>Creators</b> to <b>Chello</b> and
                                receive referral payments from <b>Chello</b> which are calculated and ongoing as
                                described in these Referral Terms.
                            </p>
                            <p>The <b>Chello</b> Referral Terms are operated by <b>Chello, LLC.</b> </p>

                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem3">
                            <h2>The rules of the Chello Referral Terms:<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem3">
                            <p>
                                *Only Users of <b>Chello</b> with a current User account can participate in the <b>Chello</b>
                                Referral Terms if the User pays <b>Chello</b> the admin fee of $25/mth or pays the $240
                                annual.
                            </p>
                            <p>
                                *If a User's account has been suspended or terminated by us for any reason or deleted by the User, that User will not be eligible to participate in the <b>Chello</b> Referral Terms.
                                </p>
                            <p>*You will need on your User account page to add a bank account or a payment method details of your bank account or a payment method in order to receive referral payments under the <b>Chello</b> Referral Terms.</p>
                            <p>*Each User has a referral link (which can be accessed via the User's User account) which the User may share with others. When sharing your referral link you must not impersonate <b>Chello</b> or give the impression that your referral link is being shared or promoted by us.</p>
                            <p>*You must not use Google Ads or any similar advertising platform or search engine advertising service to share or promote your referral link. </p>
                            <p>*Upon our request, you must disclose the methods by which you share your referral link in the Bio/Website field of your <b>Chello</b> account.</p>
                            <p>
                                *The Referred <b>Creator</b> must click on your referral link and then register with <b>Chello</b> using the same browser that they used to click on your referral link or enter it when signing up for an account. 
                                </p>
                            <p>*If someone registers with <b>Chello</b> other than by using your referral link, or does not enter it when signing up for an account, we will not link that account to your referral and no referral payments will be made to you.</p>
                            <p>*If the Referred <b>Creator</b> is currently or has previously been a User of <b>Chello</b>, no referral payments will be made to you for the referral.</p>
                            <p>*No referral payments will be made to you on any referral of a Referred <b>Creator</b> which we determine is owned or operated by you, or is in a commercial relationship with you. You will provide any information which we request to enable us to determine whether the Referred <b>Creator</b> is owned or operated by you or if there is a commercial relationship between you and the Referred <b>Creator</b>.</p>
                            <p><b>Warning:</b> In compliance with regulation 3 of the Trading Scheme Regulations 1997 (as amended) and section 120(1) of the Fair Trading Act 1973, please read the warning below in respect of the <b>Chello</b> Referral Terms:</p>
                            <p>*It is illegal for us or for a participant in the <b>Chello</b> Referral Terms (including Referring Users and Referred Creators) to persuade anyone to make a payment by promising benefits from getting others to join the <b>Chello</b> Referral Terms.</p>
                            <p>*Do not be misled by claims that high earnings are easily achieved from participation in the <b>Chello</b> Referral Terms.</p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem4">
                            <h2>You agree that when promoting OnlyFans in any way as a Referring User:<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem4">
                            <p>
                                *you will not give a false impression of <b>Chello</b>, the services,terms, and content (including Content) made available through <b>Chello</b>, its Users or the Terms of Service; and
                            </p>
                            <p>*you will not make any statements which suggest to a potential <b>Creator</b> that the potential <b>Creator</b> will make a particular sum of money (or any money) from their use of <b>Chello</b>, or any statements regarding the likely number of Fans.</p>

                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem5">
                            <h2>Referral payments:<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem5">
                            <p>
                                Every <b>Creator</b> will be given a referral code. In order to qualify for the referral program, the <b>Creator</b> has to pay the admin fee of $25 per month or $240 annual. The <b>Creator</b> will be paid a 3% referral revenue every month on the 3rd, for the <b>Creators</b> they referred to <b>Chello</b>. The 3% is from the referred <b>Creator</b> business for the previous month. This is one half of the 6% Chello receives. There is no time limit on the referrals.
                            </p>
                            <p>For example, <b>Creator</b> A refers to <b>Creators</b> B and C to <b>Chello</b>. In March, <b>Creator</b> B made $6000 and <b>Creator</b> C made $4000. On April 3, <b>Creator</b> A will have credited $300 referral revenue.</p>
                            <p><b>How are referral payments calculated? </b></p>
                            <p>Once a Referred <b>Creator</b> has become a registered User of <b>Chello</b> in accordance with the rules of the <b>Chello</b> Referral Program described above, the Referring User will be paid a referral payment equal to three per cent (3%) of Fan Payments generated by the Referred <b>Creator</b>. There is no maximum or time limit on the referral terms.</p>
                            <p><b>How frequently are referral payments made? </b></p>
                            <p>The referral payment due to you on <b>Fan</b> Payments made to the Referred <b>Creator</b> in a calendar month will be transferred to you on the 3rd day of the next calendar month (which means, for example, that referral payments due to you in respect of <b>Fan</b> Payments made to the Referred <b>Creator</b> in April shall be paid to you on or around May 3rd).</p>
                            <p><b>Who bears the cost of the referral payment?</b></p>
                            <p>The cost of the referral payment is borne by us, not the Referral <b>Creator</b>.</p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#ritem6">
                            <h2>Our rights relating to the referral program<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="ritem6">
                            <p>
                                If referral payments have been made incorrectly then we have the right to recover the wrongly paid sums from the User to whom the wrongly paid sums have been paid.
                            </p>
                            <p>We may request you or Referred Creators (or both) to provide us with ID and other information reasonably required by us to verify any referral payment to be made and the person to whom any referral payment should be made. Failure to provide any information requested by us may lead to you losing your entitlement to referral payments in respect of the relevant Referred Creator.</p>
                            <p>We may change any aspect of the <b>Chello</b> Referral Terms (including how referral payments are calculated) or discontinue the <b>Chello</b> Referral Terms at any time, but no change will deprive any Referring User of referral payments already earned based on Fan Payments made to Referred Creators before the changes came into effect.</p>
                            <p>Circumstances in which we may withhold referral payments:</p>
                            <p>We may withhold all or any part of the referral payments due to you but not yet paid out:</p>
                            <p>if we think that you have or may have seriously or repeatedly breached any part of the Terms of Service;</p>
                            <p>if you attempt or threat to breach any part of the Terms of Service in a way which has or could have serious consequences for us or another User (including actual or possible loss caused to us or another User); or</p>
                            <p>if we suspect that all or any part of the referral payments due to you result from unlawful or fraudulent activity, either by you, by the Fan who made the Fan Payment to the Referred Creator which resulted in the referral payment, or by the Referred Creator to whom the Fan Payment was made which resulted in the referral payment,</p>
                            <p>for as long as is necessary to investigate the actual, threatened or suspected breach(es) by you or the suspected unlawful or fraudulent activity (as applicable). If following our investigation, we conclude that,</p>
                            <p>(a) you have seriously or repeatedly breached any part of the Terms of Service; </p>
                            <p>(b) you have attempted or threatened to breach any part of the Terms of Service in a way which has or could have serious consequences for us or another User (including actual or possible loss caused to us or another User), and/or</p>
                            <p>(c ) all or any part of referral payments due to you result from unlawful or fraudulent activity, we may notify you that you have forfeited all or any part of your referral payments.</p>
                            <p>We may also withhold all or any part of the referral payments due to you but not yet paid out if we receive notice that you have secured, encumbered, pledged, assigned, or otherwise allowed a lien to be placed on, referral payments. We undertake no duty to pay referral payments to third-party lienholders and may withhold payment of Creator Earnings until the lien has been removed.</p>

                            <p>We shall not have any responsibility to you if we withhold or forfeit any payment due to you under the <b>Chello</b> Referral Terms where we have a right to do so under these Referral Terms.</p>
                            <p>If we are withholding all or any part of the referral payments due to you and we determine that part of the referral payments withheld by us is unrelated to breaches by you of the Terms of Service or suspected unlawful or fraudulent activity, then we may arrange for you to be paid the part of the referral payments which is unrelated to breaches by you of the Terms of Service or suspected unlawful or fraudulent activity. 
                            </p>
                            <p>However, you agree that if we consider that your breach(es) of the Terms of Service has or may cause us loss, we may withhold all referral payments due to you but not yet paid and we may set off such amounts against any losses suffered by us.</p>

                        </div>
                    </div>

                   

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
