.timedBtn {       
    width: 100%;
    height: 147px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}

.time-post-title {
    width: 100%;    
    display: flex;
    background: transparent;    
    
    padding: 15px;    
    color: #150AA1;
}

.text-grey {
    color: #9A9A9A;
}


.under-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-row {
    display: flex;
    width: 100%;
    
}