
<app-header-new></app-header-new>
<div class="homepage margin-minus-header profile-edit-main">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-9">
                    <div class="delete-account-div margin-top-mobile">
                        <div class="wrapper-list-main">
                            <div class="wrapper-delete-account-div list-heading-b">
                                <div class="home-middle-div-one  position-relative">
                                    <div class="headding-profile-middle-div d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-blue">
                                            Lists
                                        </p>
                                    </div>
                                </div>
                                <div class="list-create-head">
                                    <a href="" class="color-black font-20" data-toggle="modal"
                                        data-target="#exampleModalCenter"><span class="iconify"
                                            data-icon="akar-icons:plus"></span></a>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <a href="">
                                        <p class="font-16 color-blue">Custom Order</p>
                                    </a>
                                    <a href="" class="font-20 color-black list-margin-r"><span class="iconify"
                                            data-icon="bi:filter-right"></span></a>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <p class="font-16 color-68">Following <br><span
                                            class="font-reg font-12 color-a9">Epmty</span></p>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <p class="font-16 color-68">Followers <br><span
                                            class="font-reg font-12 color-a9">Epmty</span></p>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <p class="font-16 color-68">Fans <br><span
                                            class="font-reg font-12 color-a9">Epmty</span></p>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <p class="font-16 color-68">Likes <br><span
                                            class="font-reg font-12 color-a9">Epmty</span></p>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <p class="font-16 color-68">Close Friends <br><span
                                            class="font-reg font-12 color-a9">Epmty</span></p>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <p class="font-16 color-68">Restricted <br><span
                                            class="font-reg font-12 color-a9">Epmty</span></p>
                                </div>
                            </div>
                            <div class="list-div">
                                <div class="list-d-wrap">
                                    <p class="font-16 color-68">Blocked <br><span
                                            class="font-reg font-12 color-a9">Epmty</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>