
<app-header></app-header>
<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">Complaints Policy</p>
        </div>
        <div class="detail-privacy-text">
            <p class="font-16 "><b>Last updated: May 1, 2022 
                </b></p>

            <p class="font-16 color-dark-grey">This document set out our complaints policy. If you are a User of
                <b>Chello</b>, this Complaints Policy forms part of your agreement with us.
            </p>
            <p class="font-16 color-dark-grey"><b>Chello </b>is operated by <b>WWW Tacete, LLC.</b> We are a limited liability company registered in United
                States of America in the state of Wyoming. Complaints can be sent to
                <a href="mailto:complaints@chello.biz">complaints@chello.biz.</a></p>

            <div class="faq_colapse">
                <div class="accordions">
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse"  data-target="#citem1">
                            <h2>Who can use this Complaints Policy?<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="citem1">
                            <p>
                                Whether or not you are a User of <b>Chello</b>, you can use this Complaints Policy to alert
                                us to any complaint which you have relating to <b>Chello</b>.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse"  data-target="#citem2">
                            <h2>How to make a complaint:<i class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="citem2">
                            <p>If you have a complaint about <b>Chello</b> (including any complaint about Content appearing
                                on <b>Chello</b> or the conduct of a User), please send your complaint to
                                <a href="mailto:complaints@chello.biz">complaints@chello.biz.</a>, including your name, address, contact details, a
                                description of your complaint and, if your complaint relates to Content, the URL for
                                the Content to which your complaint relates.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse"  data-target="#citem3">
                            <h2>How we will deal with complaints of illegal or non-consensual Content: Following
                                receipt of your complaint of illegal or non-consensual Content:<i
                                    class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="citem3">
                            <ul>
                                <li>we will take such steps as we consider to be appropriate to investigate your
                                    complaint within a timescale which is appropriate to the nature of your
                                    complaint;</li>
                                <li>if we require further information or documents from you, we will contact you to
                                    let you know;
                                </li>
                                <li>we will in good faith investigate your complaint within five (5) business days;
                                </li>
                                <li>if we are satisfied that the Content is unlawful or non-consensual, we will
                                    immediately remove such Content, and we will notify you of our decision by email
                                    or other electronic message;
                                </li>
                                <li>if we are satisfied that the Content is not unlawful or non-consensual, we will
                                    notify you of our decision by email or other electronic message.
                                </li>
                                <li>Any dispute regarding our determination that Content is non-consensual will be
                                    submitted by us to a neutral arbitration association at our expense.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse"  data-target="#citem4">
                            <h2>How we will deal with complaints related to copyright infringement:<i
                                    class="fa fa-angle-down"></i></h2>
                        </div>
                        <div class="accordion-content collapse" id="citem4">
                            <p>Complaints related to copyright infringement must be submitted in accordance with our
                                DMCA Policy, and we will respond to copyright infringement complaints as set out in
                                such policy.

                            </p>

                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse"  data-target="#citem5">
                            <h2>How we will deal with other complaints:
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="citem5">
                            <p> Following receipt of other complaints:
                            </p>
                            <ul>
                                <li>we will take such steps as we consider to be appropriate to investigate your
                                    complaint within a timescale which is appropriate to the nature of your
                                    complaint;
                                </li>
                                <li>if we require further information or documents from you, we will contact you to
                                    let you know;

                                </li>
                                <li>we will in good faith take such actions as we consider appropriate to deal with
                                    the issue which your complaint has raised. If you have complained about Content
                                    which appears on <b>Chello</b> and we are satisfied that the Content otherwise breaches
                                    our Policies, we will act quickly to remove such Content;
                                </li>
                                <li>we are not obligated to inform you of the outcome of your complaint.
                                </li>
                                <li>Unjustified or abusive complaints: If you are a User of <b>Chello</b>, you warrant
                                    (which means you make a legally enforceable promise) that you will not make any
                                    complaint under this Complaints Policy which is wholly unjustified, abusive, or
                                    made in bad faith. If we determine that you have breached this warranty, we may
                                    suspend or terminate your User account.
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>