
<app-header-new></app-header-new>
  <div class="homepage margin-minus-header profile-edit-main">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-9">
                    <div class="delete-account-div margin-top-mobile">
                        <div class="wrapper-delete-account-div">
                            <div class="home-middle-div-one position-relative">
                                <div class="headding-profile-middle-div d-flex">
                                    <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                            data-icon="akar-icons:arrow-left"></span></a>
                                    <p class="font-20 font-bold color-blue">
                                        Banking
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="banking-div">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="para-widro-2">
                                        <p class="font-16 font-bold color-blue">Selected Payout System</p>
                                    </div>
                                    <div class="banking-bg-div">
                                        <div class="upper-banking-bg-div">
                                            <p class="font-16 font-bold color-blue">Direct Transfer (OCT)</p>
                                            <p class="font-16 color-blue">Receive your payouts directly into your
                                                bank account via OCT payments (Visa Direct)</p>
                                        </div>
                                        <div class="lower-banking-bg-div-wrapper">
                                            <div class="lower-banking-bg-div">
                                                <p class="font-16 font-medium color-bank">Minimum Withdrwal</p>
                                                <p class="font-16 font-bold color-blue">$20.00</p>
                                            </div>
                                            <div class="lower-banking-bg-div">
                                                <p class="font-16 font-medium color-bank">Processing Time</p>
                                                <p class="font-16 font-bold color-blue">3 Business Days</p>
                                            </div>
                                            <div class="lower-banking-bg-div">
                                                <p class="font-16 font-medium color-bank">Other Features</p>
                                            </div>
                                        </div>
                                        <div class="lower-banking-bg-div-li">
                                            <li class="font-footer font-16 font-bold"><span class="iconify"
                                                    data-icon="akar-icons:arrow-right"></span>No Limits on number of
                                                daily
                                                withdrwals
                                                ($10,000.00 maximum per withdrwal)</li>
                                            <li class="font-footer font-16 font-bold"><span class="iconify"
                                                    data-icon="akar-icons:arrow-right"></span>Payouts are paid into
                                                your bank account via
                                                your VISA or VISA Debit card and processed
                                                by Securion Pay</li>
                                            <li class="font-footer font-16 font-bold"><span class="iconify"
                                                    data-icon="akar-icons:arrow-right"></span>VISA and VISA Debit
                                                only</li>
                                        </div>
                                        <div class="connect-div-banking text-center">
                                            <div class="right-side-button ">
                                                <button>Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-side-btn-divw-2">
                                        <div class="widrow-earning-button text-right">
                                            <p class="color-black font-12"><a href="" class="color-blue">Other
                                                    Payout Options</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="wrapper-Earning option">
                                        <div class="para-widro">
                                            <p class="font-16 font-bold color-blue">Your Bank Account Data</p>
                                        </div>
                                        <div class="input-payments-w-e">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="payment-name-w">
                                                        <label class="font-footer font-16 font-bold">Routing
                                                            Number</label>
                                                        <div class="headding-input-pe position-relative">
                                                            <input type="text" class="w-100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="payment-name-w">
                                                        <label class="font-footer font-16 font-bold">Account
                                                            Number</label>
                                                        <div class="headding-input-pe position-relative">
                                                            <input type="text" class="w-100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="select-drop-city">
                                                        <p class="font-footer font-16 font-bold">Type of Bank
                                                            Account</p>
                                                        <div class="select-pwe">
                                                            <div class="form-group">
                                                                <select class="form-select w-100"
                                                                    aria-label="Default select example">
                                                                    <option selected>Choose</option>
                                                                    <option value="1">SBI</option>
                                                                    <option value="2">BOI</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="select-drop-city">
                                                        <p class="font-footer font-16 font-bold">Country</p>
                                                        <div class="select-pwe">
                                                            <div class="form-group">
                                                                <select class="form-select w-100"
                                                                    aria-label="Default select example">
                                                                    <option selected>USA</option>
                                                                    <option value="1">INDIA</option>
                                                                    <option value="2">CHINA</option>
                                                                    <option value="3">RUSSIA</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="payment-name-w">
                                                        <label class="font-footer font-16 font-bold">First Name</label>
                                                        <div class="headding-input-pe position-relative">
                                                            <input type="text" class="w-100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="payment-name-w">
                                                        <label class="font-footer font-16 font-bold">Last Name</label>
                                                        <div class="headding-input-pe position-relative">
                                                            <input type="text" class="w-100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="payment-name-w">
                                                        <label class="font-footer font-16 font-bold">Business Name (If Applicable)</label>
                                                        <div class="headding-input-pe position-relative">
                                                            <input type="text" class="w-100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="payment-name-w">
                                                        <label class="font-footer font-16 font-bold">Email</label>
                                                        <div class="headding-input-pe position-relative">
                                                            <input type="text" class="w-100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                   <div class="checkbox-w-e-3">
                                                    <div class="form-group">
                                                        <div
                                                            class="check-for-age d-flex div-n-check">
                                                            <input type="checkbox" id="agree"
                                                                name="agree" value="agree">
                                                            <label for="agree"
                                                                class="font-14 color-78">I agree to Chello <a href="" class="color-blue">Terms</a> and <a href="" class="color-blue">Conditions</a></label>
                                                        </div>
                                                    </div>
                                                   </div>
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <div class="div-buttonsav-pay-d">
                                                        <div class="right-side-button ">
                                                            <button>Save Payout Details</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
