<div class="header-div">
    <div class="header-wrapper">
        <div class="logo-for-header text-center">
            <div class="container position-relative">
                <img src="assets/images/Chello Logo_Final-01 3.png" alt="image" />
                <div class="back-arrow-header" *ngIf="isHomePage === false">
                    <a routerLink="/home"><span class="iconify color-white font-32"
                            data-icon="bi:arrow-left"></span></a>
                </div>
                <div class="accordion-item">
                    <a  type="button" name="answer"  data-toggle="collapse" data-target="#sidebar"  class="for-menu-div" aria-expanded="false">
                        <span class="iconify" data-icon="ant-design:menu-fold-outlined"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
