
<app-header></app-header>

<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy text-center">
            <p class="font-20 color-blue font-bold">Features</p>
        </div>
        <div class="features-page">
            <div class="wrapper-features">
                <div class="row">
                    <div class="col-md-5">
                        <div class="features-design-wrapper feature-design-one-div">
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="fluent:live-20-filled"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Live Streaming</p>
                                    <p class="font-18 color-38 ">Where Users shares unedited and raw footage in real time.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <img src="assets/images/Frame 1 (2).png" alt="image">
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Fancams</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <img src="assets/images/Group 36715.png" alt="image">
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Pay Per View Message</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="gridicons:story"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Stories</p>
                                    <p class="font-18 color-38 ">Share all the moments of your day that disappear after 24hrs.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="ant-design:dollar-circle-outlined"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">TIPS</p>
                                    <p class="font-18 color-38 ">Where Fans can TIP Creators throughout Chello.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="akar-icons:mobile-device"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Mobile/Cell Optimized</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="clarity:hashtag-solid"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Hashtags</p>
                                    <p class="font-18 color-38 "> Makes it easier for Users to find info with a theme or specific content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="bi:link-45deg"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Creator Unique URL</p>
                                    <p class="font-18 color-38 ">Creator will have an unique URL to share with to Fans.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="wpf:statistics"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Page Stats</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="icon-park-outline:follow-up-date-sort"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Customize Subscriptions</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="ant-design:user-outlined"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Profile</p>
                                    <p class="font-18 color-38 ">Describe YOU!  Show the World YOU!</p>
                                </div>
                            </div>




                          

                            <!-- <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="fluent:chat-video-20-filled"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Video Chat</p>
                                    <p class="font-18 color-38 ">Where Users can video chat and Creators can do so with Fans.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="clarity:notification-solid-badged"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Instant Notifications</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <img src="assets/images/image 7.png" alt="image">
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">CEEcrets</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="features-design-wrapper feature-design-two-div">
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="akar-icons:airplay-video"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Exclusive Videos</p>
                                    <p class="font-18 color-38 "> Creators share premium exclusive videos to their Fans.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <img src="assets/images/shout-out.png" alt="image">
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Shout Outs</p>
                                    <p class="font-18 color-38 "> The Shout Out feature is where Fans can request short, unique videos from Creators.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="ant-design:audio-filled"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Audio</p>
                                    <p class="font-18 color-38 ">Where Users can record audio messages and share them.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <img src="assets/images/jn.png" alt="image">
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">ChitChat</p>
                                    <p class="font-18 color-38 ">Our version of a “Clubhouse” type feature where it’s all about group audio.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="ph:vault-fill"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Chello Vault</p>
                                    <p class="font-18 color-38 ">Photos, Videos, etc. are stored so Users can repost them at a later date.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="akar-icons:block"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">GEO Blocking</p>
                                    <p class="font-18 color-38 ">Where a Creator can block out a geographical location.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="ri:user-follow-fill"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Elite Fans</p>
                                    <p class="font-18 color-38 ">Where a Creator can see who their elite Fans are for the month and reward them with badges.
                                    </p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="akar-icons:schedule"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Scheduling Posts</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="clarity:group-solid-badged"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Groups</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="fa-solid:poll"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Polls</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <img src="assets/images/image 6.png" alt="image">
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Social Media Integration</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>



                           
                            
                            
                           
                           
                            <!-- <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="bi:chat-heart-fill"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Private Message</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            <div class="features-card">
                                <div class="features-image">
                                    <span class="iconify" data-icon="bxs:timer"></span>
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">Timer</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div>
                            
                            <div class="features-card">
                                <div class="features-image">
                                    <img src="assets/images/image 6.png" alt="image">
                                </div>
                                <div class="features-text">
                                    <p class="font-18 color-blue font-medium">24ent Integration</p>
                                    <p class="font-18 color-38 ">Fans can tip their Followers to keep them in
                                        payroll and create content.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
