<app-message-three *ngIf="showMessageThree" [selectedUsers]="checkedList" (crossButtonEvent)="receivedMessageHandler($event)" (childButtonEvent)="messageSent()"></app-message-three>
<div class="home-middle-div" *ngIf="!showMessageThree">
    <div class=" message-2-title border-bottom-pe">
        <div class="headding-home-middle-div d-flex justify-content-between">
            <p class="font-20 font-bold color-blue">Messages</p>
            <!-- <a href=""> <span class="iconify color-a8 font-18"
                                        data-icon="akar-icons:search"></span></a> -->
        </div>
        <div class="new-message-btn d-flex">
            <div class="search-icon-mess-2">
                <a href=""><span class="iconify color-a8 font-20" data-icon="akar-icons:search"></span></a>
            </div>
            <div class="right-side-button">
                <button (click)=messageThree()><span class="iconify " data-icon="charm:messages"></span> &nbsp; Write
                    Message</button>
            </div>
        </div>
    </div>
    <div class="div-mess-2-ni d-flex border-bottom-pe">
        <div class="notification-tabs">
            <a href="" class="active">All</a>
        </div>
        <div class="notification-tabs">
            <a href="">Followers</a>
        </div>
        <div class="notification-tabs">
            <a href="">Fans</a>
        </div>
    </div>
    <div class="selection-div-mes-2 border-bottom-pe">
        <input type="checkbox" class="largerCheckbox" name="checkBox" (change)=select($event)>
        <label for="checkBox" class="font-14 font-medium color-blue">Select All</label>
    </div>
    <div class="selection-div-mes-2 border-bottom-pe" *ngFor="let item of userList">
        <input type="checkbox" class="largerCheckbox" name="checkBox2" (change)="onSelect(item)" [checked]="item['checkBox']">
        <label for="checkBox2">
            <div class="headding-poll">
                <div class="poll-asked-user d-flex justify-content-between">
                    <div class="wrapper-poll-asked-user">
                        <img src="assets/images/Ellipse 14 (3).png" alt="image" />
                        <div class="user-info-p-a">
                            <p class="font-14 font-bold color-49"> {{item['fullName']}}
                                &nbsp; <span class="iconify font-20 color-light-blue"
                                    data-icon="ic:sharp-verified"></span>
                            </p>
                            <p class="font-14 color-49">I just subscribed your
                                profile.</p>
                        </div>
                    </div>
                </div>
            </div>
        </label>
    </div>
</div>