<app-header-new></app-header-new>
<div class="homepage margin-minus-header  message-wrapper-chello">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-9 message-2-div">
                    <div class="home-middle-div">
                        <div class=" message-2-title border-bottom-pe">
                            <div class="headding-home-middle-div d-flex justify-content-between">
                                <p class="font-20 font-bold color-blue">Messages</p>
                                <!-- <a href=""> <span class="iconify color-a8 font-18"
                                        data-icon="akar-icons:search"></span></a> -->
                            </div>
                            <div class="new-message-btn d-flex">
                                <div class="search-icon-mess-2">
                                    <a href=""><span class="iconify color-a8 font-20" data-icon="akar-icons:search"></span></a>
                                </div>
                                <div class="right-side-button ">
                                    <button><span class="iconify " data-icon="charm:messages"></span> &nbsp; New Message</button>
                                </div>
                            </div>
                        </div>
                        <div class="div-mess-2-ni d-flex border-bottom-pe">
                            <div class="notification-tabs">
                                <a href="" class="active">All</a>
                            </div>
                            <div class="notification-tabs">
                                <a href="">Followers</a>
                            </div>
                            <div class="notification-tabs">
                                <a href="">Fans</a>
                            </div>
                        </div>
                        <div class="selection-div-mes-2 border-bottom-pe">
                            <input type="checkbox" class="largerCheckbox" name="checkBox" >
                            <label for="checkBox" class="font-14 font-medium color-blue">Select All</label>
                        </div>
                        <div class="selection-div-mes-2 border-bottom-pe">
                            <input type="checkbox" class="largerCheckbox" name="checkBox2" >
                            <label for="checkBox2">
                                <div class="headding-poll">
                                    <div class="poll-asked-user d-flex justify-content-between">
                                        <div class="wrapper-poll-asked-user">
                                            <img src="assets/images/Ellipse 14 (5).png"
                                                alt="image" />
                                            <div class="user-info-p-a">
                                                <p class="font-14 font-bold color-49"> Jada Jackson
                                                    &nbsp; <span
                                                        class="iconify font-20 color-light-blue"
                                                        data-icon="ic:sharp-verified"></span>
                                                </p>
                                                <p class="font-14 color-49">@jessicaalba</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="selection-div-mes-2 border-bottom-pe">
                            <input type="checkbox" class="largerCheckbox" name="checkBox3" >
                            <label for="checkBox3">
                                <div class="headding-poll">
                                    <div class="poll-asked-user d-flex justify-content-between">
                                        <div class="wrapper-poll-asked-user">
                                            <img src="assets/images/Ellipse 14 (1).png"
                                                alt="image" />
                                            <div class="user-info-p-a">
                                                <p class="font-14 font-bold color-49"> Craig Saris
                                                    &nbsp; <span
                                                        class="iconify font-20 color-light-blue"
                                                        data-icon="ic:sharp-verified"></span>
                                                </p>
                                                <p class="font-14 color-49">@jessicaalba</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="selection-div-mes-2 border-bottom-pe">
                            <input type="checkbox" class="largerCheckbox" name="checkBox4" >
                            <label for="checkBox4">
                                <div class="headding-poll">
                                    <div class="poll-asked-user d-flex justify-content-between">
                                        <div class="wrapper-poll-asked-user">
                                            <img src="assets/images/Ellipse 14 (3).png"
                                                alt="image" />
                                            <div class="user-info-p-a">
                                                <p class="font-14 font-bold color-49"> Jaxson Lipshutz
                                                    &nbsp; <span
                                                        class="iconify font-20 color-light-blue"
                                                        data-icon="ic:sharp-verified"></span>
                                                </p>
                                                <p class="font-14 color-49">@jessicaalba</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
