<app-header-new></app-header-new>

<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="subscription-head d-flex">
                                    <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                            data-icon="akar-icons:arrow-left"></span></a>
                                    <p class="font-20 font-bold color-blue">
                                        Following
                                        <br>
                                        <span class="font-16 font-reg color-grey">Previous Subscriptions</span>
                                    </p>
                                </div>
                                <div class="first-home-middle-flex ">
                                    <div class="notification-tabs">
                                        <a href="" class="active">All <span>(33)</span></a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Active <span>(8)</span></a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Expired <span>(8)</span></a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Attention Required <span>(22)</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="subscription-details">
                            <div class="wrapper-subscription-page">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="subscription-wrapper-main">
                                            <div class="subscription-detail-div">
                                                <div class="image-for-subscription position-relative">
                                                    <img src="assets/images/9.png" alt="image" />
                                                    <div class="button-for-sub-on-i align-items-center d-flex justify-content-between ">
                                                        <a href="">99+ new Videos</a>
                                                        <div class="">
                                                            <a href=""><span class="iconify" data-icon="bi:share-fill"></span></a>
                                                            <a href=""><span class="iconify" data-icon="carbon:overflow-menu-vertical"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="user-detail-for-subscription">
                                                    <div class="wrapper-poll-asked d-flex align-items-end">
                                                        <img src="assets/images/Ellipse 9.png" class="round-image2"
                                                            alt="image" />
                                                        <div class="user-info-p-a">
                                                            <p class="font-14 font-bold color-49"> Jesica Alba &nbsp; <span
                                                                    class="iconify font-20 color-light-blue"
                                                                    data-icon="ic:sharp-verified"></span>
                                                            </p>
                                                            <p class="font-14 color-49">@Jesicaalba</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="paragraph-for-sub">
                                                    <p class="font-14 color-light-blue font-medium">Limited Offer - Free Trial for 30 days!</p>
                                                    <p class="font-14 color-black">Ready to subscribe? knock me!</p>
                                                </div>
                                                <div class="button-for-subscription">
                                                    <button class="w-100">SUBSCRIBE &nbsp; Free for 30 days</button>
                                                </div>
                                                <div class="paragraph-for-sub d-flex align-items-center justify-content-between">
                                                    <p class="color-82 font-14">Expired</p>
                                                    <p class="color-82 font-14">August 2021</p>
                                                </div>
                                                <div class="button-collapse-sub">
                                                    <div class="accordion-item">
                                                        <div class="accordion-title text-center" data-toggle="collapse" data-target="#teitem1">
                                                            <p class="font-14 color-82">View Bundles &nbsp;<i class="fa fa-angle-down"></i></p>
                                                        </div>
                                                        <div class="accordion-content collapse" id="teitem1">
                                                            <div class="button-for-subscription">
                                                                <button class="w-100">12 MONTHS (20% off) &nbsp; $160 total</button>
                                                                <button class="w-100">6 MONTHS (20% off) &nbsp; $80 total</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="subscription-wrapper-main ">
                                            <div class="subscription-detail-div">
                                                <div class="image-for-subscription position-relative">
                                                    <img src="assets/images/11.png" alt="image" />
                                                    <div class="button-for-sub-on-i align-items-center d-flex justify-content-between ">
                                                        <a href="">99+ new Videos</a>
                                                        <div class="">
                                                            <a href=""><span class="iconify" data-icon="bi:share-fill"></span></a>
                                                            <a href=""><span class="iconify" data-icon="carbon:overflow-menu-vertical"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="user-detail-for-subscription">
                                                    <div class="wrapper-poll-asked d-flex align-items-end">
                                                        <img src="assets/images/Ellipse 10.png" class="round-image2"
                                                            alt="image" />
                                                        <div class="user-info-p-a">
                                                            <p class="font-14 font-bold color-49"> Jesica Alba &nbsp; <span
                                                                    class="iconify font-20 color-light-blue"
                                                                    data-icon="ic:sharp-verified"></span>
                                                            </p>
                                                            <p class="font-14 color-49">@Jesicaalba</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="paragraph-for-sub">
                                                    <p class="font-14 color-light-blue font-medium">Limited Offer - Free Trial for 30 days!</p>
                                                    <p class="font-14 color-black">Ready to subscribe? knock me!</p>
                                                </div>
                                                <div class="button-for-subscription">
                                                    <button class="w-100">SUBSCRIBE &nbsp; Free for 30 days</button>
                                                </div>
                                                <div class="paragraph-for-sub d-flex align-items-center justify-content-between">
                                                    <p class="color-82 font-14">Expired</p>
                                                    <p class="color-82 font-14">August 2021</p>
                                                </div>
                                                <div class="button-collapse-sub">
                                                    <div class="accordion-item">
                                                        <div class="accordion-title text-center" data-toggle="collapse" data-target="#teitem2">
                                                            <p class="font-14 color-82">View Bundles &nbsp;<i class="fa fa-angle-down"></i></p>
                                                        </div>
                                                        <div class="accordion-content collapse" id="teitem2">
                                                            <div class="button-for-subscription">
                                                                <button class="w-100">12 MONTHS (20% off) &nbsp; $160 total</button>
                                                                <button class="w-100">6 MONTHS (20% off) &nbsp; $80 total</button>
                                                                <button class="w-100">3 MONTHS (20% off) &nbsp; $40 total</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="subscription-wrapper-main">
                                            <div class="subscription-detail-div">
                                                <div class="image-for-subscription position-relative">
                                                    <img src="assets/images/10.png" alt="image" />
                                                    <div class="button-for-sub-on-i align-items-center d-flex justify-content-between ">
                                                        <a href="">99+ new Videos</a>
                                                        <div class="">
                                                            <a href=""><span class="iconify" data-icon="bi:share-fill"></span></a>
                                                            <a href=""><span class="iconify" data-icon="carbon:overflow-menu-vertical"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="user-detail-for-subscription">
                                                    <div class="wrapper-poll-asked d-flex align-items-end">
                                                        <img src="assets/images/Ellipse 10 (1).png" class="round-image2"
                                                            alt="image" />
                                                        <div class="user-info-p-a">
                                                            <p class="font-14 font-bold color-49"> Jesica Alba &nbsp; <span
                                                                    class="iconify font-20 color-light-blue"
                                                                    data-icon="ic:sharp-verified"></span>
                                                            </p>
                                                            <p class="font-14 color-49">@Jesicaalba</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="paragraph-for-sub">
                                                    <p class="font-14 color-light-blue font-medium">Limited Offer - Free Trial for 30 days!</p>
                                                    <p class="font-14 color-black">Ready to subscribe? knock me!</p>
                                                </div>
                                                <div class="button-for-subscription">
                                                    <button class="w-100">SUBSCRIBE &nbsp; Free for 30 days</button>
                                                </div>
                                                <div class="paragraph-for-sub d-flex align-items-center justify-content-between">
                                                    <p class="color-82 font-14">Expired</p>
                                                    <p class="color-82 font-14">August 2021</p>
                                                </div>
                                                <div class="button-collapse-sub">
                                                    <div class="accordion-item">
                                                        <div class="accordion-title text-center" data-toggle="collapse" data-target="#teitem3">
                                                            <p class="font-14 color-82">View Bundles &nbsp;<i class="fa fa-angle-down"></i></p>
                                                        </div>
                                                        <div class="accordion-content collapse" id="teitem3">
                                                            <div class="button-for-subscription">
                                                                <button class="w-100">12 MONTHS (20% off) &nbsp; $160 total</button>
                                                                <button class="w-100">6 MONTHS (20% off) &nbsp; $80 total</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
