<app-header></app-header>

<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">FAQ</p>
        </div>
        <div class="detail-privacy-text">
            <p class="font-16 "><b>Last updated: May 1, 2022
                </b></p>

            <div class="faq_colapse">
                <div class="accordions">
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem1">
                            <h2> What is Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem1">
                            <p><b>Chello</b> is a social media platform, enhancing the Creator and the Fan
                                connection! <b>Chello</b> saw that the Creator was giving away 15-20% of their
                                earnings to companies like OnlyFans, Fansly, Fanvue, Fancentro, and others. With
                                <b>Chello</b>, Creators keep {{veriable.creatorKeeps}}% of their earnings!
                            </p>

                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem2">
                            <h2>What is the website of Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem2">
                            <p>The website is <a href="www.chello.world">www.chello.world</a>.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem3">
                            <h2>How much does a Creator keep of their earnings with Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem3">
                            <p>A Creator keeps 94% of their earnings with <b>Chello</b>.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem4">
                            <h2>How much does Chello keep of the Creator earnings?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem4">
                            <p><b>Chello</b> keeps only {{veriable.chelloCommission}}% of the Creator earnings.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem5">
                            <h2>What other costs does Creator have to pay on the Chello platform?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem5">
                            <p>With making sure the <b>Creator</b> takes home 94% of their earnings, <b>Chello</b>
                                has a monthly admin fee of ${{veriable.adminMonthlyFee}} per month that the <b>Creator</b> pays, once they are
                                ready to create/produce on the <b>Chello</b> platform, or they can pay ${{veriable.adminYearlyFee}} annually
                                upfront. This is a $300 per year expense (if paid monthly), a cost of doing
                                business, that the <b>Creator</b> pays <b>Chello</b>. The cost saved by taking home
                                94%, does not even measure up to this expense!</p>
                            <p>Only other fee <b>Creator</b> pays is a transaction fee of $1.50 when <b>Creator</b>
                                is getting paid.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem6">
                            <h2>When does the Creator get paid with Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem6">
                            <p><b>Chello</b> pays the <b>Creator</b> on the 3rd, 10th, 20th, and 28th of each month.
                                However, <b>Creator</b> can request to get paid on any other day if needed, then the
                                transaction fee will be $10. NO OTHER HIDDEN FEES.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem14">
                            <h2>Is there a minimum payout that Chello requires to pay?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem14">
                            <p><b>Chello</b> encourages <b>Creators</b> to wait for a minimum payout of $30.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem7">
                            <h2>Is there a monthly cost for Fans to use the Chello platform?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem7">
                            <p>There is no monthly cost for <b>Fans</b> to use <b>Chello</b> platform. Obviously,
                                <b>Fans</b> can subscribe to <b>Creators</b> at their choosing.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem8">
                            <h2>So, both Creators and Fans can be on Chello for FREE?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem8">
                            <p>Yes, that is correct. A <b>Creator</b> can join the <b>Chello</b> platform for FREE.
                                The <b>Creator</b> is only charged when they are ready to begin
                                creating/producing,etc. The <b>Fan</b> will only be charged if subscribing to a
                                <b>Creator</b>.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem9">
                            <h2>What are the features on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem9">
                            <p><a routerLink="/features">See Chello Features</a></p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem10">
                            <h2>What set Chello apart from other platforms?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem10">
                            <p><b>Chello</b> treats every <b>Creator</b> like a business partner and a STAR! Each
                                <b>Creator</b> will have the same opportunity to succeed as anyone. Also,
                                <b>Chello</b> makes sure the <b>Creator</b> takes more money home to their
                                family….94% of <b>Creator</b> Earnings go Home! <b>Chello</b> also offers many
                                different revenue streams for the <b>Creator</b>. <b>Creators</b> will also have the
                                opportunity to create their own marketplace on <b>Chello.</b>
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem11">
                            <h2>Is there an app for Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem11">
                            <p>There is no app for <b>Chello</b>. However, the website is mobile optimized as we
                                know, users will use mobile phones frequently for <b>Chello</b>.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem42">
                            <h2>Is there a verification process for Creators on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem42">
                            <p>Yes, all <b>Creators</b> will be verified on <b>Chello</b>. Before your verification
                                is complete which usually will be within 24 hours, you can start building your
                                <b>Chello</b> page while verification is being verified.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem43">
                            <h2>What must a Creator provide to Chello to get verified?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem43">
                            <p>A <b>Creator</b> to get verified by <b>Chello</b> must provide the following:
                            </p>
                            <ul>
                                <li>*Legal Country of Residence</li>
                                <li>*Address</li>
                                <li>*Birthday</li>
                                <li>*Verify at Least 18 Years of Age
                                </li>
                                <li>*Upload ID (Drivers License, Passport, or Government Issued ID)</li>
                                <li>*Upload ID 2 (Please Take a Selfie With Your ID)</li>
                                <li>*Add Instagram, Twitter or Facebook to Assist With Account Verification</li>

                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem23">
                            <h2>How will I know how much I am earning on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem23">
                            <p>On <b>Chello</b>, to see your earnings, you can view it directly from your
                                dashboard/profile.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem24">
                            <h2>What does my dashboard/profile do with Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem24">
                            <p>Your dashboard/profile is where you can access features of <b>Chello</b> as a
                                <b>Creator</b>. You can see your earnings and statistics; like how much money you
                                have been paid so far, the amount of your next payment, or how many people are
                                subscribed to you. You can manage your content; like posting photos or videos, add
                                captions to posts, or reply to comments on posts. You can interact with your
                                <b>Fans</b>; like sending messages or checking new messages. You also can change
                                your settings, update your documents, or change payment information.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem25">
                            <h2>If I do not have a bank account, can I still get paid from Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem25">
                            <p>Yes, you can still get paid from <b>Chello</b> if you do not have a bank account.
                                Please email us at <a href="mailto:payment@chello.biz">payment@chello.biz</a> for details.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem32">
                            <h2>Does Chello accept cryptocurrency payments also?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem32">
                            <p><b>Chello</b> does accept cryptocurrency payment. We support payment in the following cryptocurrencies:
                            </p>
                            <ul>
                                <li>Bitcoin (BTC: on-chain, off-chain with Coinbase, and Lightning)</li>
                                <li>Bitcoin Cash (BCH)</li>
                                <li> Ethereum (ETH)</li>
                                <li>Wrapped Bitcoin (WBTC)</li>
                                <li>Dogecoin (DOGE)</li>
                                <li>Litecoin (LTC)</li>
                                <li>Litecoin (LTC)</li>
                                <li>5 USD-pegged stablecoins (GUSD, USDC, USDP, DAI, and BUSD)</li>
                            </ul>
                            <p>Note: We only accept ERC-20 coins on the ETH network.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem12">
                            <h2>How can I share to my social media about new content on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem12">
                            <p>We encourage you to post on Facebook, Instagram, Twitter, Snapchat, TikTok, Flow,
                                etc., every time you have new content, let the world know. Also remember, you as a
                                <b>Creator</b>, will have a <b>Creator Unique URL</b> that you will be able to share
                                with people.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem13">
                            <h2>What is a Creator Unique URL?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem13">
                            <p>When a <b>Creator</b> is ready to start creating/producing to <b>Fans</b>, they will
                                be given a <b>Creator Unique URL</b>. The <b>Creator Unique URL</b> will be as
                                follows: <a href="javascript:void(0)">www.chello.world/Creator/UserName.</a></p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem15">
                            <h2>Are there restrictions on the contents that I can post on Chello?

                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem15">
                            <p>As long as it is legal and and no one under 18 years of age is in it, you have the
                                liberty to post YOUR OWN CONTENT. Please make sure it complies with the local laws
                                of the country you live in.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem16">
                            <h2>Can I post other company logos in photos and videos on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem16">
                            <p><b>Chello</b> does not allow any photos or videos that have logos of other platforms
                                or links to other platforms on our website.<b> Chello</b> reserves the right to
                                remove anything that may cause an issue.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem17">
                            <h2>Is it easy to upload videos and photos on Chello since it is not an app?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem17">
                            <p><b>Chello</b> is a web application that runs on your browser. Chrome, Mozilla
                                Firefox, and Safari are our recommended browsers. Chello’s website works very
                                smoothly, however, if you are in the process of uploading content to your profile,
                                the best way to ensure a successful upload is to leave the browser window open while
                                uploading to not potentially interrupt the upload. Obviously, the speed of upload
                                depends on your internet speed. We recommend, when uploading, that is the only thing
                                you do until the upload is done.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem18">
                            <h2>Can any user see my content on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem18">
                            <p>On <b>Chello</b>, all of the public facing content is 1000% safe for work. Having
                                significant marketing exposure on social media, we do not permit any adult in front
                                of the paywall. Only <b>Fans</b> that subscribe to <b>Creators</b> can access your
                                feed content and exclusive content which may contain adult. Other <b>Fans</b> can
                                pay to view unique content you may want to provide. As aCreator, you can upload teasers
                                (free content), and these are the public facing posts, which are more like social
                                media rather than exclusive content.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem28">
                            <h2>Can a Fan follow me on Chello for free?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem28">
                            <p>Yes, a <b>Fan </b>can follow a <b>Creator </b>for free on Chello. However, for
                                content
                                that a <b>Creator </b>deems exclusive, a <b>Fan </b>then must subscribe to that
                                <b>Creator</b>. The fact that <b>Fans</b> can follow content <b>Creators</b> for
                                free
                                before choosing to subscribe, will give content <b>Creators</b> more freedom to
                                promote
                                their channels and encourage more <b>Fans</b> to subscribe.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem29">
                            <h2>Can a Fan search for a Creator on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem29">
                            <p>Yes, a <b>Fan</b> can search for a <b>Creator</b> on <b>Chello</b>. With the Search,
                                a
                                user can search for <b>Creators</b> or <b>Posts</b>.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem19">
                            <h2>Does Chello have Geo-blocking?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem19">
                            <p><b>Chello</b> gives the <b>Creator</b> the ability to geo-block if they wish to hide
                                their content in that country. This is done on the Profile page.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem20">
                            <h2>What are ways that a Creator can make money on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem20">
                            <p><b>Creators</b> can make money on <b>Chello</b> through subscriptions, exclusive
                                content, limited content, and TIPS! <b>Chello</b> is constantly brainstorming on
                                other ways <b>Creators</b> can make money.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem21">
                            <h2>How much money can I really make on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem21">
                            <p><b>Chello</b> gives you the platform where it is unlimited in terms of how much money
                                a <b>Creator</b> can earn. <b>Chello</b> is constantly adding new features and
                                revenue streams to help <b>Creators</b> maximize their profits. The amount of money
                                you earn is usually directly proportional to how much you promote your <b>Chello</b>
                                link to your social media followers, how often you engage with your <b>Fans</b>, how
                                often you update your content, and the quality of your content. The sky's the limit!
                                So share your <b>Chello</b> link in your Instagram bio and posts, Facebook Bio and
                                posts,Twitter bio and posts, and all of your social media networks, inviting them to
                                come see you on <b>Chello</b>.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem22">
                            <h2>Will my Fans and I be able to use Chello on their mobile/cell phones?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem22">
                            <p><b>Chello’s</b> website has been designed to be fully mobile so it should provide an
                                app-like experience on both phones and tablets.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem26">
                            <h2>What Creators use Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem26">
                            <p>Any <b>Creator</b> can use <b>Chello</b>! We see <b>Creators</b> in the following:
                            </p>
                            <ul>
                                <li>Fashion/Modeling
                                </li>
                                <li>Health/Fitness</li>
                                <li>Travel</li>
                                <li>Comedy </li>
                                <li>Gaming</li>
                                <li>Cooking</li>
                                <li>DIY</li>
                                <li>Beauty</li>
                                <li>Influencer</li>
                                <li>Investor</li>
                                <li>Adult Content </li>
                            </ul>
                            <p>Remember, <b>Creators + Fans = Chello!</b>
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem27">
                            <h2>I am a Creator, and know other Creators. Is there a referral program with Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem27">
                            <p>Yes, there is a referral program with <b>Chello</b>. Every <b>Creator</b> will be
                                given a
                                referral code. In order to qualify for the referral program, the <b>Creator</b> has
                                to
                                pay the admin fee of ${{veriable.adminMonthlyFee}} per month or ${{veriable.adminYearlyFee}} annual. The <b>Creator</b> will be paid a
                                4%
                                referral revenue every month on the 3rd, for the <b>Creators</b> they referred to
                                <b>Chello</b>. The 4% is from the referred <b>Creator</b> business for the previous
                                month. This is one half of the 6% <b>Chello</b> receives.
                            </p>
                            <p>The referral fees are good for 24 months starting from when the referred Creator pays their first admin fee.</p>
                            <p>For example, <b>Creator</b> A refers to <b>Creators</b> B and C to <b>Chello</b>. In
                                March, <b>Creator</b> B made $6000 and <b>Creator</b> C made $4000. On April 3,
                                <b>Creator</b> A will have credited $200 referral revenue.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem30">
                            <h2>Who determines the prices to charge for subscriptions on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem30">
                            <p><b>Creators</b> determine their prices to charge for subscriptions on <b>Chello</b>.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem31">
                            <h2>Does Chello secure the Creators exclusive content?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem31">
                            <p>Yes, <b>Chello</b> secures the <b>Creator’s</b> exclusive content via a paywall and
                                other
                                methods.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem40">
                            <h2>Is there a requirement on the subscription fee you can charge a Fan?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem40">
                            <p>The minimum fee for a <b>Fan</b> subscription is $5.00. There is a maximum fee of $200. Average success subscriptions is between $5-$25 per month. All depends on
                                the content you are providing.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem41">
                            <h2>What is the requirement on premium exclusive content?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem41">
                            <p>The only requirement on premium exclusive content is a minimum charge that <b>Fan</b>
                                pays of $3.00. <b>Fans</b> who follow your page will have to pay to unlock this
                                exclusive content in addition to their regular monthly subscription so remember not
                                to make all of your posts chargeable.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem34">
                            <h2>What happens if a User tries to take a screenshot or record on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem34">
                            <p>Users who attempt to take a screenshot or record a video of the content will be
                                banned if they are caught. <b>Chello’s Privacy Policy</b> is strict on this
                                attempted behavior.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem35">
                            <h2>Can you broadcast content simultaneously to a larger audience on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem35">
                            <p>It is possible to broadcast content simultaneously to a large audience as a <b>Chello
                                    Creator</b>.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#naitem35">
                            <h2>Can Podcasters, Musicians, Dancers, and Artists use Chello’s platform?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="naitem35">
                            <p>Yes, Podcasters, Musicians, Dancers, Artists can use Chello’s platform. Don’t forget
                                about the following:
                            </p>
                            <ul>
                                <li>Fashion/Modeling
                                </li>
                                <li>Health/Fitness</li>
                                <li>Travel</li>
                                <li>Comedy</li>
                                <li>Gaming</li>
                                <li>Cooking</li>
                                <li>DIY</li>
                                <li>Beauty </li>
                                <li>Influencer </li>
                                <li>Investor</li>
                                <li>Adult Content
                                </li>
                                <p>Remember, <b>Creators + Fans = Chello</b>!
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem37">
                            <h2>What are some topics that you also might see on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem37">
                            <p>Some Popular topics may include:
                            </p>
                            <ul>
                                <li>Cooking Shows
                                </li>
                                <li>Make-up Tutorials
                                </li>
                                <li>Fashion Tips
                                </li>
                                <li>Workouts</li>
                                <li>Meditations and Alternative Health
                                </li>
                                <li>DIY Tutorials
                                </li>

                                <li>Video Gaming
                                </li>
                                <li>Adult Content </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem38">
                            <h2>What are some ways to promote my Chello page?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem38">
                            <p>TikTok, SnapChat, Instagram, YouTube, Twitter, Reddit, Clubhouse, Flow any other social media,
                                your very own website, podcast, etc…..anywhere there are people, PROMOTE your
                                <b>Chello</b> page!
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem39">
                            <h2>Top tips for making money on Chello?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem39">
                            <p>Interact with your <b>Fans!</b> Interaction is key to success on <b>Chello</b>, which
                                builds a loyal Fanbase.<b> Chello</b> is a platform where you cannot just create a post
                                and then step away. <b>Fans</b> want to get to know your content and what you are
                                selling.Most subscribers are paying monthly for the chance to interact with you on a
                                more personal level so make sure to give them what they want to keep them coming.
                            </p>
                            <p>Post Frequently! Being active on <b>Chello</b> is extremely important as fans do see
                                indications of when you were last on. We believe a <b>Creator</b> should post at least
                                once per day. Remember, you can schedule your posts also. Make sure you post a variety
                                of content including videos, photos, audio, your story, etc.</p>
                            <p>Offer Exclusive Content! Make sure the content you post for your paying subscribers is
                                EXCLUSIVE and not available anywhere else! If your <b>Fans</b> find out your content is
                                not exclusive, then you will have to deal with refunds:(. Exclusivity is the key!</p>
                            <p>Focus on Great Customer Service! Don’t make it all about the money! Be genuine and
                                success will follow.</p>

                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem33">
                            <h2>Does Chello appear on bank statements? How will it appear in the statement?
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="accordion-content collapse" id="aitem33">
                            <p>Yes, <b>Chello</b> will appear on bank statements. It will appear on the statements
                                as a
                                Chello, LLC.
                            </p>
                        </div>
                    </div>




                </div>
            </div>
        </div>

        <div class="main-table-wrapper-ab margin-faq">
            <div class="about-table-div">
                <div class="headding-faq-a-ab">
                    <p class="font-16  color-black">*All monetary numbers/amounts are in US$.</p>
                </div>
                <div class="about-table-headding">
                    <p class="font-16 font-bold color-black"> See Examples:</p>
                </div>
                <div class="about-table-green-headding">
                    <p class="font-26 font-bold color-green">Creator makes $100,000 per year</p>
                </div>
            </div>
            <div class="col-md-8 table-div-ab">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="first-row-tab"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <img src="assets/images/Chello Logo_Final-01 3.png" alt="image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-center">
                            <p class="font-bold font-26 color-red">OTHERS</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Creator Earnings %</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">{{veriable.creatorKeeps}}%</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">80%</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Company Keep Earnings %</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">{{veriable.chelloCommission}}%</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">20%</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Creator Earnings USD </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$94,000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$80,000</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Company Keep USD </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$6,000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$20,000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-table-div">
                <div class="about-table-green-headding">
                    <p class="font-26 font-bold color-green">Creator makes $1,000,000 per year</p>
                </div>
            </div>
            <div class="col-md-8 table-div-ab">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="first-row-tab"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <img src="assets/images/Chello Logo_Final-01 3.png" alt="image">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-center">
                            <p class="font-bold font-26 color-red">OTHERS</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Creator Earnings %</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">{{veriable.creatorKeeps}}%</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">80%</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Company Keep Earnings %</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">{{veriable.chelloCommission}}%</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">20%</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Creator Earnings USD </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$940,000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$800,000</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="first-row-tab">
                            <p class="font-18 color-39 font-medium">Company Keep USD </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$60,000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="first-row-tab text-right">
                            <p class="font-18 color-39 font-medium">$200,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- calculator  -->
        <div class="calculator-about">
            <div class="wrapper-calculator-about">
                <div class="headding-calculatr text-center">
                    <p class="color-blue font-bold font-26">Chello's Earning Calculator</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="headding-creator">
                            <p class="color-blue font-bold font-18">Creator Made:</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="poll-inputs">
                            <div class="form-group position-relative">
                                <input type="text" value="$100,000.00" class="w-100" id="earningAmount"
                                        onChange="value='$'+formatNumber(value,2,0);dscl()">
                            </div>
                        </div>
                        <div class="button-in-calculate form-group">
                            <div class="right-side-button ">
                                <button onclick="dscl()">CALCULATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blue-div-calculator">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p class="font-32 color-white font-bold" id="creatorNetPay">$94,000.00</p>
                            <p class="font-26 color-white font-bold">Creator's NET Pay<br>{{veriable.creatorKeeps}}%</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <p class="font-32 color-white font-bold" id="chelloAmount">$6,000.00</p>
                            <p class="font-26 color-white font-bold">Chello's Amount<br>{{veriable.chelloCommission}}%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="last-div-cal">
                <div class="row align-items-center">
                    <div class="col-md-9">
                        <div class="form-group">
                            <p><span>*</span> Creator pays an admin fee of ${{veriable.adminMonthlyFee}}/month.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="calculator-image">
                            <img src="assets/images/content-creator-chello-white.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ calculator  -->
    </div>
</div>

<app-footer></app-footer>