<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="d-flex justify-content-between group-headding">
                                    <div class="subscription-head d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-blue">
                                            Save The World Concert
                                        </p>
                                    </div>
                                    <div class="buttons-f-pr-e">
                                        <a routerLink='/create-event' class="font-16 color-blue btn-sve-pe"><span
                                                class="iconify" data-icon="ant-design:edit-filled"></span>Edit Private Event</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="final-event-page second-div-event-create">
                            <div class="final-event-wrapper">
                                <div class="first-image-cover-div">
                                    <img src="assets/images/rectangle362.png" />
                                </div>
                                <div class="second-div-final-event">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="font-16 color-bank font-medium">Event Name
                                                <br><span class="font-bold color-blue">{{this.event.title}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="font-16 color-bank font-medium">Event Type
                                                <br><span class="font-bold color-blue">{{this.event.type}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="font-16 color-bank font-medium">Date of Private Event
                                                <br><span class="font-bold color-blue">{{this.event.eventDate}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <p class="font-16 color-bank font-medium">Private Event Starts
                                                <br><span class="font-bold color-blue">{{this.event.eventStartTime}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="font-16 color-bank font-medium">Private Event Ends
                                                <br><span class="font-bold color-blue">{{this.event.eventEndTime}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="font-16 color-bank font-medium">Private Event Price
                                                <br><span class="font-bold color-blue">${{this.event.eventJoinPrice}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="font-16 color-bank font-medium">Misc. Info
                                                <br><span class="font-bold color-blue">${{this.event.miscInfo}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="third-div-final-event">
                                    <div class="col-md-7">
                                        <div class="spotify-connect-referal-cid">
                                            <div class="div-f-fore-more">
                                                <div class="headding-more-m">
                                                    <p class="font-16 font-bold color-blue">Share Your Private Event</p>
                                                </div>
                                                <div class="input-more-m">
                                                    <input type="text" placeholder="https://www.chello.world/Savetheworld" class="w-100"
                                                    value="{{'https://www.chello.world/'+event.title}}"
                                                    >
                                                    <a href=""><span class="iconify color-blue" data-icon="akar-icons:copy"></span></a>
                                                </div>
                                                <div class="share-more-m d-flex align-items-baseline">
                                                    <p class="font-14 font-bold color-black d-flex">Share in &nbsp;
                                                        &nbsp; &nbsp; &nbsp; </p>
                                                    <div class="social-icons-for-footer">
                                                        <a href="https://www.instagram.com/letschello/"><span class="iconify"
                                                                data-icon="typcn:social-instagram"></span></a>
                                                        <a href="https://tiktok.com/@chello.world"><span class="iconify"
                                                                data-icon="cib:tiktok"></span></a>
                                                        <a href="https://twitter.com/LetsChello"><span class="iconify"
                                                                data-icon="ant-design:twitter-outlined"></span></a>
                                                        <a href="javascript:void(0)"><span class="iconify"
                                                                data-icon="eva:facebook-fill"></span></a>
                                                        <a href="javascript:void(0)"><img src="assets/images/24ent new logo white 1.png"
                                                                alt="image"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

