<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="d-flex justify-content-between group-headding">
                                    <div class="subscription-head d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-blue">
                                            Groups
                                        </p>
                                    </div>
                                    <div class="buttons-f-pr-e">
                                        <a href="" class="font-16 color-blue"><span class="iconify"
                                                data-icon="ant-design:edit-filled"></span>Create Group</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-section notification-div-link">
                            <div class="block-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button ">
                                                        <button>Join</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button ">
                                                        <button>Join</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button ">
                                                        <button>Join</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button ">
                                                        <button>Join</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button ">
                                                        <button>Join</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button ">
                                                        <button>Join</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="middle-headding-group paragraph-for-sub">
                                            <p class="color-blue font-20 font-bold">My Groups</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button right-visit-g">
                                                        <button>visit</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="group-section-div">
                                            <div class="group-section-head-d">
                                                <p class="font-14 font-bold color-49">Coocking Group</p>
                                                <div class="icon-and-image-group d-flex align-items-center">
                                                    <span class="iconify color-blue font-20" data-icon="akar-icons:people-group"></span>
                                                    <div class="images-for-group-is">
                                                        <img src="assets/images/Ellipse 10 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 10 (2).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (1).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (3).png" alt="images">
                                                        <img src="assets/images/Ellipse 14 (4).png" alt="images">
                                                        <div><a href="">+66</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-content">
                                                <p class="font-14 color-68"> A group of coocking lovers
                                                    in a hatch.</p>
                                                <div class="button-group-d text-right">
                                                    <div class="right-side-button right-visit-g">
                                                        <button>visit</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
