<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="wid-2">
                    <app-sub-menu></app-sub-menu>
                </div>
                <div class="col-md-7 ">
                    <div class="row">
                        <div class="home-middle-div w-100 ">
                            <div class="main-more-div">
                                <div class="wrapper-main-more-div ">
                                    <div class="div-f-fore-more-geo">
                                        <div class="col-md-5">
                                            <div class="p-e-input-div">
                                                <div class="headding-input-pe position-relative">
                                                    <p class="font-16 color-blue font-bold">Block By Country</p>
                                                    <input type="text" placeholder="United States of America"
                                                        class="w-100 extra-loc">
                                                    <div class="position-icon-input">
                                                        <span class="iconify color-blue font-16"
                                                            data-icon="carbon:location-filled"></span>
                                                    </div>
                                                    <div class="button-change-pe">
                                                        <button>Block</button>
                                                    </div>
                                                </div>
                                                <div class="list-for-geo">
                                                    <div class="first-geo-list border-bottom-pe">
                                                        <p class="color-black font-14">You have Blocked the following Country: </p>
                                                    </div>
                                                    <div class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">United States of America</p>
                                                            <div class="button-connect">
                                                                <a href="" class="color-54">Unblock</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">China</p>
                                                            <div class="button-connect">
                                                                <a href="" class="color-54">Unblock</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-e-input-div">
                                                <div class="headding-input-pe position-relative">
                                                    <p class="font-16 color-blue font-bold">Block By State</p>
                                                    <input type="text" placeholder="Florida"
                                                        class="w-100 extra-loc">
                                                    <div class="position-icon-input">
                                                        <span class="iconify color-blue font-16"
                                                            data-icon="carbon:location-filled"></span>
                                                    </div>
                                                    <div class="button-change-pe">
                                                        <button>Block</button>
                                                    </div>
                                                </div>
                                                <div class="list-for-geo">
                                                    <div class="first-geo-list border-bottom-pe">
                                                        <p class="color-black font-14">You have Blocked the following State: </p>
                                                    </div>
                                                    <div class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">Florida</p>
                                                            <div class="button-connect">
                                                                <a href="" class="color-54">Unblock</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">Texas</p>
                                                            <div class="button-connect">
                                                                <a href="" class="color-54">Unblock</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-e-input-div">
                                                <div class="headding-input-pe position-relative">
                                                    <p class="font-16 color-blue font-bold">Block by City, State</p>
                                                    <input type="text" placeholder="Miami, Florida"
                                                        class="w-100 extra-loc">
                                                    <div class="position-icon-input">
                                                        <span class="iconify color-blue font-16"
                                                            data-icon="carbon:location-filled"></span>
                                                    </div>
                                                    <div class="button-change-pe">
                                                        <button>Block</button>
                                                    </div>
                                                </div>
                                                <div class="list-for-geo">
                                                    <div class="first-geo-list border-bottom-pe">
                                                        <p class="color-black font-14">You have Blocked the following City:  </p>
                                                    </div>
                                                    <div class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">Miami, Florida</p>
                                                            <div class="button-connect">
                                                                <a href="" class="color-54">Unblock</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">Dhaka, Bangladesh</p>
                                                            <div class="button-connect">
                                                                <a href="" class="color-54">Unblock</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="p-e-input-div">
                                                <div class="headding-input-pe position-relative">
                                                    <p class="font-16 color-blue font-bold">Block By IP Address</p>
                                                    <input type="text" placeholder="123.444.555.098" class="w-100 ">
                                                    <div class="button-change-pe">
                                                        <button>Block</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="blue-div-p-w2">
                                                <p class="font-14 color-blue">Please use the following format
                                                    1.2.3.4 for a signle IP address, 1.2.3.4/24 for networks or
                                                    1.2.*.4 for wildcard masks. Each address on the new line.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="list-for-geo">
                                                <div class="first-geo-list border-bottom-pe">
                                                    <p class="color-black font-14">You have Blocked the following IP Address:  </p>
                                                </div>
                                                <div class="spotify-connect border-bottom-pe">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p class="font-16 color-blue">123.555.333.333</p>
                                                        <div class="button-connect">
                                                            <a href="" class="color-54">Unblock</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="spotify-connect border-bottom-pe">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p class="font-16 color-blue">123.555.333.334</p>
                                                        <div class="button-connect">
                                                            <a href="" class="color-54">Unblock</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div-f-fore-more-geo">
                                        <div class="col-md-5">
                                            <div class="p-e-input-div">
                                                <div class="headding-input-pe position-relative">
                                                    <p class="font-16 color-blue font-bold">Block Account</p>
                                                    <input type="text" placeholder="Search Account" class="w-100  extra-loc" #blockInput
                                                    (input)="searchUser(blockInput.value)" id="searchUsers" 
                                                    [(ngModel)] = "blockUser"
                                                    (focus)="setFocus(true,0)"
                                                    (blur)="setFocus(false,0)"
                                                    autocomplete="off"
                                                    />
                                                    <div class="position-icon-input">
                                                        <span class="iconify color-9a" data-icon="akar-icons:search"></span>
                                                    </div>
                                                    <div class="button-change-pe">
                                                        <button (click)="onClickBlock()">Block</button>
                                                    </div>
                                                </div>                                                
                                                <div *ngIf = "onFocus[0]" class="div-input-cg-search-wrap" style="overflow-y: scroll; position:absolute;z-index:2; width:calc(100% - 30px); max-height:400px;">
                                                    <p class="font-12 color-4e font-medium">Suggested</p>
                                                    <div class="wrapper-poll-asked-user" 
                                                    *ngFor="let groupMembersLists of groupMembersList" [id]="groupMembersLists._id"  
                                                    style="cursor: pointer;" 
                                                    (click) = "setBlockUser(groupMembersLists)"
                                                    >
                                                        <img [src]="groupMembersLists.profileImage" onError="this.src='assets/images/user.png'"
                                                            alt="image" />
                                                        <div class="user-info-p-a">
                                                            <p class="font-14 font-bold color-49"> {{groupMembersLists.fullName}}
                                                                &nbsp; <span
                                                                    class="iconify font-20 color-light-blue"
                                                                    data-icon="ic:sharp-verified"></span>
                                                            </p>
                                                            <p class="font-14 color-49">@{{groupMembersLists.userName}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-for-geo">
                                                    <div class="first-geo-list border-bottom-pe">
                                                        <p class="color-black font-14">You have Blocked the following Accounts:  </p>
                                                    </div>
                                                    <div *ngFor="let item of getBlockUserList()" class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">{{item.userDetail[0].fullName}}</p>
                                                            <div class="button-connect">
                                                                <a role="button" (click)="onClickUnBlock(item.blockUserId)" class="color-54">Unblock</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-e-input-div">
                                                <div class="headding-input-pe position-relative">
                                                    <p class="font-16 color-blue font-bold">Restrict Account</p>
                                                
                                                    <input type="text" placeholder="Search Account" class="w-100  extra-loc" #restrictInput
                                                    (input)="searchUser(restrictInput.value)" id="searchUsers" 
                                                    [(ngModel)] = "restrictUser"
                                                    (focus)="setFocus(true,1)"
                                                    (blur)="setFocus(false,1)"
                                                    autocomplete="off"
                                                    />
                                                    <div class="position-icon-input">
                                                        <span class="iconify color-9a" data-icon="akar-icons:search"></span>
                                                    </div>
                                                    <div class="button-change-pe">
                                                        <button (click)="onClickRestrict()">Restrict</button>
                                                    </div>
                                                </div>                                                
                                                <div *ngIf = "onFocus[1]" class="div-input-cg-search-wrap" style="overflow-y: scroll; position:absolute;z-index:2; width:calc(100% - 30px); max-height:400px;">
                                                    <p class="font-12 color-4e font-medium">Suggested</p>
                                                    <div class="wrapper-poll-asked-user" 
                                                    *ngFor="let groupMembersLists of groupMembersList" [id]="groupMembersLists._id"  
                                                    style="cursor: pointer;" 
                                                    (click) = "setRestrictUser(groupMembersLists)"
                                                    >
                                                        <img [src]="groupMembersLists.profileImage" onError="this.src='assets/images/user.png'"
                                                            alt="image" />
                                                        <div class="user-info-p-a">
                                                            <p class="font-14 font-bold color-49"> {{groupMembersLists.fullName}}
                                                                &nbsp; <span
                                                                    class="iconify font-20 color-light-blue"
                                                                    data-icon="ic:sharp-verified"></span>
                                                            </p>
                                                            <p class="font-14 color-49">@{{groupMembersLists.userName}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-for-geo">
                                                    <div class="first-geo-list border-bottom-pe">
                                                        <p class="color-black font-14">You have Restricted the following Accounts:  </p>
                                                    </div>
                                                    <div *ngFor="let item of getRestrictUserList()" class="spotify-connect border-bottom-pe">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <p class="font-16 color-blue">{{item.userDetail[0].fullName}}</p>
                                                            <div class="button-connect">
                                                                <a role="button" (click)="onClickUnRestrict(item.restrictUserId)" class="color-54">UnRestict</a>
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
