<app-header></app-header>
<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">Privacy Policy</p>
        </div>
        <div class="detail-privacy-text">
            <p class="font-16 "><b>Last updated: May 1, 2022
                </b></p>

            <p class="font-16 color-dark-grey"><b>WWW Tacete, LLC</b> is the owner and operator of<b> Chello </b>and  <b>www.chello.world</b> and all
                affiliated websites and mobile versions (the “Site” or we, us, our, ours, etc.). We respect your
                privacy and are committed to protecting it through this Privacy Policy (the “Policy”). This Policy
                describes the types of personal information we may collect from you, the user, (you, your, yours,
                etc.) or that you may provide to us when you use the services offered by us on the Site (the
                “Services”), and our practices for collecting, using, keeping, protecting, and disclosing your
                personal information.
            </p>
            <p class="font-16 color-dark-grey"><b> Chello</b> is a social network which enables users to share their
                content; other users to enjoy content and for some to do both. We refer to those users who share
                content as “Creators” and those users who pay to view Creators’ content as “Fans”. This Privacy
                Notice explains our practices with respect to personal data we collect and process about you. This
                includes information we collect through, or in association with, our website located at
               <b> chello.world</b>, our services that we may offer from time to time via our website, our related
                social media sites, or otherwise through your interactions with us.</p>
            <p class="font-16 color-dark-grey">Please read this Policy carefully to understand our practices
                regarding your personal information and how we will treat it. If you do not agree with this Policy,
                your sole choice is to leave the Site. By accessing or using the Site, you agree to this Policy and
                consent to our collection, use, disclosure, retention, and protection of your information as
                described in this Policy.
            </p>
            <p class="font-16 color-dark-grey">We reserve the right to revise, amend, or modify this Policy at any
                time and in any manner. We will consider your continued use of the Site after we make changes to
                this Policy as your acceptance of the changes, so you must periodically revisit this Policy and
                check the “Last Updated” date above. If changed, this Policy has been updated or edited, and the
                updated or edited version supersedes any prior versions immediately upon posting.</p>
        </div>
        <div class="faq_colapse">
            <div class="accordions">
                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item1">
                        <h2>How old do you have to be to use the Services?<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item1">
                        <p>
                            We prohibit anyone under the age of eighteen (18) from accessing the Site or using the
                            Services. We do not knowingly market to or collect or solicit any information from or
                            about anyone under the age of eighteen (18).<br> If you are under the age of eighteen
                            (18), you must not submit information to us and must immediately leave the Site.<br> If
                            we learn that we have collected information from or about a person under the age of
                            eighteen (18), we will delete that information as quickly as possible. <br>If you
                            believe that we might have such information, please contact us at
                            <b><a href="mailto:privacy@chello.biz">privacy@chello.biz.</a></b>
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item2">
                        <h2>Personal Data We Collect<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item2">
                        <p>We collect information that identifies, relates to, describes, is reasonably capable of
                            being associated with, or could reasonably be linked, directly or indirectly, with a
                            particular consumer or household (“personal data”). In addition, we may collect data
                            that is not identifiable to you or otherwise associated with you, such as aggregated
                            data, and is not personal data. To the extent this data is stored or associated with
                            personal data, it will be treated as personal data; otherwise, the data is not subject
                            to this Privacy Notice.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item3">
                        <h2>Categories of Personal Data We Collect<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item3">
                        <p>The types of personal data we collect about you depends on your interactions with us and
                            your use of the Services. In the past twelve (12) months, we collected the below
                            categories of personal data from our users:
                        </p>
                        <ul>
                            <li>Identifiers such as a real name, alias, postal address, internet protocol address,
                                email address, account name, social security number, driver’s license number,
                                passport number, or other similar identifiers.
                            </li>
                            <li>Personal information categories listed in the California Customer Records statute
                                (Cal. Civ. Code 1798.80(e)).
                            </li>
                            <li>Characteristics of protected classifications under California or federal law.
                            </li>
                            <li>Commercial information, including records of personal property, products or services
                                purchased, obtained, or considered, or other purchasing or consuming histories or
                                tendencies.
                            </li>
                            <li>Biometric information. Note: While we do not collect biometric information, if you
                                choose to authenticate yourself through certain service providers we use, they may
                                collect biometric information subject to their privacy policies, but we are never
                                provided with access to that information.
                            </li>
                            <li>Internet or other electronic network activity information, including, but not
                                limited to, browsing history, search history, and information regarding a consumer’s
                                interaction with an internet website, application, or advertisement.
                            </li>
                            <li>Audio, electronic, visual, thermal, olfactory, or similar information.
                            </li>
                            <li>Professional or employment-related information.
                                We will not collect additional categories of personal data other than those
                                categories listed above. If we intend to collect additional categories of personal
                                data, we will provide you with a new notice at or before the time of collection.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item4">
                        <h2> How We Use Your Personal Data<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item4">
                        <p>We strive to ensure that the content can be enjoyed by everyone, and to keep the content
                            appropriate, tasteful and lawful. To do that, we collect and process your personal data
                            for the following business and commercial purposes:
                        </p>
                        <ul>
                            <li>Developing, improving, operating, providing, predicting, or performing, including
                                maintaining or servicing accounts, enhancing the Services and your experience with
                                them, providing customer service, processing or fulfilling transactions, verifying
                                your identity, and processing payments.
                            </li>
                            <li>Communicating with you by email and text about the Services, verifying your
                                identity, responding to support inquiries or, sharing information about the
                                Services.
                            </li>
                            <li>Auditing related to a current interaction with the user and concurrent transactions.
                            </li>
                            <li>Detecting security incidents, protecting against malicious, deceptive, fraudulent,
                                or illegal activity, and prosecuting those responsible for that activity.
                            </li>
                            <li>Debugging to identify and repair errors that impair existing intended functionality.
                            </li>
                            <li>Undertaking internal research for technological development and demonstration.
                            </li>
                            <li>Undertaking activities to verify or maintain the quality or safety of the Services
                                owned, manufactured, manufactured for, or controlled by us, and to improve, upgrade,
                                or enhance the Services owned, manufactured, manufactured for, or controlled by us.
                            </li>
                            <li>Complying with applicable laws, regulations, rules and requests of relevant law
                                enforcement and/or other governmental agencies, or for other purposes, as permitted
                                or required by law.
                            </li>
                            <li>Enforcing our Terms of Service and other usage policies.
                            </li>
                            <li>As necessary or appropriate to protect the rights, property, and safety of our
                                users, us, and other third parties.
                                We will not use the personal data we collected for materially different, unrelated,
                                or incompatible purposes without providing you with notice and obtaining your
                                consent.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item5">
                        <h2>How We Obtain Your Personal Data
                            <i class="fa fa-angle-down"></i>
                        </h2>
                    </div>
                    <div class="accordion-content collapse" id="item5">
                        <p>We collect your personal data from the following categories of sources:
                        </p>
                        <ul>
                            <li>Directly from you. When you provide it to us directly to open an account and use the
                                Services, or when you update the information in your account.
                            </li>
                            <li>Automatically or indirectly from you. For example, through and as a result of your
                                use of and access to the Services. We also collect IP addresses and browser types
                                from the devices you use.
                            </li>
                            <li>From our service providers.</li>

                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item6">
                        <h2>Legal Bases for Processing
                            <i class="fa fa-angle-down"></i>
                        </h2>
                    </div>
                    <div class="accordion-content collapse" id="item6">
                        <p>We process personal data for, or based on, one or more of the following legal bases:
                        </p>
                        <ul>
                            <li>Performance of a Contract. By using the Services, you have contracted with us
                                through the Terms of Service, and we will process certain personal data to perform
                                under that contract.
                            </li>
                            <li>Legitimate Interests. We may process personal data for our legitimate interests,
                                including complying with any applicable law, rule or regulation, investigation or
                                remedy; enforcing our Terms of Services; protecting our, our users' or others'
                                rights, property and safety; and detecting and resolving any fraud or security
                                concerns.</li>
                            <li>Compliance with Legal Obligations and Protection of Individuals. We may process
                                personal data to comply with our legal obligations, including as required by valid
                                legal process, governmental request, and to protect those individuals who use our
                                Services and others.
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item7">
                        <h2>Who We Share Your Personal Data With<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item7">
                        <p>We share personal data with the following categories of third parties:
                        </p>
                        <ul>
                            <li>Our service providers.
                            </li>
                            <li>Our affiliated entities.</li>
                            <li>Government agencies or regulators when permitted or required to do so by law; </li>
                        </ul>
                        <p>in response to a request from a law enforcement agency or authority or any regulatory
                            authority; and/or to protect the integrity of the Services or our interests, rights,
                            property, or safety, and/or that of our users and others.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item8">
                        <h2>Personal Data We Share<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item8">
                        <p>In the past twelve (12) months, we shared with the following categories of third parties
                            the following categories of personal data for a business purpose:
                        </p>
                        <ul>
                            <li>Identifiers (e.g. name, address, email address, government ID, IP address): Service
                                providers.
                            </li>
                            <li>Identifiers (e.g. account name): Other Creators and Fans.</li>
                            <li>Personal information categories listed in the California Customer Records statute
                                (e.g. government ID, bank account numbers): Service providers.
                            </li>
                            <li>Audio, electronic, visual, thermal, olfactory, or similar information (e.g. content
                                you create): Service providers.</li>
                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item9">
                        <h2>Your Rights Regarding Personal Data
                            <i class="fa fa-angle-down"></i>
                        </h2>
                    </div>
                    <div class="accordion-content collapse" id="item9">
                        <p>You have certain rights regarding the collection and processing of personal data. You may
                            exercise these rights, to the extent they apply to you, by contacting us at the
                            information provided at the end of this Privacy Notice, or by following instructions
                            provided in this Privacy Notice or in communications sent to you.
                        </p>
                        <p>Your rights vary depending on the laws that apply to you, but may include:</p>
                        <ul>
                            <li>The right to know whether, and for what purposes, we process your personal data;
                            </li>
                            <li>The right to be informed about the personal data we collect and/or process about
                                you;</li>
                            <li>The right to learn the source of personal data about you we process;</li>
                            <li>The right to access, modify, and correct personal data about you;
                            </li>
                            <li>The right to know with whom we have shared your personal data with, for what
                                purposes, and what personal data has been shared (including whether personal data
                                was disclosed to third parties for their own direct marketing purposes);</li>
                            <li>The right to withdraw your consent, where processing of personal data is based on
                                your consent; and</li>
                            <li>The right to lodge a complaint with a supervisory authority located in the
                                jurisdiction of your habitual residence, place of work, or where an alleged
                                violation of law occurred.
                            </li>
                            <p>See “Your California Privacy Rights”, “Your Nevada Privacy Rights”, and “Your
                                European Union and UK Privacy Rights”, for more information about certain legal
                                rights.</p>
                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item10">
                        <h2>Accessing, Modifying, Rectifying, and Correcting Collected Personal Data
                            <i class="fa fa-angle-down"></i>
                        </h2>
                    </div>
                    <div class="accordion-content collapse" id="item10">
                        <p>We strive to maintain the accuracy of any personal data collected from you, and will try
                            to respond promptly to update our records when you tell us the information in our
                            records is not correct. However, we must rely upon you to ensure that the information
                            you provide to us is complete, accurate, and up-to-date, and to inform us of any
                            changes. Please review all of your information carefully before submitting it to us. Any
                            updates or corrections to your information may be made through your account settings.
                        </p>
                        <p>Depending on the laws that apply to you, you may obtain from us certain personal data in
                            our records. If you wish to access, review, or make any changes to personal data you
                            have provided to us through the Services, please contact us at the information provided
                            at the end of this Privacy Notice. We reserve the right to deny access as permitted or
                            required by applicable law.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item11">
                        <h2>Your California Privacy Rights<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item11">
                        <p>California’s “Shine the Light” law, permits our users who are California residents to
                            request and obtain from us a list of what personal data (if any) we disclosed to third
                            parties for their own direct marketing purposes in the previous calendar year and the
                            names and addresses of those third parties. Requests may be made only once per year per
                            person, must be sent to the email address below, and are free of charge. However, we do
                            not disclose personal data protected under the “Shine the Light” law to third parties
                            for their own direct marketing purposes.<br>
                            The California Consumer Privacy Act (“CCPA”) provides our users who are California
                            residents the following additional rights:
                        </p>
                        <ul>
                            <li>Right to Know: You have the right to request that we disclose certain information to you about the personal data we collected, used, disclosed, and sold about you in the past 12 months. This includes a request to know any or all of the following: 
                            </li>
                            <li>The categories of personal data collected about you;
                            </li>
                            <li>The categories of sources from which we collected your personal data;</li>
                            <li>The categories of personal data that we have sold or disclosed about you for a business purpose;
                            </li>
                            <li>The categories of third parties to whom your personal data was sold or disclosed for a business purpose;</li>
                            <li>Our business or commercial purpose for collecting or selling your personal data;</li>
                            <li>The specific pieces of personal data we have collected about you.
                            </li>
                            <li>Data Portability: You have the right to request a copy of personal data we have collected and maintained about you in the past 12 months. </li>
                            <li>Right to Deletion: You have the right to request that we delete the personal data we collected from you and maintained, subject to certain exceptions. Please note that if you request deletion of your personal data, we may deny your request or may retain certain elements of your personal data if it is necessary for us or our service providers to: </li>
                            <li>Complete the transaction for which the personal data was collected, provide a good or service requested by you, or reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform a contract between our business and you.</li>
                            <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity.
                            </li>
                            <li>Debug to identify and repair errors that impair existing intended functionality.</li>
                            <li>Exercise free speech, ensure the right of another consumer to exercise his or her right of free speech, or exercise another right provided for by law.
                            </li>
                            <li>Comply with the California Electronic Communications Privacy Act pursuant to Chapter 3.6 (commencing with Section 1546) of Title 12 of Part 2 of the Penal Code.
                            </li>
                            <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the deletion of the information is likely to render impossible or seriously impair the achievement of such research, if you have provided informed consent.</li>
                            <li>To enable solely internal uses that are reasonably aligned with your expectations based on your relationship with us.</li>
                            <li>Comply with a legal obligation.</li>
                            <li>Otherwise use the personal data, internally, in a lawful manner that is compatible with the context in which you provided the information.</li>
                            <li>Right to Opt-Out/In: You have the right to opt-out of the sale of your personal data. You also have the right to opt-in to the sale of personal data. However, we do not sell your personal data. 
                            </li>
                            <li>Right to Non-Discrimination: You have the right not to receive discriminatory treatment by us for the exercise of your CCPA privacy rights. Unless permitted by the CCPA, we will not: 
                                <ul>
                                    <li>Deny you goods or services.</li>
                                    <li>Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties.</li>
                                    <li>Provide you a different level or quality of goods or services.
                                    </li>
                                    <li>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
                                </ul>
                            </li>
                        </ul>
                        <p>To exercise your California privacy rights described above, please submit a verifiable request to us by emailing us at <b><a href="mailto:privacy@chello.biz">privacy@chello.biz.</a></b></p>
                        <p>If you have an account with us, you can exercise any of the above rights from your profile. If you don’t have a profile or if you are unable to access, control, or delete your information from within your profile, you can contact us by emailing us at <b><a href="mailto:privacy@chello.biz">privacy@chello.biz.</a></b>
                        </p>
                        <p>Only you, or a person authorized by you to act on your behalf, may make a verifiable consumer request related to your personal data.
                            You may only make a verifiable consumer request for Right to Know or Data Portability twice within a 12-month period. The verifiable consumer request must:
                            </p>
                            <ul>
                                <li>Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal data or an authorized representative. Depending on the nature of the request, we may need to verify your identity through an additional Ondato verification cycle, which requires a government issued ID and a photo requiring your presence.
                                </li>
                                <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.
                                </li>
                            </ul>
                            <p>We may deny your request if we are unable to verify your identity or have reason to believe that the request is fraudulent.
                            </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title" data-toggle="collapse"  data-target="#item12">
                        <h2>Consumer Request by an Authorized Agent<i class="fa fa-angle-down"></i></h2>
                    </div>
                    <div class="accordion-content collapse" id="item12">
                        <p>If any authorized agent submits a consumer request on your behalf, in order to confirm that person or entity’s authority to act on your behalf and verify the authorized agent’s identity, we require an email be sent to <b><a href="mailto:privacy@chello.biz">privacy@chello.biz</a></b>, along with all of the below items:
                        </p>
                        <ul>
                            <li>Proof that you gave the authorized agent signed permission to submit the request.
                            </li>
                            <li>Sufficient information to verify the authorized agent’s identity, depending on the nature of the request.
                            </li>
                            <li>To verify your identity, depending on the nature of the request, we may also require a valid Government Issued ID (not expired), email address, and the last 4 digits of the social security number.</li>
                        </ul>
                        <p>We cannot respond to your request or provide you with personal data if we cannot verify your identity or authority to make the request and confirm the personal data relates to you. Making a verifiable consumer request does not require to create an account with us. However, if you do have an existing login, we will require you to log in to submit a request. 
                        </p>
                        <p>We will only use personal data provided in a verifiable consumer request to verify the request’s identity or authority to make the request.</p>
                        <p>We will acknowledge receipt of the request within ten (10) business days of its receipt. We will respond to a verifiable consumer request within forty-five (45) days of its receipt. If we require more time (up to 90 days), we will inform you of the reason and extension period in writing. If you have an account with us, we will deliver our written response to that account. If you do not have an account with us, we will deliver our written response electronically.</p>
                        <p> Any disclosures we provide will only cover the 12-month period preceding the receipt of the verifiable consumer request. The response we provide will also explain the reasons we cannot comply with a request, if applicable. For Data Portability requests, we will provide the responsive information in a portable and, to the extent technically feasible, in a readily useable format that allows you to transmit the information to another entity without hindrance.
                        </p>
                        <p>We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>