<app-header-new></app-header-new>
<div class="homepage margin-minus-header  message-wrapper-chello">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-3 chat-for-chello">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="headding-home-middle-div d-flex justify-content-between">
                                    <p class="font-20 font-bold color-blue">Messages</p>
                                    <a href=""> <span class="iconify color-a8 font-18"
                                            data-icon="akar-icons:search"></span></a>
                                </div>
                                <div class="new-message-btn">
                                    <div class="right-side-button ">
                                        <button><span class="iconify" data-icon="charm:messages"></span> &nbsp; New Message</button>
                                    </div>
                                </div>
                                <div class="first-home-middle-flex flex-w">
                                    <div class="notification-tabs">
                                        <a href="" class="active">All</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Followers</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Fans</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-message-page">
                            <div class="chat-list">
                                <ul class="bt-nm">
                                    <li class="">
                                        <a href="#" class="person ">
                                            <div class="list-wrapper-message">
                                                <div class="avtar ">
                                                    <img class="img-fluid" src="assets/images/Ellipse 14 (3).png"
                                                        alt="person-img">
                                                </div>
                                                <div class="details">
                                              
                                                <div class="details-fe2 ">
                                                    <div class="d-flex justify-content-between">
                                                        <p class="font-14 font-medium color-30 ">Zaire Philips</p>
                                                        <p class="font-14   color-30">March 24</p>
                                                    </div>
                                                </div>
                                                <div class="detailsvds-2 ">
                                                     <div class="d-flex align-items-end justify-content-between">
                                                        <p class="font-14 color-68 color-30">Sent you a <span class="color-blue"> Dissapearing Message</span></p>
                                                        <p><span class="iconify color-bo" data-icon="bi:bookmark"></span></p>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="person ">
                                            <div class="list-wrapper-message">
                                                <div class="avtar ">
                                                    <img class="img-fluid" src="assets/images/Ellipse 14 (1).png"
                                                        alt="person-img">
                                                </div>
                                                <div class="details">
                                                <div class="details-fe2 ">
                                                    <div class="d-flex justify-content-between">
                                                        <p class="font-14 font-medium color-30 ">Zaire Philips</p>
                                                        <p class="font-14   color-30">March 24</p>
                                                    </div>
                                                </div>
                                                <div class="detailsvds-2 ">
                                                     <div class="d-flex align-items-end justify-content-between">
                                                        <p class="font-14 color-68 color-30">I just subscribed your profile. Do you wanna do a collab?</p>
                                                        <p><span class="iconify color-bo" data-icon="bi:bookmark"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="person ">
                                            <div class="list-wrapper-message">
                                                <div class="avtar ">
                                                    <img class="img-fluid" src="assets/images/Ellipse 9 (2).png"
                                                        alt="person-img">
                                                </div>
                                                <div class="details">
                                                <div class="details-fe2 ">
                                                    <div class="d-flex justify-content-between">
                                                        <p class="font-14 font-medium color-30 ">Zaire Philips</p>
                                                        <p class="font-14   color-30">March 24</p>
                                                    </div>
                                                </div>
                                                <div class="detailsvds-2 ">
                                                     <div class="d-flex align-items-end justify-content-between">
                                                        <p class="font-14 color-68 color-30">Sent you a <span class="color-blue"> paid Message</span></p>
                                                        <p><span class="iconify color-bo" data-icon="bi:bookmark"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="person ">
                                            <div class="list-wrapper-message">
                                                <div class="avtar ">
                                                    <img class="img-fluid" src="assets/images/Ellipse 10 (1).png"
                                                        alt="person-img">
                                                </div>
                                                <div class="details">
                                                <div class="details-fe2 ">
                                                    <div class="d-flex justify-content-between">
                                                        <p class="font-14 font-medium color-30 ">Zaire Philips</p>
                                                        <p class="font-14   color-30">March 24</p>
                                                    </div>
                                                </div>
                                                <div class="detailsvds-2 ">
                                                     <div class="d-flex align-items-end justify-content-between">
                                                        <p class="font-14 color-68 color-30">Sent you a <span class="color-blue"> Dissapearing Message</span></p>
                                                        <p><span class="iconify color-bo" data-icon="bi:bookmark"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="col-md-6 mess-ne-w">
                    <div class="margin-left-message">
                        <div class="messages1 ">

                            <div class="message-list">
                                <a href="#" class="back-btn">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 447.243 447.243"
                                        style="enable-background:new 0 0 447.243 447.243;" xml:space="preserve">
                                        <g>
                                            <path d="M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48
                                                c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754
                                                l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160
                                                c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4
                                                l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88
                                                C449.654,211.494,437.806,195.059,420.361,192.229z" />
                                        </g>
                                    </svg>
                                </a>
                                <div class="message-scroll">
                                    <div class="message-inner">
                                        <div class="chat-message">
                                         <div class="message-c-r">
                                            <div class="img_selected_chat_pmessage_page">
                                                <img class="img-fluid" src="assets/images/Ellipse 9 (2).png"
                                                    alt="person-img">
                                            </div>
                                            <div class=" w-100">
                                                <div class="d-flex justify-content-between">
                                                    <p class="font-14 font-medium color-30">Zaire Philips</p>
                                                    
                                                </div>
                                                <p class="font-14 color-68 color-30">Sent you a <span class="color-blue"> Dissapearing Message</span></p>
                                                  <div class="time-meassage text-right">
                                                    <p class="font-14 color-68 color-30">March 24</p>
                                                  </div>
                                            </div>
                                         </div>
                                         <div class="detail-div-message-3c">
                                             <div class="col-md-9">
                                                 <div class="detail-3c-m">
                                                    <div class="user-sub-mid position-relative">
                                                        <img src="assets/images/image 10.png" class="w-100" alt="image" />
                                                        <div class="text-u-p text-right">
                                                            <p class="color-68 font-14">This message will disappear in 24:00 hours.
                                                                <span><img src="assets/images/Ellipse 36.png"/></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                 </div>
                                             </div>
                                         </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="typing-box">
                                    <div class="wrapper-chat-button">
                                        <div class="div-for-send-message">
                                            <input type="text" class="form-control" placeholder="Type message">
                                            <div class="msg-btns">
                                                <div class="icons-one">
                                                    <a href=""><span class="iconify"
                                                            data-icon="icon-park-outline:picture"></span></a>
                                                    <a href=""><img src="assets/images/video-camera (2) 1.png"
                                                        alt="image"></a>
                                                    <a href=""><img src="assets/images/microphone (1) 1.png"
                                                        alt="image"></a>
                                                    <a href=""><img src="assets/images/hourglass-end 1.png"
                                                        alt="image"></a>
                                                    <a href=""><img src="assets/images/tip.png"
                                                        alt="image"></a>
                                                </div>
                                               <div class="icons-two">
                                                <div class="right-side-button text-right">
                                                    <button>Send</button>
                                                </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
