<!-- loding -->

<div class="first-div-chello">
    <div class="container-fluid">
        <div class="row align-items-start o-h">
            <div class="col-md-6">
                <div class="row">
                    <div class="first-div-login">
                        <div class="image-for-logo text-center">
                            <img src="assets/images/Chello.png" alt="image">
                        </div>
                        <div class=" text-under-logo text-center">
                            <p class="color-white font-medium font-32">Creators + Fans = Chello</p>
                            <p class="color-white font-18 font-medium">#LetsGO</p>
                        </div>
                        <div class="image-for-mask text-center">
                            <img src="assets/images/Mask group.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-page">
                    <div class="headding-payment">
                        <p class="font-26 font-bold color-blue">Chello’s Creator Admin Fee</p>
                        <p class="color-3a font-18 ">Where Creators take home 94% of their earnings!</p>
                    </div>
                    <div class="tab-panel-payments">
                        <div class="tab">
                            <button class="tablinks active" onclick="openCity(event, 'tab1')"
                                id="defaultOpen"><b>Monthly</b><br><span>$25 per month</span></button>
                            <button class="tablinks" onclick="openCity(event, 'tab2')">
                                <b>Yearly</b><br><span>$250 per year</span>
                                <div class="absolute-label-p">
                                    <p class="font-14 color-white">17% Savings</p>
                                </div>
                            </button>
                        </div>
                        <div id="tab1" class="tabcontent d-block-active">
                            <div class="payment-content-tab">
                                <div class="radio-button-div-payments">
                                    <div class="heading-payment">
                                        <p class="font-20 color-blue font-bold">Payment Details</p>
                                    </div>
                                    <div class="radio-payment-wrap">
                                        <p>
                                            <input type="radio" id="test1" name="radio-group" checked>
                                            <label for="test1">New Card</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test2" name="radio-group">
                                            <label for="test2"> <img src="assets/images/bi_credit-card-2-front-fill.png" alt="image">Credit/Debit Card</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test3" name="radio-group">
                                            <label for="test3"><img src="assets/images/image 16.png" alt="image">Cosmo Payment</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test4" name="radio-group">
                                            <label for="test4"><img src="assets/images/image 17.png" alt="image">Paxum</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test5" name="radio-group">
                                            <label for="test5"><img src="assets/images/image 18.png" alt="image">Skrill</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test6" name="radio-group">
                                            <label for="test6"><img src="assets/images/image 19.png" alt="image">Metamask</label>
                                        </p>
                                    </div>
                                    <div class="input-in-payments">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Email</label>
                                                    <input type="email" name="address1" value="John@email.com" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Card Number</label>
                                                    <input type="text" name="card" value="4000 2222 3333 8888" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Postal Code</label>
                                                    <input type="text" name="cvv" value="1970" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Expiration Date</label>
                                                    <input type="text" name="cvv" value="MM/YYYY" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">CCV</label>
                                                    <input type="text" name="cvv" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group border-bottom-pe">
                                                    <div class="check-for-payments">
                                                      <input type="checkbox" id="agree-save" name="agree-save" value="agree-save">
                                                      <label for="agree-save" class="font-14 color-black">Save Payment Card</label><br>
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-total-payment">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="font-14 color-black">Subtotal</p>
                                            <p class="font-14 color-black">$12.50 (prorated charge)</p>
                                        </div>
                                    </div>
                                    <div class="total-payment">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="font-14 color-black">Total Billed</p>
                                            <p class="font-14 font-bold color-black">$12.50 (prorated charge)</p>
                                        </div>
                                    </div>
                                    <div class="payment-desc">
                                        <p class="color-grey font-14">All payments are charged in USD and all payments are final. You will be charged the prorated amount in USD immediately. You will be charged $25.00 USD every 1st of the month while you are an active Creator on Chello. Monthly payments are prorated at the start of your relationship with Chello,however, can be canceled any time.</p>
                                    </div>
                                    <div class="payment-aggree">
                                        <div class="form-group ">
                                            <div class="check-for-payments">
                                              <input type="checkbox" id="agree" name="agree" value="agree">
                                              <label for="agree" class="font-14 color-black">I agree to the above, this payment, and the <a href="">Terms.</a></label><br>
                                            </div>
                                          </div>
                                          <div class="button-link button-verified-lat">
                                            <div class="d-flex justify-content-between">
                                              <a href="javascript:void(0)" class="btn">Make Payment</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tabcontent">
                            <div class="payment-content-tab">
                                <div class="radio-button-div-payments">
                                    <div class="heading-payment">
                                        <p class="font-20 color-blue font-bold">Payment Details</p>
                                    </div>
                                    <div class="radio-payment-wrap">
                                        <p>
                                            <input type="radio" id="test11" name="radio-group" checked>
                                            <label for="test11">New Card</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test22" name="radio-group">
                                            <label for="test22"> <img src="assets/images/bi_credit-card-2-front-fill.png" alt="image">Credit/Debit Card</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test33" name="radio-group">
                                            <label for="test33"><img src="assets/images/image 16.png" alt="image">Cosmo Payment</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test44" name="radio-group">
                                            <label for="test44"><img src="assets/images/image 17.png" alt="image">Paxum</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test55" name="radio-group">
                                            <label for="test55"><img src="assets/images/image 18.png" alt="image">Skrill</label>
                                        </p>
                                        <p>
                                            <input type="radio" id="test66" name="radio-group">
                                            <label for="test66"><img src="assets/images/image 19.png" alt="image">Metamask</label>
                                        </p>
                                    </div>
                                    <div class="input-in-payments">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Email</label>
                                                    <input type="email" name="address1" value="John@email.com" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Card Number</label>
                                                    <input type="text" name="card" value="4000 2222 3333 8888" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Postal Code</label>
                                                    <input type="text" name="cvv" value="1970" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">Expiration Date</label>
                                                    <input type="text" name="cvv" value="MM/YYYY" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="font-14 color-grey">CCV</label>
                                                    <input type="text" name="cvv" class="w-100">
                                                  </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group border-bottom-pe">
                                                    <div class="check-for-payments">
                                                      <input type="checkbox" id="agree-save" name="agree-save" value="agree-save">
                                                      <label for="agree-save" class="font-14 color-black">Save Payment Card</label><br>
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-total-payment">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="font-14 color-black">Subtotal</p>
                                            <p class="font-14 color-black">$12.50 (prorated charge)</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="font-14 color-pink">Yearly Plan Discount</p>
                                            <p class="font-14 font-bold color-pink">-$50.00</p>
                                        </div>
                                    </div>
                                    <div class="total-payment">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="font-14 color-black">Total Billed</p>
                                            <p class="font-14 font-bold color-black">$12.50 (prorated charge)</p>
                                        </div>
                                    </div>
                                    <div class="payment-desc">
                                        <p class="color-grey font-14">All payments are charged in USD and all payments are final. You will be charged the prorated amount in USD immediately. You will be charged $25.00 USD every 1st of the month while you are an active Creator on Chello. Monthly payments are prorated at the start of your relationship with Chello,however, can be canceled any time.</p>
                                    </div>
                                    <div class="payment-aggree">
                                        <div class="form-group ">
                                            <div class="check-for-payments">
                                              <input type="checkbox" id="agree" name="agree" value="agree">
                                              <label for="agree" class="font-14 color-black">I agree to the above, this payment, and the <a href="">Terms.</a></label><br>
                                            </div>
                                          </div>
                                          <div class="button-link button-verified-lat">
                                            <div class="d-flex justify-content-between">
                                              <a href="javascript:void(0)" class="btn">Make Payment</a>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>