<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="d-flex justify-content-between group-headding">
                                    <div class="subscription-head d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-blue">
                                            Enter your Private Event
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="join-event-page second-div-event-create">
                            <div class="join-event-div-wrapper">
                                <div class="headding-input-pe">
                                    <p class="font-16 font-bold color-blue">Enter Your Private Event Code</p>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="div-input-event">
                                            <div class="headding-input-pe position-relative">
                                                    <input type="text" placeholder="Savetheworld00001"
                                                        class="w-100">                                                       
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="buttons-f-pr-e">
                                            <a routerLink='/' class="font-16 color-blue btn-sve-pe2">Join Private Event</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


