<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="d-flex justify-content-between group-headding">
                                    <div class="subscription-head d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-blue">
                                            Save The World Concert
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="final-event-page second-div-event-create">
                            <div class="final-event-wrapper">
                                <div class="first-image-cover-div position-relative">
                                    <img src="assets/images/Frame 1 (3).png" />
                                    <div class="live-code-e">
                                        <img src="assets/images/live.png" />
                                    </div>
                                    <div class="play-code-e">
                                        <img src="assets/images/Group 36614.png" />
                                    </div>
                                </div>
                                <div class="second-div-play-event ">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/leady.png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-30"> Miracle Rosser
                                                    </p>
                                                    <p class="font-14 color-68">The concert totally worth it!</p>
                                                </div>
                                            </div>
                                            <p class="font-14 color-68">5:55 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="second-div-play-event ">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (5).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-30">Jaydon Donin
                                                    </p>
                                                    <p class="font-14 color-68">You Rock Dude!</p>
                                                </div>
                                            </div>
                                            <p class="font-14 color-68">5:55 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="second-div-play-event ">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (3).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-30">Lincoln Dokidis
                                                    </p>
                                                    <p class="font-14 color-68">This is Awesome</p>
                                                </div>
                                            </div>
                                            <p class="font-14 color-68">5:55 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="second-div-play-event second-div-play-event-l">
                                    <div class="textarea-event-play">
                                        <textarea rows="5" cols="5" placeholder="Write Comment" class="w-100"></textarea>
                                        <div class="right-side-button"><a routerlink="/"><button>Send</button></a></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


