<app-header></app-header>
<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy text-center">
            <p class="font-32 color-blue font-medium">Contact</p>
            <p class="color-black font-18">Please e-mail us at <b><a href="mailto:support@chello.biz">support@chello.biz</a></b> for any
                support needs.
            </p>
        </div>
        <div class="contact-div-wrapper">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-12"></div>
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <div class="contact-bg-div">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contact-headding">
                                    <p class="font-16">Support </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="contact-headding">
                                    <p class="font-16"><a href="mailto:support@chello.biz">support@chello.biz
                                        </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contact-headding">
                                    <p class="font-16">Complaints </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="contact-headding">
                                    <p class="font-16"><a href="mailto:complaints@chello.biz">complaints@chello.biz
                                        </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contact-headding">
                                    <p class="font-16">Privacy </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="contact-headding">
                                    <p class="font-16"><a href="mailto:privacy@chello.biz">privacy@chello.biz
                                        </a></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="contact-headding">
                                    <p class="font-16">Media </p>
                                </div>
                            </div>
                            <div class="col-md-8 ">
                                <div class="contact-headding">
                                    <p class="font-16"><a href="mailto:media@chello.biz">media@chello.biz
                                        </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-for-find-icon">
                        <p class="font-16 color-blue">Find Chello on:</p>
                        <div class="social-icons-for-footer">
                            <a href="https://www.instagram.com/letschello/" target="blenk"><span class="iconify"
                                    data-icon="typcn:social-instagram"></span></a>
                            <a href="https://tiktok.com/@chello.world" target="blenk"><span class="iconify"
                                    data-icon="cib:tiktok"></span></a>
                            <a href="https://twitter.com/LetsChello" target="blenk"><span class="iconify"
                                    data-icon="ant-design:twitter-outlined" ></span></a>
                            <a href="javascript:void(0)" target="blenk"><span class="iconify"
                                    data-icon="eva:facebook-fill"></span></a>
                            <!-- <a href="javascript:void(0)" target="blenk"><img src="assets/images/24ent new logo white 1.png"
                                    alt="image"></a> -->
                        </div>
                        <p class="font-18 color-black font-medium margin-t-d">Creators + Fans = Chello</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-12"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
