<app-header></app-header>
<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">Disclaimer                </p>
        </div>
        <div class="detail-privacy-text">
            <p class="font-16 "><b>Last updated: May 1, 2022 

                </b></p>

            <p class="font-16 color-black">The information contained on<b> <a href="http://www.chello.world"> http://www.chello.world</a></b> website (the "Service") is for general information purposes only.
            </p>
            <p class="font-16 color-black">
               <b>Chello, LLC</b>, assumes no responsibility for errors or omissions in the contents on the Service.
            </p>
            <p class="font-16 color-black">In no event shall <b>Chello, LLC</b> be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. <b>Chello, LLC</b>, reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
            </p>
            <p class="font-16 color-black">
                <b>Chello, LLC</b>, does not warrant that the Service is free of viruses or other harmful components.

            </p>               
        </div>
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">External links disclaimer</p>
        </div>
        <p class="font-16 color-black"><b><a href="http://www.chello.world">http://www.chello.world</a></b> website may contain links to external websites that are not provided or maintained by or in any way affiliated with <b>Chello, LLC</b>.
        </p>
        <p class="font-16 color-black">
            Please note that the <b>Chello, LLC</b>, does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.

        </p>
        
    </div>
</div>

<app-footer></app-footer>
