<div class="clearfix"></div>
<div class="footer">
  <footer>
    <div class="container">
      <div class="footer-wrapper">
        <div class="row">
          <div class="col-md-5">
            <div class="links-in-footer">
              <li><a routerLink="/about-us" class="font-14 font-footer">About</a></li>
              <li><a routerLink="/terms" class="font-14 font-footer">Terms</a></li>
              <li><a routerLink="/privacy-policy" class="font-14 font-footer">Privacy</a></li>
              <li><a routerLink="/disclaimer" class="font-14 font-footer">Disclaimer</a></li>
              <li><a routerLink="/acceptable-use" class="font-14 font-footer">Acceptable Use</a></li>

            </div>
          </div>
          <div class="col-md-4">
            <div class="links-in-footer">
              <li><a routerLink="/faq" class="font-14 font-footer">FAQ</a></li>
              <li><a routerLink="/complaints-policy" class="font-14 font-footer">Complaints Policy</a></li>
              <li><a routerLink="/cookies-policy" class="font-14 font-footer">Cookie Policy</a></li>
              <li><a routerLink="/dmca" class="font-14 font-footer">DMCA</a></li>
              <li><a routerLink="/usc-2257" class="font-14 font-footer">USC 2257 </a></li>

            </div>
          </div>
          <div class="col-md-3">
            <div class="links-in-footer">
              <li><a routerLink="/contact" class="font-14 font-footer">Contact</a></li>
              <li><a href="adilshah.online/" target="_blank" class="font-14 font-footer">Blog</a></li>
              <li><a routerLink="/referral" class="font-14 font-footer">Referral</a></li>
              <li><a href="javascript:void(0)" class="font-14 font-footer">Standard Agreement</a></li>
            </div>
            <div class="social-icons-for-footer">
              <p class="font-14 color-blue font-bold">Share Chello</p>
              <a target="blenk"  href="https://www.instagram.com/letschello/"><span class="iconify"
                  data-icon="typcn:social-instagram"></span></a>
              <a target="blenk"  href="https://tiktok.com/@chello.world"><span class="iconify" data-icon="cib:tiktok"></span></a>
              <a target="blenk"  href="https://twitter.com/LetsChello"><span class="iconify"
                  data-icon="ant-design:twitter-outlined"></span></a>
              <a target="blenk"  href="javascript:void(0)"><span class="iconify" data-icon="eva:facebook-fill"></span></a>
              <a target="blenk"  href="javascript:void(0)"><img src="assets/images/24ent new logo white 1.png" alt="image"></a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="copyrite-text text-center">
          <p class="font-14 color-79">© 2022 Chello. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- loding -->
<ngx-spinner bdColor="rgba(238,238,238,.4)" size="medium" color="#486ffa" type="ball-clip-rotate"></ngx-spinner>