<!-- loding -->
<ngx-spinner bdColor="rgba(238,238,238,.4)" size="medium" color="#486ffa" type="ball-clip-rotate"></ngx-spinner>

<div class="first-div-chello">
  <div class="container-fluid">
    <div class="row align-items-start o-h">
      <div class="col-md-6">
        <div class="row">
          <div class="first-div-login">
            <div class="image-for-logo text-center">
              <img src="assets/images/Chello.png" alt="image">
            </div>
            <div class=" text-under-logo text-center">
              <p class="color-white font-medium font-32">Creators + Fans = Chello</p>
              <p class="color-white font-18 font-medium">#LetsGO</p>
            </div>
            <div class="image-for-mask text-center">
              <img src="assets/images/Mask group.png" alt="image">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="text-for-login">
          <div class="headding-login">
            <p class="font-26 color-blue font-bold">Forgot Password?</p>
          </div>
          <div class="form-div-login">
            <form [formGroup]="forgetForm" (ngSubmit)="forgetPasswordClick()">
              <!-- <div class="form-group position-relative">
                <label class="font-14 color-grey">Enter your Phone Number</label>
                <input id="phone" type="tel" class="w-100 " name="phone" formControlName="phone">
                <select class="form-select-for-pass" aria-label="Default select example">
                  <option value="1">+91</option>
                  <option value="2">+45</option>
                </select>
              </div> -->
              <div class="form-group">
                <label class="font-14 color-grey">Enter your Email to recover Password</label>
                <input type="text" name="email" class="w-100" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required" style="color:red;">Email is required</div>
                </div>
              </div>
              <div class="button-link">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn">Recover Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="padding-for-footer"></div>
  </div>
</div>
<div class="clearfix"></div>




<app-footer></app-footer>