.selected-video {
    width: 672px;
    height: 460px;
    
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}


.time-post-title {
    width: 100%;    
    display: flex;
    align-items: center;
    background: transparent;    
    
    margin-block-end: 10px;
    color: #150AA1;
}

.text-grey {
    color: #9A9A9A;
}

.select-video {
    width: 120px;
    height: 120px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, #F2F2F2, #F2F2F2), #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}

.cancel-btn-i {
    position: absolute !important;
    top: 36px;
    right: 17px;
    color: #150AA1;
}