

<app-header></app-header>
<div class="privacy-policy-page">
    <div class="container">
        <div class="headding-for-privacy">
            <p class="font-32 color-blue font-medium">Acceptable Use</p>
        </div>
        <div class="detail-privacy-text">
            <p class="font-16 "><b>Last updated: May 1, 2022 
                </b></p>
            <p class="font-16 "><b>By Using Our Website, <a href="https://chello.world">www.chello.world</a>, You Agree to this Policy:
                </b></p>

            <p class="font-16 color-dark-grey">This Policy applies to your use of <b>Chello</b> and all Content on <b>Chello</b>
                and forms part of your agreement with us. This Policy sets out what is and is not permitted on
                <b>Chello</b>.</p>


            <p class="font-16 color-dark-grey">In this Policy, defined terms have the same meanings as in our Terms
                of Use for all Users.
            </p>

            <div class="faq_colapse">
                <div class="accordions">
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse"  data-target="#aitem1">
                            <h2> Terms of Use for all Users.
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="collapse accordion-content" id="aitem1">
                            <ul>
                                <li>Do not use <b>Chello </b>except for your own personal use and do not sell, rent,
                                    transfer, or share your account or any Content obtained from your use of <b>Chello</b>
                                    to or with anyone else.
                                </li>
                                <li>Only use <b>Chello </b>in a manner and for a purpose that is lawful.
                                </li>
                                <li>Do not upload, post, display, or publish Content on <b>Chello </b>that is illegal,
                                    fraudulent, defamatory, hateful, discriminatory, threatening or harassing, or
                                    which encourages or promotes violence or any illegal activity.
                                </li>
                                <li>Do not use <b>Chello </b>in any way which may exploit, harm, or attempt to exploit or
                                    harm any individual under 18 years old, for example by exposing them to
                                    inappropriate Content.</li>
                                <li>Do not upload, post, display, or publish Content on <b>Chello </b>that:
                                </li>
                                <li>shows, includes or refers to:</li>
                                <li>any individual under 18 years old (or which refers to individuals under 18 years
                                    old generally); or
                                </li>
                                <li>any other individual unless you have written documentation which confirms that
                                    all individuals shown or included or referred to in your Content are at least 18
                                    years old, and you have a written consent from each individual to use their name
                                    or images (or both) in the Content;
                                </li>
                                <li>shows, promotes, advertises or refers to:
                                </li>
                                <li>firearms, weapons, or any goods whose sale, possession or use is subject to
                                    prohibitions or restrictions;
                                </li>
                                <li>drugs or drug paraphernalia;</li>
                                <li>self-harm or suicide;
                                </li>
                                <li>incest;</li>
                                <li>bestiality;</li>
                                <li>violence, rape, lack of consent, hypnosis, intoxication, sexual assault,
                                    torture, sadomasochistic abuse or hardcore bondage, extreme fisting, or genital
                                    mutilation;</li>
                                <li>necrophilia;
                                </li>
                                <li>urine, scatological, or excrement-related material;
                                </li>
                                <li>"revenge porn" (being any sexually explicit material featuring any individual
                                    who has not given prior, express and fully informed consent to that material (a)
                                    being taken, captured, or otherwise memorialized, or (b) being posted and shared
                                    on <b>Chello</b>);</li>
                                <li>escort services, sex trafficking, or prostitution;
                                </li>
                                <li>contains unsolicited sexual content or unsolicited language that sexually
                                    objectifies another User or anyone else in a non-consensual way, or contains
                                    fake or manipulated sexual content in relation to another User or anyone else
                                    (including "deepfakes");</li>
                                <li>contains, promotes, advertises or refers to hate speech (being Content intended
                                    to vilify, humiliate, dehumanize, exclude, attack, threaten, or incite hatred,
                                    fear of, or violence against, a group or individual based on race, ethnicity,
                                    national origin, immigration status, caste, religion, sex, gender identity or
                                    expression, sexual orientation, age, disability, serious disease, veteran
                                    status, or any other protected characteristic);</li>
                                <li>contains or refers to anyone else's personal data or private or confidential
                                    information (for example, telephone numbers, location information (including
                                    street addresses and GPS coordinates), names, identity documents, email
                                    addresses, log-in credentials for <b>Chello </b>including passwords and security
                                    questions, financial information including bank account and credit card details,
                                    biometric data, and medical records) without that person's express written
                                    consent;
                                </li>
                                <li>either:</li>
                                <li>in the case of Content featuring public nudity, was recorded in or is being
                                    broadcast from a country, State or province where public nudity is illegal; or
                                </li>
                                <li>in the case of Content featuring sexual activities, was recorded in or is being
                                    broadcast from a public place where members of the public are reasonably likely
                                    to see the activities being performed (this does not include outdoor places
                                    where members of the public are not present, for example private property such
                                    as a private backyard, or secluded areas in nature where members of the public
                                    are not present).
                                </li>
                                <li>gives the impression that it comes from or is approved, licensed or endorsed by
                                    us or any other person or company;</li>
                                <li>causes or is calculated to cause inconvenience, or anxiety to anyone else or
                                    which is likely to upset, embarrass, or cause serious offence to anyone else;
                                </li>
                                <li>is used or is intended to be used to extract money or another benefit from
                                    anyone else in exchange for removal of the Content; and/or</li>
                                <li>involves or promotes third-party commercial activities or sales, such as
                                    contests, sweepstakes and other sales promotions, product placements,
                                    advertising, or job posting or employment ads without our prior express consent.
                                </li>
                                <li>You must comply with any requirements set out in our <b>Chello world</b>. Our <b>Chello
                                    world</b> guidelines can be found here.</li>
                                <li>Do not use <b>Chello </b>to stalk, bully, abuse, harass, threaten or intimidate anyone
                                    else.
                                </li>
                                <li>Do not use <b>Chello </b>to engage in misleading or deceptive conduct, or conduct that
                                    is likely to mislead or deceive any other User.
                                </li>
                                <li>Respect the intellectual property rights of Creators, including by not
                                    recording, reproducing, sharing, communicating to the public or otherwise
                                    distributing their Content without authorization.
                                </li>
                                <li>Do not do anything that violates our or someone else's rights, including
                                    intellectual property rights (examples of which are copyright, trademarks,
                                    confidential information, and goodwill), personality rights, unfair competition,
                                    privacy, and data protection rights.
                                </li>
                                <li>Do not impersonate us, one of our employees, another User, or any other person
                                    or company or falsely state or suggest any affiliation, endorsement, sponsorship
                                    between you and us or any other person or company.
                                </li>
                                <li>Do not provide false account registration information or make unauthorized use
                                    of anyone else's information or Content.</li>
                                <li>Do not post or cause to be posted any Content which is spam, which has the
                                    intention or effect of artificially increasing any Creator's views or
                                    interactions, or which is otherwise inauthentic, repetitive, misleading or low
                                    quality.</li>
                                <li>Do not transmit, stream, or otherwise send any pre-recorded audio or video
                                    material during a live stream or otherwise attempt to pass off recorded material
                                    as a live stream.
                                </li>
                                <li>Do not use other media or methods (for example the use of codewords or signals)
                                    to communicate anything which violates this Policy.
                                </li>
                                <li>Do not reproduce, print, distribute, attempt to download, modify, create
                                    derivative works of, publicly display, publicly perform, republish, download,
                                    store or transmit any Content, except as permitted under the Terms of Service.
                                </li>
                                <li>Do not knowingly introduce any viruses, trojans, worms, logic bombs or other
                                    material into Content which is or may be malicious or technologically harmful.
                                </li>
                                <li>Do not decompile, disassemble, reverse engineer, or otherwise attempt to
                                    discover or derive the source code of <b>Chello</b>.</li>
                                <li>Do not use <b>Chello </b>in a way that could adversely affect our systems or security
                                    or interfere with any other User’s use of <b>Chello</b>, including their ability to
                                    engage in real-time activities through <b>Chello</b>.
                                </li>
                                <li>Do not use any automated program, tool or process (such as web crawlers, robots,
                                    bots, spiders, and automated scripts) to access <b>Chello </b>or any server, network or
                                    system associated with OnlyFans, or to extract, scrape, collect, harvest or
                                    gather Content or information from <b>Chello</b>.
                                </li>
                                <li>Do not use <b>Chello</b>'s name, logo or any related or similar names, logos, product
                                    and service names, designs, or slogans other than in the limited ways which are
                                    expressly permitted in the Terms of Service or with our prior written agreement.
                                </li>

                            </ul>
                            <p>Breaches of this Policy may lead to your account being suspended or terminated, and
                                access to your earnings being revoked, as set out in the Terms of Service.</p>

                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-title" data-toggle="collapse"  data-target="#aitem2">
                            <h2>ANTI-SLAVERY AND ANTI-TRAFFICKING STATEMENT
                                <i class="fa fa-angle-down"></i>
                            </h2>
                        </div>
                        <div class="collapse accordion-content" id="aitem2">
                            <p>This statement is made pursuant to section 54(1) of the Modern Slavery Act 2015.This
                                statement sets out the steps to be taken by <b>Chello </b>and constitutes our slavery and
                                human trafficking statement for the current financial year.
                            </p>
                            <p><b>Chello </b>is a social media platform enhancing the connection between creators and fans.
                                The site is inclusive of artists and content creators from all genres and allows
                                them to develop authentic relationships with their fan base. <b>Chello </b>gives creators
                                the opportunity to monetise the content they want to share and how they share it in
                                a secure environment ensuring full compliance with relevant laws, rules and
                                regulations.
                            </p>
                            <p>Modern slavery is a crime and a violation of fundamental human rights. It takes
                                various forms such as slavery, servitude, forced and compulsory labour and human
                                trafficking, all of which have in common the deprivation of a person’s liberty by
                                another in order to exploit them for personal or commercial gain. We have a
                                zero-tolerance approach to modern slavery and are committed to acting ethically and
                                with integrity in all our business dealings and relationships and, taking into
                                account our creator/fan platform structure to implementing and enforcing effective
                                systems to ensure modern slavery is not taking place anywhere in our business or in
                                any of our supply chains.
                            </p>
                            <p>We are committed to ensuring that there are no modern slavery or human trafficking
                                activities taking place on our platform or via our third-party suppliers. Our
                                Anti-Slavery and Anti-Trafficking Policy reflects our commitment to acting ethically
                                and with integrity in all our business relationships and to implementing and
                                enforcing effective systems and controls to ensure slavery and human trafficking is
                                not taking place within the <b>Chello world</b>.
                            </p>
                            <p><b>Chello </b>utilizes an ever expanding range of systems, including SightEngine, to monitor
                                and review all uploaded content.
                            </p>
                            <p>On discovering child sexual abuse material (CSAM) we immediately report to the
                                relevant authorities and provide them with as much information as possible to
                                support their investigations and their efforts to safeguard any minors.
                            </p>
                            <p>The prevention, detection and reporting of modern slavery in any part of our business
                                or throughout our supply chain is the responsibility of all those working for us,
                                with us or under our control. Our employees are required to avoid any activity that
                                might lead to, or suggest, a breach of this statement. All employees are required to
                                read, understand and comply in full with our Anti-Slavery and Anti-Trafficking
                                Policy. Internally we brief and encourage our employees to report any concerns or
                                wrongdoings which extends to any human rights violations like modern slavery. All
                                reports will be fully investigated and appropriate remedial action taken. We enforce
                                our Terms of Service and comply with our obligations as a host to remove content
                                once reported. For our users we have a community reporting process which allows fans
                                and creators and any concerned people to report any breaches of policy and
                                regulations and law. This can be done by emailing us at
                                <b><a href="mailto:support@chello.biz">support@chello.biz.</a></b>
                            </p>
                            <p>
                                We have a whistleblowing policy which encourages our employees to report any
                                concerns or wrongdoings which extends to human rights violations like modern
                                slavery. All reports are investigated, and appropriate action taken. If any employee
                                or user or third party raises a genuine concern, they will not suffer any detriment
                                as a result of doing so even if they turn out to be wrong.
                            </p>
                            <p>We encourage anyone encountering content on <b>Chello </b>that indicates someone is in
                                immediate physical danger relating to human trafficking to immediately report the
                                content to us at <b><a href="mailto:support@chello.biz">support@chello.biz.</a></b>
                            </p>
                            <p>We are committed to maintaining and improving our practices to combat slavery and
                                human trafficking.</p>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
