<app-header></app-header>
<div class="poll-page">
    <div class="wrapper-poll">
        <div class="width-poll">
            <div class="headding-poll">
                <p class="color-blue font-26 font-bold">New Post</p>
            </div>
            <div class="poll-div-section">
                <div class="wrapper-poll-div-section">
                    <div class="col-md-7">
                        <div class="first-div-upper-title">
                            <p class="font-medium font-16 color-blue"><span class="iconify font-26"
                                    data-icon="fa6-solid:square-poll-vertical"></span> &nbsp; Poll Duration</p>
                            <!-- <button>7 Days <span class="iconify" data-icon="ant-design:arrow-down-outlined"></span></button> -->
                            <div class="dropdown show">
                                <a class="button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    7 Days <span class="iconify" data-icon="ant-design:arrow-down-outlined"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">5 day</a>
                                    <a class="dropdown-item" href="#">4 day</a>
                                </div>
                            </div>
                        </div>
                        <div class="poll-inputs">
                            <div class="form-group position-relative">
                                <input type="text" value="Music" class="w-100">
                                <span class="iconify" data-icon="ic:round-cancel"></span>
                            </div>
                            <div class="form-group position-relative">
                                <input type="text" value="Dance" class="w-100">
                                <span class="iconify" data-icon="ic:round-cancel"></span>
                            </div>
                            <div class="form-group position-relative">
                                <input type="text" value="Movies" class="w-100">
                                <span class="iconify" data-icon="ic:round-cancel"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="div-for-new-post-poll">
                            <div class="wrapper-new-post-poll">
                                <div class="wrapper-new-poll-post headding">
                                    <p class="font-medium font-16 color-blue"> <span class="font-18">+</span> &nbsp; Add
                                        another option</p>
                                </div>
                                <div class="text-area-for-poll">
                                    <div class="form-group position-relative">
                                        <textarea rows="4"
                                            class="w-100">Guys what should I post more about? Let me know!</textarea>
                                        <div class="option-selected-for-ta">
                                            <a href=""><span class="iconify"
                                                    data-icon="icon-park-outline:picture-one"></span></a>
                                            <a href=""><span class="iconify"
                                                    data-icon="ph:video-camera-bold"></span></a>
                                            <a href=""><span class="iconify" data-icon="bxs:microphone-alt"></span></a>
                                            <a href=""><span class="iconify active"
                                                    data-icon="fa6-solid:square-poll-vertical"></span></a>
                                            <a href=""><span class="iconify" data-icon="mdi:calendar-range"></span></a>
                                            <a href=""><span class="iconify" data-icon="fa:hourglass-3"></span></a>
                                        </div>
                                    </div>
                                    <div class="right-side-button text-right">
                                        <button>Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>