
<div class="timed-post">    
    <div class="poll-div-section">
        <div class="wrapper-poll-div-section">
            <div class="">
                <div class="div-for-new-post-poll">
                    <div class="wrapper-new-post-poll">
                        <div class="text-area-for-poll" >
                            <form [formGroup]="feedForm">
                                <div class="time-post-title">
                                    <img class="mr-2" src="assets/images/microphone.png">
                                    Audio Post
                                </div>
                                <div class="form-group position-relative">                                    
                                    <div rows="4" class="w-100 bg-white p-3" formControlName="postTxt"
                                        [ngClass]="{ 'is-invalid': submitted && f.postTxt.errors }"
                                        placeholder="Compose new post" contenteditable="true" ngDefaultControl>
                                        <textarea class="text-grey post-text-content" formControlName="postTxt" placeholder="Check out my new Audio!"></textarea>                                        
                                        <div class="post-text-content w-100 h-50">
                                            <audio *ngIf="audioSrc.length==1" controls >
                                                <source src="{{audioSrc[0].value}}">                                        
                                              Your browser does not support the audio element.
                                            </audio>                                        
                                        </div>    
                                        <div style="display: flex; align-items: center; flex-wrap: wrap">                                                                                        
                                            <div  class="audio-content" style="display: flex; align-items: center;">                                                                                  
                                                <div>                                                                                                                                 
                                                    <button *ngIf="!isRecording" class="select-audio mr-2 attach-audio" (click)="startRecording()">
                                                        <img src="assets/images/mic.png"> Record Audio
                                                    </button>                                  
                                                    <button *ngIf="isRecording" class="select-audio mr-2" (click)="stopRecording()">
                                                        <img src="assets/images/mic.png"> Stop Record
                                                    </button>                                  
                                                </div> 
                                                <div class="select-audio attach-audio" (click)="openFileSelector('addAudio')">                                                              
                                                    <img src="assets/images/attach.png">{{attachText}}
                                                    <input id="addAudio" type="file" class="form-control"
                                                        (change)="selectFile($event, 'addAudio')" style="display:none" accept="audio/*"
                                                        capture>                                    
                                                </div> 
                                            </div>                                            
                                        </div>                                                                                 

                                    </div>
                                    <div *ngIf="submitted && f.postTxt.errors" class="invalid-feedback">
                                        <div *ngIf="f.postTxt.errors.required" style="color:red;">Post text is required
                                        </div>
                                    </div>
    
                                </div>   
                                <div class="under-btn-group">
                                    <div class="left-side-button">
                                        <a href="javascript:void(0)" (click)="cancelPost()" class="font-14 font-medium color-blue margin-l-r-a">Cancel</a>                                    
                                    </div>
                                    <div class="right-side-button">
                                        <a href="javascript:void(0)" class="font-14 font-medium color-blue margin-l-r-a">Post
                                            Later</a>
                                        <button type="button" (click)="postFeed()">Post</button>
                                    </div>                                    
                                </div>
                                <div class="right-side-button text-right" *ngIf="retrievedGroupDetails">
                                    <a href="javascript:void(0)" class="font-14 font-medium color-blue margin-l-r-a">Post
                                        Later</a>
                                    <button type="button" (click)="postGroupFeed()">Post</button>
                                </div>                                                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>