
<app-header-new></app-header-new>
<div class="homepage margin-minus-header  message-wrapper-chello">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-9 message-2-div ">
                    <div class="home-middle-div position-relative">
                        <div class=" message-2-title border-bottom-pe">
                            <div class="headding-home-middle-div d-flex justify-content-between">
                                <p class="font-20 font-bold color-blue">Write Message</p>

                            </div>
                            <div class="new-message-btn d-flex">
                                <div class="search-icon-mess-2">
                                    <a href=""><span class="iconify color-a8 font-20"
                                            data-icon="akar-icons:search"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="div-mess-2-ni border-bottom-pe">
                            <div class="message-3-tabs">
                                <div class="tab-one-m3">
                                    <div class="headding-poll">
                                        <div class="poll-asked-user d-flex justify-content-between">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 10 (1).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-49">Jada Jaxson </p>
                                                    <p class="font-14 color-49">@jessicaalba</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-close-tab-m3">
                                        <a href=""><span class="iconify font-20 color-red"
                                                data-icon="charm:circle-cross"></span></a>
                                    </div>
                                </div>
                                <div class="tab-one-m3">
                                    <div class="headding-poll">
                                        <div class="poll-asked-user d-flex justify-content-between">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (2).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-49"> Jaxson Lipshutz </p>
                                                    <p class="font-14 color-49">@jessicaalba</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-close-tab-m3">
                                        <a href=""><span class="iconify font-20 color-red"
                                                data-icon="charm:circle-cross"></span></a>
                                    </div>
                                </div>
                                <div class="tab-one-m3">
                                    <div class="headding-poll">
                                        <div class="poll-asked-user d-flex justify-content-between">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (1).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-49"> Jaxson Lipshutz </p>
                                                    <p class="font-14 color-49">@jessicaalba</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-close-tab-m3">
                                        <a href=""><span class="iconify font-20 color-red"
                                                data-icon="charm:circle-cross"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-message-3-typing-box">
                        <div class="message-3-typing-box">
                            <div class="col-md-9" >
                                <div class="typing-box">
                                    <div class="wrapper-chat-button">
                                        <div class="div-for-send-message">
                                            <input type="text" class="form-control" placeholder="Type message">
                                            <div class="msg-btns">
                                                <div class="icons-one">
                                                    <a href=""><span class="iconify"
                                                            data-icon="icon-park-outline:picture"></span></a>
                                                    <a href=""><img src="assets/images/video-camera (2) 1.png"
                                                        alt="image"></a>
                                                    <a href=""><img src="assets/images/microphone (1) 1.png"
                                                        alt="image"></a>
                                                    <a href=""><img src="assets/images/hourglass-end 1.png"
                                                        alt="image"></a>
                                                    <a href=""><img src="assets/images/tip.png"
                                                        alt="image"></a>
                                                </div>
                                               <div class="icons-two">
                                                <div class="right-side-button text-right">
                                                    <button>Send</button>
                                                </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
