<app-header-new></app-header-new>

<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="headding-home-middle-div d-flex justify-content-between">
                                    <p class="font-20 font-bold color-blue">Notifications</p>
                                    <p><a href="notification-setting.html"><span class="iconify color-blue font-26"
                                                data-icon="ant-design:setting-outlined"></span></a></p>
                                </div>
                                <div class="first-home-middle-flex flex-w">
                                    <div class="notification-tabs">
                                        <a href="" class="active">All</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Subscriptions</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Payments</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Tips</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Followers</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Fans</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Likes</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Comments</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Mentions</a>
                                    </div>
                                    <div class="notification-tabs">
                                        <a href="">Campaigns</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notification-div-link">
                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/leady.png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Miracle Rosser
                                                    </p>
                                                    <p class="font-14 color-3f">Paid you a tip of $5.00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>

                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 10 (1).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Haylie Bergson
                                                    </p>
                                                    <p class="font-14 color-3f">Subscribed to you for $15/mth.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>

                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (1).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Craig Dorwart
                                                    </p>
                                                    <p class="font-14 color-3f">Paid you a payment of $10.00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>

                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (2).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Ashlynn Passaquindici Arcand
                                                    </p>
                                                    <p class="font-14 color-3f">Is now following you.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>

                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (3).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Carter Dias
                                                    </p>
                                                    <p class="font-14 color-3f">Is a Fan of yours.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Jordyn Lipshutz
                                                    </p>
                                                    <p class="font-14 color-3f">Liked your Ecstasy video.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (5).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Davis Schleifer
                                                    </p>
                                                    <p class="font-14 color-3f"><b>Commented</b> Nice podcast you did on “How build your credit.”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 10 (2).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Abram Herwitz
                                                    </p>
                                                    <p class="font-14 color-3f">You were mentioned by <b>@Syed</b> in your post “How build your credit.”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (3).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Davis Schleifer
                                                    </p>
                                                    <p class="font-14 color-3f"><b>Commented</b> Nice podcast you did on “How build your credit.”</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-block">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="notification-list-text">
                                        <div class="poll-asked-user">
                                            <div class="wrapper-poll-asked-user">
                                                <img src="assets/images/Ellipse 14 (1).png" alt="image" />
                                                <div class="user-info-p-a">
                                                    <p class="font-14 font-bold color-blue"> Miracle Rosser
                                                    </p>
                                                    <p class="font-14 color-3f">Likes your post.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-duriation">
                                        <p class="font-14 color-d3">1 min ago</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
