<app-header></app-header>

<div class="about-us-div">
    <div class="wrapper-about-us">
        <div class="container">
            <div class="heading-about-us">
                <p class="color-blue font-26 font-bold">About </p>
            </div>
            <div class="about-heading-under">
                <p>
                    <b class="color-blue">Chello</b> is a social media platform, enhancing the <b
                        class="color-blue">Creator</b> and the <b class="color-blue">Fan</b> connection! <b
                        class="color-blue">Chello</b> saw that the Creator was giving away 15-20% of their earnings to
                    companies. With <b class="color-blue">Chello</b>, <b class="color-blue">Creator</b> keep {{veriable.creatorKeeps}}% of
                    their earnings!
                </p>
                <p class="font-16 color-black"><b class="color-blue">Chello</b> is a free platform for all <b
                    class="color-blue">Users</b>. However, when a <b
                    class="color-blue">Creator</b> is ready to start earning money, an admin fee of ${{veriable.adminMonthlyFee}} per month or ${{veriable.adminYearlyFee}} per year is required. We look at this as the cost of doing business, while you are able to take home  10-14% MORE of YOUR EARNINGS! This per month charge ONLY occurs when you are ready to start connecting with <b
                    class="color-blue">Fans</b> on <b class="color-blue">Chello</b>.</p>
            </div>
            <div class="main-table-wrapper-ab">
                <div class="about-table-div">
                    <div class="about-table-headding">
                        <p class="font-16 font-bold color-black"> See Examples:</p>
                    </div>
                    <div class="about-table-green-headding">
                        <p class="font-26 font-bold color-green">Creator makes $100,000 per year</p>
                    </div>
                </div>
                <div class="col-md-8 table-div-ab">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="first-row-tab"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <img src="assets/images/Chello Logo_Final-01 3.png" alt="image">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-center">
                                <p class="font-bold font-26 color-red">OTHERS</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Creator Earnings %</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">{{veriable.creatorKeeps}}%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">80%</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Company Keep Earnings %</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">{{veriable.chelloCommission}}%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">20%</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Creator Earnings USD </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$94,000</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$80,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Company Keep USD </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$6,000</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$20,000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-table-div">
                    <div class="about-table-green-headding">
                        <p class="font-26 font-bold color-green">Creator makes $1,000,000 per year</p>
                    </div>
                </div>
                <div class="col-md-8 table-div-ab">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="first-row-tab"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <img src="assets/images/Chello Logo_Final-01 3.png" alt="image">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-center">
                                <p class="font-bold font-26 color-red">OTHERS</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Creator Earnings %</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">{{veriable.creatorKeeps}}%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">80%</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Company Keep Earnings %</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">{{veriable.chelloCommission}}%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">20%</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Creator Earnings USD </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$940,000</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$800,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="first-row-tab">
                                <p class="font-18 color-39 font-medium">Company Keep USD </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$60,000</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="first-row-tab text-right">
                                <p class="font-18 color-39 font-medium">$200,000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-under-div-text-table">
                <p class="font-16 color-black">As you can see from the examples, we want the <b
                    class="color-blue">Creator</b> to take more
                $$$ home! Hopefully you can also see, the ${{veriable.adminMonthlyFee}} per month x 12 months= $300 per year, does not
                equate to the savings you will have by becoming a <b class="color-blue">Chello Creator!</b></p>
                <br>
                <p class="font-16 color-black">By the way, WE wanted to make the About, all about what matters to
                    you the most……$$$$! </p>
                <br>
                <p class="font-16 color-black">
                    Only other fees <b class="color-blue">Creator</b> pays is transaction fee of $1.50 when <b
                        class="color-blue">Creator</b> is getting paid. Chello pays the <b
                        class="color-blue">Creator</b> on the 3rd, 10th, 20th, and 28th of each month. However, <b
                        class="color-blue">Creator</b> can request to get paid on any other day if needed, then the
                    transaction fee will be $10. NO OTHER HIDDEN FEES.
                </p>
                <br>
                <p class="font-16 color-black">
                    The website of <b class="color-blue">Chello</b> is <a href="www.chello.world" target="_blank"
                        class="color-blue">www.chello.world</a> </p>
                <br>
                <p class="font-16 color-black">WWW Tacete, LLC is the owner and operator of <b
                        class="color-blue">Chello</b>.</p>
                <br>
                <p class="font-16 color-black"><b class="color-blue">Creators</b> + <b class="color-blue">Fans</b> = <b
                        class="color-blue">Chello</b> #LetsGO</p>
                <br>
                <a routerLink="/features" class="color-blue text-deco">See <b class="color-blue">Chello</b> Features</a>
            </div>
            <!-- calculator  -->
            <div class="calculator-about">
                <div class="wrapper-calculator-about">
                    <div class="headding-calculatr text-center">
                        <p class="color-blue font-bold font-26">Chello's Earning Calculator</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="headding-creator">
                                <p class="color-blue font-bold font-18">Creator Made:</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="poll-inputs">
                                <div class="form-group position-relative">
                                    <input type="text" value="$100,000.00" class="w-100" id="earningAmount"
                                        onChange="value='$'+formatNumber(value,2,0);dscl()">
                                </div>
                            </div>
                            <div class="button-in-calculate form-group">
                                <div class="right-side-button ">
                                    <button onclick="dscl()">CALCULATE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blue-div-calculator">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <p class="font-32 color-white font-bold" id="creatorNetPay">$94,000.00</p>
                                <p class="font-26 color-white font-bold">Creator's NET Pay<br>{{veriable.creatorKeeps}}%</p>
                            </div>
                            <div class="col-md-6 text-center">
                                <p class="font-32 color-white font-bold" id="chelloAmount">$6,000.00</p>
                                <p class="font-26 color-white font-bold">Chello's Amount<br>6%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="last-div-cal">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <div class="form-group">
                                <p><span>*</span> Creator pays an admin fee of ${{veriable.adminMonthlyFee}}/month.</p>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="calculator-image">
                                <img src="assets/images/content-creator-chello-white.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ calculator  -->
        </div>
    </div>
</div>

<app-footer></app-footer>