<app-header-new></app-header-new>
<div class="homepage margin-minus-header profile-edit-main">
  <div class="homepage-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
          <div class="delete-account-div margin-top-mobile">
            <div class="wrapper-list-main">
              <div class="wrapper-delete-account-div list-heading-b">
                <div class="home-middle-div-one position-relative">
                  <div class="headding-profile-middle-div d-flex">
                    <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                        data-icon="akar-icons:arrow-left"></span></a>
                    <p class="font-20 font-bold color-blue">Lists</p>
                  </div>
                </div>
                <div class="list-create-head">
                  <a (click)="openCreateListModal()" class="color-black font-20" data-toggle="modal"
                    data-target="#CreateNewList"><span class="iconify" data-icon="akar-icons:plus"></span></a>
                </div>
              </div>
              <!-- --------Modal--------- -->
              <div class="modal fade" id="CreateNewList" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <!-- <app-payment></app-payment> -->
                    <!-- <div id="tab2" class="tabcontent"> -->
                    <div class="modal-header">
                      <p class="font-20 color-blue font-bold">
                        Create New List
                      </p>
                    </div>
                    <div class="modal-main">
                      <p class="font-18 color-black">Enter List Name</p>
                      <input class="input-name" [(ngModel)]="added_user" placeholder="" reqired />
                    </div>
                    <div class="modal-footer">
                      <button class="cancel-btn" (click)="closeCreateListModal()">
                        Cancel
                      </button>
                      <button class="confirm-btn" (click)="addList(added_user)">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="EditListModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <!-- <app-payment></app-payment> -->
                    <!-- <div id="tab2" class="tabcontent"> -->
                    <div class="modal-header">
                      <p class="font-20 color-blue font-bold">Edit List</p>
                    </div>
                    <div class="modal-main">
                      <p class="font-18 color-black">Edit List Name</p>
                      <input class="input-name" [(ngModel)]="edit_user" placeholder="" required />
                    </div>
                    <div class="modal-footer">
                      <input type="hidden" value="{{list_id}}" id="list_id">
                      <button class="cancel-btn" (click)="closeEditListModal()">
                        Cancel
                      </button>
                      <button class="confirm-btn" (click)="updateList(edit_user)">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="DeleteListModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <!-- <app-payment></app-payment> -->
                    <!-- <div id="tab2" class="tabcontent"> -->
                    <div class="modal-header" style="border-bottom: none">
                      <p class="font-20 color-blue font-bold">
                        Are you sure want to delete List ?
                      </p>
                    </div>
                    <div class="modal-footer" style="border-top: none">
                      <input type="hidden" value="{{list_id}}" id="delete_id">
                      <button class="cancel-btn" (click)="closeDeleteListModal()">
                        Cancel
                      </button>
                      <button class="confirm-btn" (click)="removeList()">
                        Yes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper-veri-tab">
                <div class="width-list-vertitab">
                  <div class="div-tab-p-verti">
                    <p class="color-blue font-16">
                      Custom Order
                    </p>
                  </div>
                  <div class="tab">
                    <div *ngFor="let userPost of userPosts; let i = index">
                      <button class="tablinks" (click)="openTabTS($event, i, userPost._id)">
                        {{ userPost.title }}<span>{{ userPost.memberDetails.length==0 ? "Empty" : userPost.memberDetails.length }}</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="width-list-vertitab-2">
                  <div *ngFor="let userPost of userPosts; let i = index">
                    <div id="{{'tab'+(i)}}" class="tabcontent">
                      <div class="title-div-vtab">
                        <div class="list-div">
                          <div class="list-d-wrap">
                            <a href="">
                              <p class="font-20 font-bold color-blue">
                                {{userPost.title}}
                              </p>
                            </a>
                            <div class="vault-section-one">
                              <div class="filter-vault position-relative mx-2">
                                <a href="javascript:void(0)" class="font-20 color-black dropdown-toggle" role="button"
                                  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  <span class="iconify" data-icon="bi:filter-right"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <div class="radio-button-vault">
                                    <div class="form-group">
                                      <input type="radio" id="rdo1" class="radio-input" name="radio-group" />
                                      <label for="rdo1" class="color-black font-16">Name
                                      </label>
                                    </div>
                                    <div class="form-group">
                                      <input type="radio" id="rdo2" class="radio-input" name="radio-group" />
                                      <label for="rdo2" class="color-black font-16">Recent Liked
                                      </label>
                                    </div>
                                    <div class="form-group">
                                      <input type="radio" id="rdo3" class="radio-input" name="radio-group" />
                                      <label for="rdo3" class="color-black font-16">People Views
                                      </label>
                                    </div>
                                    <div class="border-e4"></div>
                                    <div class="form-group">
                                      <input type="radio" id="rdo4" class="radio-input" name="radio-group" />
                                      <label for="rdo4" class="color-black font-16">Custom
                                      </label>
                                    </div>

                                    <div class="form-group">
                                      <input type="radio" id="rdo5" class="radio-input" name="radio-group" />
                                      <label for="rdo5" class="color-black font-16">Ascending
                                      </label>
                                    </div>
                                    <div class="border-e4"></div>
                                    <div class="form-group">
                                      <input type="radio" id="rdo6" class="radio-input" name="radio-group" />
                                      <label for="rdo6" class="color-black font-16">Descending
                                      </label>
                                    </div>

                                    <div class="form-group">
                                      <p class="color-black font-16">
                                        Customize Order
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="filter-vault position-relative">
                                <a href="javascript:void(0)" class="font-20 color-black dropdown-toggle" role="button"
                                  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  <span class="iconify" data-icon="bi:three-dots"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <div class="radio-button-vault">
                                    <div class="form-group">
                                      <a (click)="openEditListModal(userPost._id)" class="font-20 color-black dropdown-toggle"
                                        role="button" data-toggle="modal" data-target="#EditListModal">
                                        <span for="rdo1" class="color-black font-18">Edit
                                        </span>
                                      </a>
                                    </div>
                                    <div class="form-group">
                                      <a (click)="openDeleteListModal(userPost._id)" class="font-20 color-black dropdown-toggle"
                                        role="button" data-toggle="modal" data-target="#DeleteListModal">
                                        <span for="rdo2" class="color-black font-18">Delete
                                        </span>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="detail-div-vtab">
                        <div class="wrapper-member-new-group" *ngFor="let listMember of listMemberData; let j=index">
                          <div class="row align-items-center">
                            <div class="col-md-5">
                              <div class="wrapper-poll-asked-user">
                                <img src="{{profilePicture}}" alt="image" />
                                <div class="user-info-p-a">
                                  <p class="font-14 font-bold color-49">
                                    {{listMember.userDetail[0].fullName}} &nbsp;
                                    <span class="iconify font-20 color-light-blue" data-icon="ic:sharp-verified"></span>
                                  </p>
                                  <p class="font-14 color-49">{{listMember.userDetail[0].userName}}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="text-center text-member">
                                <p class="font-12 color-7a">
                                  Followed {{fomartDate(listMember.createdAt)}} days ago
                                </p>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="button-member-remo">
                                <button (click)="removeListMember(listMember.member_id)">Unfollow</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="list-create-head"></div>
                        <a (click)="addMember(userPost._id, userJsonData._id)" class="color-black add-member" ><span class="iconify" data-icon="akar-icons:plus"></span></a>
                      <!-- <button class="add-member font-20 float-right" (click)="addMember(userPost._id, userJsonData._id)">+</button> -->
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


<!-- Modal -->
<div class="modal-in-gc">
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-list-p">
            <p class="font-bold font-20 color-blue">Create New List</p>
          </div>
          <div class="input-for-modal-group position-relative">
            <label class="font-16 color-49 font-bold">Enter List Name</label>
            <input type="text" class="w-100">
            <div class="counter-list-modal">
              <p class="font-12 color-black">0/88</p>
            </div>
          </div>
          <div class="button-to-invite-gc">
            <div class="right-side-button text-right">
              <a href="" class="font-14 font-medium color-blue margin-l-r-a">Cancel</a>
              <button>Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
