<div class="first-div-chello">
    <div class="container-fluid">
        <div class="row align-items-start o-h">
            <div class="col-md-6">
                <div class="row">
                    <div class="first-div-login">
                        <div class="image-for-logo text-center">
                            <img src="assets/images/Chello.png" alt="image">
                        </div>
                        <div class=" text-under-logo text-center">
                            <p class="color-white font-medium font-32">Creators + Fans = Chello</p>
                            <p class="color-white font-18 font-medium">#LetsGO</p>
                        </div>
                        <div class="image-for-mask text-center">
                            <img src="assets/images/Mask group.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="text-for-login">
                    <div class="headding-login">
                        <p class="font-26 color-blue font-bold">Forgot Password?</p>
                    </div>
                    <div class="form-div-login">
                        <form>
                            <div class="form-group password-icon position-relative">
                                <label class="font-14 color-grey">Password</label>
                                <input type="password" name="password" class="w-100">
                                <span class="iconify" data-icon="akar-icons:eye"></span>
                            </div>
                            <div class="form-group password-icon position-relative">
                                <label class="font-14 color-grey">Confirm Password</label>
                                <input type="password" name="password" class="w-100">
                                <span class="iconify" data-icon="akar-icons:eye"></span>
                            </div>
                            <div class="button-link">
                                <div class="d-flex justify-content-between">
                                    <a href="javascript:void(0)" class="btn">Reset Password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="padding-for-footer"></div>
    </div>
</div>
<div class="clearfix"></div>




<app-footer></app-footer>