
.time-post-title {
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    
    margin-block-end: 10px;
    color: #150AA1;
}

.text-grey {
    color: #9A9A9A;
}

.select-photo {
    width: 120px;
    height: 120px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, #F2F2F2, #F2F2F2), #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}

.cancel-btn-i {
    position: absolute !important;
    margin-left: 119px !important;
    margin-top: -118px !important;
    color: #150AA1;
}

.under-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-text-content {
    background-color: white;
    width: 100%;
    height: auto;
    border-color: white;
    color: #1b1d1f;
    font-size: 18px;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(189, 188, 188);
  }