<!-- loding -->
<ngx-spinner bdColor="rgba(238,238,238,.4)" size="medium" color="#486ffa" type="ball-clip-rotate"></ngx-spinner>
<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="home-middle-div">
                        <div class="col-md-12 second-home-middle position-relative">
                            <div class="add-bank-pe">
                                <div class="wrapper-add-bank-pe">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="font-16 font-bold color-blue">Add Bank (to earn)</p>
                                        <div class="right-side-button">
                                            <a routerLink="/withdraw-earning-3" [routerLinkActive]="['active']">
                                                <button>+ Add Bank</button>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- bank card listing  -->
                                    <div class="card-listing">
                                        <div class="card-listing-wrapper">
                                            <p class="color-68 font-bold font-16" *ngIf="bankAccountList.length != 0">Manage Saved Bank Account</p>
                                            <div class="add-card-list" *ngFor="let bankAccountLists of bankAccountList">
                                                <div class="bank-name-e-op d-flex align-items-center justify-content-between">
                                                    <p class="font-14 color-38 font-medium">{{bankAccountLists['business_name']}}</p>
                                                    <a href="" class="font-14 color-blue">Edit</a>
                                                </div>
                                                <div class="bank-name-e-op d-flex align-items-center justify-content-between">
                                                   <p class="font-14 color-9a font-medium">{{replaceLastChar(bankAccountLists['account_number'])}}</p>
                                                   <a style="cursor: pointer;" (click)="deleteBankAccount(bankAccountLists._id)" class="color-black"><span  class="iconify" data-icon="ant-design:delete-twotone"></span></a>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper-add-bank-pe">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="font-16 font-bold color-blue">Add Card (to subscribe)</p>
                                        <div class="right-side-button">
                                            <a routerLink="/withdraw-earning-2" [routerLinkActive]="['active']">
                                                <button>+ Add Card</button>
                                            </a>
                                        </div>
                                    </div>
                                     <!-- card listing  -->
                                     <div class="card-listing">
                                         <div class="card-listing-wrapper">
                                             <p class="color-68 font-bold font-16" *ngIf="cardList.length != 0">Manage Saved Cards</p>
                                             <div class="add-card-list" *ngFor="let cardLists of cardList">
                                                 <div class="bank-name-e-op d-flex align-items-center justify-content-between">
                                                     <p class="font-14 color-38 font-medium">{{cardLists['name_on_card']}}</p>
                                                     <a href="" class="font-14 color-blue">Edit</a>
                                                 </div>
                                                 <div class="bank-name-e-op d-flex align-items-center justify-content-between">
                                                    <p class="font-14 color-9a font-medium">{{replaceLastChar(cardLists['card_number'])}}</p>
                                                    <a style="cursor: pointer;" (click)="deleteCard(cardLists._id)" class="color-black"><span  class="iconify" data-icon="ant-design:delete-twotone"></span></a>
                                                </div>
                                             </div>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
             
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-for-right-side-home">
                        <div class="search-bar-home">
                            <input type="text" placeholder="Search" class="w-100" />
                            <span class="iconify" data-icon="akar-icons:search"></span>
                        </div>
                        <div class="spotify-connect border-bottom-pe">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="font-32"><span class="iconify" data-icon="logos:spotify"></span></p>
                                <div class="button-connect">
                                    <a style="cursor: pointer;" (click)="connectSpotify()" class="color-blue">Connect</a>
                                </div>
                            </div>
                        </div>
                        <div class="spotify-connect border-bottom-pe">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="font-32"><span class="iconify" data-icon="logos:shopify"></span><span
                                        class="font-14 color-black"> &nbsp; Shopify</span></p>
                                <div class="button-connect">
                                    <a href="" class="color-blue">Connect</a>
                                </div>
                            </div>
                        </div>
                        <div class="spotify-connect border-bottom-pe">
                            <div class="d-flex align-items-center justify-content-between amazone-pay">
                                <p class=""><span class="iconify color-yellow font-32"
                                        data-icon="ant-design:amazon-circle-filled"></span><span
                                        class="font-14 color-black"> &nbsp; Amazon Wishlist</span></p>
                                <div class="button-connect">
                                    <a href="" class="color-blue">Connect</a>
                                </div>
                            </div>
                            <div class="headding-input-pe position-relative">
                                <input type="text" placeholder="Insert Link here..." class="w-100">
                                <div class="button-change-pe">
                                    <button>Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="spotify-connect-referal-cid">
                            <div class="div-f-fore-more">
                                <div class="headding-more-m">
                                    <p class="font-16 font-bold color-blue">My Referral Code ID</p>
                                </div>
                                <div class="input-more-m">
                                    <input type="text" placeholder="" class="w-100">
                                    <a href=""><span class="iconify" data-icon="akar-icons:copy"></span></a>
                                </div>
                                <div class="share-more-m d-flex align-items-baseline">
                                    <p class="font-14 font-bold color-black d-flex">Share in &nbsp;
                                        &nbsp; &nbsp; &nbsp; </p>
                                    <div class="social-icons-for-footer">
                                        <a href="https://www.instagram.com/letschello/"><span class="iconify"
                                                data-icon="typcn:social-instagram"></span></a>
                                        <a href="https://tiktok.com/@chello.world"><span class="iconify"
                                                data-icon="cib:tiktok"></span></a>
                                        <a href="https://twitter.com/LetsChello"><span class="iconify"
                                                data-icon="ant-design:twitter-outlined"></span></a>
                                        <a href="javascript:void(0)"><span class="iconify"
                                                data-icon="eva:facebook-fill"></span></a>
                                        <a href="javascript:void(0)"><img src="assets/images/24ent new logo white 1.png"
                                                alt="image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spotify-connect ">
                            <div class="drop-down-new-pe">
                                <p class="font-14 color-black">Language</p>
                                <a href="" class="font-14 color-9a w-100 dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">English</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Hindi</a>
                                    <a class="dropdown-item" href="#">Gujarati</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>