<div class="first-div-chello">
  <div class="container-fluid">
    <div class="row align-items-start o-h">
      <div class="col-md-6">
        <div class="row">
          <div class="first-div-login">
            <div class="image-for-logo text-center">
              <img src="assets/images/Chello.png" alt="image">
            </div>
            <div class=" text-under-logo text-center">
              <p class="color-white font-medium font-32">Creators + Fans = Chello</p>
              <p class="color-white font-18 font-medium">#LetsGO</p>
            </div>
            <div class="image-for-mask text-center">
              <img src="assets/images/Mask group.png" alt="image">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="text-for-login">
          <div class="headding-login">
            <p class="font-26 color-blue font-bold">Get Ready……Get Set…..<br>
              One Page Away to Use Chello</p>
          </div>
          <div class="form-div-login">
            <form [formGroup]="registerForm2" (ngSubmit)="register()">
              <div class="form-group position-relative">
                <label class="font-14 color-grey">Enter your Phone Number</label>
                <input id="phone" type="number" minlength=10 maxlength=10 class="w-100 " formControlName="phoneNumber"
                  [ngClass]="{ 'is-invalid': submitted2 && rf2Validation.phoneNumber.errors }">
                <div *ngIf="submitted2 && rf2Validation.phoneNumber.errors" class="invalid-feedback">
                  <div *ngIf="rf2Validation.phoneNumber.errors.required" style="color:red;">Phone number is required
                  </div>
                </div>
                <select class="form-select-for-pass" aria-label="Default select example" (change)="selectCountryCode($event.target)">
                  <option *ngFor="let code of countryCodeList" [value]="code.dialCode">{{code.dialCode}}</option>
                </select>
              </div>
              <!-- <div class="form-group">
                <label class="font-14 color-grey">Enter Your Birthday</label>
                <div class="birth-day-date-entry">
                  <div class="wrapper-birth-day-entry">
                    <div class="first-birthday-entry">
                      <label class="font-12 color-grey">Month</label>
                      <input type="text" name="dob" placeholder="Jan" class="w-100 side-tab" formControlName="month"
                        [ngClass]="{ 'is-invalid': submitted2 && rf2Validation.month.errors }">
                      <div *ngIf="submitted2 && rf2Validation.month.errors" class="invalid-feedback">
                        <div *ngIf="rf2Validation.month.errors.required" style="color:red;">Month is required</div>
                      </div>
                    </div>
                    <div class="first-birthday-entry">
                      <label class="font-12 color-grey">Day</label>
                      <input type="text" name="dob" placeholder="01" class="w-100 side-tab" formControlName="day"
                        [ngClass]="{ 'is-invalid': submitted2 && rf2Validation.day.errors }">
                      <div *ngIf="submitted2 && rf2Validation.day.errors" class="invalid-feedback">
                        <div *ngIf="rf2Validation.day.errors.required" style="color:red;">Day is required</div>
                      </div>
                    </div>
                    <div class="first-birthday-entry">
                      <label class="font-12 color-grey">Year</label>
                      <input type="text" name="dob" placeholder="1993" class="w-100" formControlName="year"
                        [ngClass]="{ 'is-invalid': submitted2 && rf2Validation.year.errors }">
                      <div *ngIf="submitted2 && rf2Validation.year.errors" class="invalid-feedback">
                        <div *ngIf="rf2Validation.year.errors.required" style="color:red;">Year is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <label class="font-14 color-grey">I Want to Become a</label>
                <div class="for-toggle-div-user">
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn-default active" id="roleCreator"
                      (click)="roleSection('creator')">Creator</button>
                    <button type="button" class="btn-default" id="roleFan" (click)="roleSection('fan')">Fan</button>
                  </div>

                </div>
              </div>
              <div class="button-link">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn">Let’s GO</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="padding-for-footer"></div>
  </div>
</div>
<div class="clearfix"></div>


<app-footer></app-footer>