.event-card,.search-form{
    background: #F1F1F1;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}
.search-field{
    background-color: #fff;
    width: 100%;
}
.color-lblue{
    color:#676799 !important;
}

.a-for-h-3 a {
    color: #746dcb;
    margin: 0 5px;
    font-size: 14px;
}