<div class="abc">
    <div class="accordion-content collapse show-side" id="sidebar">
        <div class="sidebar-div-home">
            <div class="wrapper-sidebar-home">
                <div class="user-image-home">
                    <img [src]="profilePicture" alt="image" onError="this.src='assets/images/user.png'"
                        class="round-image" alt="image" style="border: 1px solid #5858FA; border-radius: 100%;" routerLink="/profile" style="cursor: pointer;" />
                    <span class="user-name" routerLink="/profile" style="cursor: pointer;" style="color: #686868 !important;">@{{userName}}</span>
                </div>
                <div class="list-for-user-sidemenu">
                    <li><a routerLink="/home" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="akar-icons:home"></span>Home</a>
                    </li>
                    <li><a routerLink="/notification" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="carbon:notification-new"></span>Notifications</a></li>
                    <li><a routerLink="/message" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="charm:messages"></span>Messages</a>
                    </li>
                    <li><a routerLink="/bookmark" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="bi:bookmark"></span>Bookmarks</a>
                    </li>
                    <li><a routerLink="/list-2" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="ant-design:unordered-list-outlined"></span>Lists</a>
                    </li>
                    <li><a routerLink="/group-new" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="akar-icons:people-group"></span>Groups</a></li>
                    <li><a routerLink="/subscriptions" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="carbon:user-favorite"></span>Subscriptions</a></li>
                    <li><a routerLink="/add-card" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="ic:twotone-add-card"></span>Add
                            Card</a></li>
                    <li><a routerLink="/profile" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="bx:user"></span>My Profile</a></li>
                    <li><a routerLink="/more" [routerLinkActive]="['active']"><span class="iconify"
                                data-icon="fluent:more-circle-32-regular"></span>More</a></li>
                    <li><a style="cursor: pointer; color: #A9A9A9;" data-toggle="modal" data-target="#logoutConfirmModel"><span
                                class="iconify" data-icon="ant-design:logout-outlined"></span>Logout</a></li>
                    <div class="right-side-button ">
                        <a routerLink="/poll" [routerLinkActive]="['active']"> <button>+ New Post</button></a>
                    </div>
                    <li style="margin-top: 100px;"><a routerLink="/event" [routerLinkActive]="['active']"><span class="iconify"
                        data-icon="ic:twotone-event-busy"></span>Private Event</a></li>                               
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- modal for logout  -->
<div class="modal fade modal-logout" id="logoutConfirmModel" tabindex="-1" role="dialog" aria-labelledby="logoutConfirmModelTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="font-18 color-blue font-bold"><b>Are you sure you want to Logout?</b> </p>
                <div class="buttons-for-logout-model">
                    <div class="button-join-group-new-2-l">
                        <button class="btn-l-y" (click)="logout()">Yes</button>
                    </div>
                    <div class="button-join-group-new-2-l">
                        <button  class="btn-l-n" data-dismiss="modal"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for logout  -->
<div class="modal fade modal-logout" id="authExpiredModel" tabindex="-1" role="dialog" aria-labelledby="authExpiredModelTitle"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="font-18 color-blue font-bold"><b>Your session is expired, please login again</b> </p>
                <div class="buttons-for-logout-model">
                    <div class="button-join-group-new-2-l">
                        <button class="btn-l-y" (click)="authExpired()">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


         