<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">



                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div">
                            <div class="home-middle-div-one">
                                <div class="d-flex justify-content-between group-headding">
                                    <div class="subscription-head d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-blue">
                                            Private Event
                                        </p>
                                    </div>
                                    <div class="buttons-f-pr-e">
                                        <a routerLink='/create-event' class="font-13 color-blue btn-sve-pe"><span
                                                class="iconify" data-icon="ant-design:edit-filled"></span>Create Private
                                            Event</a>
                                        <a routerLink='/event-list' class="font-13 color-blue btn-sve-pe2">Private Event</a>
                                        <a routerLink='/event-list' class="font-13 color-blue btn-sve-pe2">I Paid For a
                                            Private Event</a>                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-faq">
                            <div class="faq_colapse">
                                <div class="accordions">
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem1">
                                            <h2> What is a Private Event?
                                                <i class="fa fa-angle-down"></i>
                                            </h2>
                                        </div>
                                        <div class="accordion-content collapse" id="aitem1">
                                            <p>A Private Event is where a User creates a private/exclusive event where
                                                people can see it on the <b>Chello</b> platform.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordions">
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem2">
                                            <h2> Is a Private Event free on Chello?
                                                <i class="fa fa-angle-down"></i>
                                            </h2>
                                        </div>
                                        <div class="accordion-content collapse" id="aitem2">
                                            <p>A Private Event is not free on Chello. The User must charge Customers to
                                                view a Private Event. Only paid Customers can see the Private Event.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordions">
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem3">
                                            <h2> Can the User who created the Private Event share it for free?
                                                <i class="fa fa-angle-down"></i>
                                            </h2>
                                        </div>
                                        <div class="accordion-content collapse" id="aitem3">
                                            <p>Yes, after the Private Event is finished, the User can share the Private
                                                Event for free. We encourage the User to wait 14 days before the Private
                                                Event is shared for free. This will encourage people to want to pay for
                                                your Private Event.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordions">
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem4">
                                            <h2> What are some examples of a Private Event on Chello?
                                                <i class="fa fa-angle-down"></i>
                                            </h2>
                                        </div>
                                        <div class="accordion-content collapse" id="aitem4">
                                            <p>Examples of a Private Event are concerts, comedy shows, car shows,
                                                exclusive events, etc.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordions">
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem5">
                                            <h2> Does a User have to be a Creator to create a Private Event?
                                                <i class="fa fa-angle-down"></i>
                                            </h2>
                                        </div>
                                        <div class="accordion-content collapse" id="aitem5">
                                            <p>No, a User does not have to be a Creator to create a Private Event on
                                                Chello.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordions">
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem6">
                                            <h2> Can Adult Content be a Private Event?
                                                <i class="fa fa-angle-down"></i>
                                            </h2>
                                        </div>
                                        <div class="accordion-content collapse" id="aitem6">
                                            <p>NO! No adult content is allowed on creating a Private Event. To create
                                                adult content, you need to be a Creator on Chello.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordions">
                                    <div class="accordion-item">
                                        <div class="accordion-title" data-toggle="collapse" data-target="#aitem7">
                                            <h2> What are the fees to create a Private Event on Chello?
                                                <i class="fa fa-angle-down"></i>
                                            </h2>
                                        </div>
                                        <div class="accordion-content collapse" id="aitem7">
                                            <p>Chello will charge $1 per ticket of the Private Event in addition to 6%
                                                of the total.

                                                Example, User creates a car show, selling tickets for customers to view
                                                on Chello. User charges $5 for this Private Event.

                                                25,000 Customers pay for this Private Event. The cost that Chello will
                                                collect on the day of the event, three hours before the event starts, is
                                                $125,000.

                                                From this example, User will receive from this Private Event $92,500.
                                                Chello made $1 per ticket sold which was 25,000=$25,000 + the 6% of the
                                                $125,000=$7500.

                                                User will get the funds within 3 business days after the Private Event.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div class="modal model-for-join-event" id="eventPasswordModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="headding-private-event-modal">
                    <div class="login-content">
                        <h1 div class="text-center">Private Event</h1>
                        <h3>Please enter event passcode to join event </h3>
                        <form>
                            <div class='input-control'>
                                <input type="password" class="form-control password-input" placeholder="Enter passcode">
                            </div>
                            <div class="col-md-6">
                                <div class="button_app_play ">
                                    <button type="submit" class="btn">Verify</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="button_app_play button_app_play-modal ">
                                    <button type="button" class="btn">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>