<app-header-new></app-header-new>
<div class="homepage margin-minus-header">
    <div class="homepage-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-6">
                    <div class="home-middle-div">
                        <div class="wrapper-home-middle-div profile-first-s">
                            <div class="home-middle-div-one position-relative">
                                <div class="profile-page-container">
                                    <div class="headding-profile-middle-div d-flex">
                                        <a href="" class="margin-pr-head"><span class="iconify color-grey font-20"
                                                data-icon="akar-icons:arrow-left"></span></a>
                                        <p class="font-20 font-bold color-blue">
                                            Jessica Alba
                                            <br>
                                            <span class="font-16 font-reg color-grey">33 posts</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="profile-page-btn">
                                    <div class="wrapper-profile-page-buttons">
                                        <div class="">
                                            <div class="poll-asked-user d-flex justify-content-between abso-profile-btn">
                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 10 (1).png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-20 font-bold color-blue"> Jesica Alba &nbsp;
                                                        </p>
                                                        <p class="font-16 color-49">@Jesicaalba</p>
                                                    </div>
                                                </div>
                                                <div class="buttons-f-pr-e">
                                                    <a href="" class="font-16 color-blue"><span class="iconify" data-icon="ant-design:edit-filled"></span>Edit Profile</a>
                                                    <a href="" class="font-16 color-blue"><span class="iconify" data-icon="bi:share-fill"></span>Share</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 second-home-middle position-relative">
                            <div class="help-abso">
                               <a href="">
                                <img src="assets/images/help.png"  alt="image" />
                               </a>
                            </div>
                            <div class="profile-page-wrapper-d">
                                <div class="poll-div-section">
                                    <div class="wrapper-poll-div-section">
                                        <div class="">
                                            <div class="div-for-new-post-poll">
                                                <div class="wrapper-new-post-poll">
                                                    <div class="text-area-for-poll">
                                                        <div class="form-group position-relative">
                                                            <textarea rows="4"
                                                                class="w-100">Compose new post</textarea>
                                                            <div class="option-selected-for-ta">
                                                                <a href=""><span class="iconify"
                                                                        data-icon="icon-park-outline:picture-one"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="ph:video-camera-bold"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="bxs:microphone-alt"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="fa6-solid:square-poll-vertical"></span></a>

                                                                <a href=""><span class="iconify"
                                                                        data-icon="fa:hourglass-3"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="fluent:live-20-filled"></span></a>
                                                                <a href=""><img
                                                                        src="assets/images/Mask group (2).png"
                                                                        alt="image" /></a>
                                                            </div>
                                                        </div>
                                                        <div class="right-side-button text-right">
                                                            <a href=""
                                                                class="font-14 font-medium color-blue margin-l-r-a">Post
                                                                Later</a>
                                                            <button>Post</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-div-profile">
                                    <div class="wrapper-tab-profile">
                                        <div class="tab">
                                            <button class="tablinks" onclick="openCity(event, 'tab1')" >Posts</button>
                                            <button class="tablinks active" onclick="openCity(event, 'tab2')" >Photos</button>
                                            <button class="tablinks" onclick="openCity(event, 'tab6')">Video</button>
                                            <button class="tablinks" onclick="openCity(event, 'tab7')">Audio</button>
                                            <button class="tablinks" onclick="openCity(event, 'tab3')">Likes</button>
                                            <button class="tablinks" onclick="openCity(event, 'tab8')">Fans</button>
                                          </div>
                                          
                                          <div id="tab1" class="tabcontent">
                                            
                                          </div>
                                          
                                          <div id="tab2" class="tabcontent d-block-active"  >
                                            <div class=" second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Jessica Alba &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@jessicaalba</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="w-100">
                                                        <div class="profile-div-page-t-p">
                                                            <img src="assets/images/8.png" alt="image" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="middle-up-i">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="clarity:heart-line"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="uil:comment-alt-message"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="ant-design:dollar-circle-outlined"></span> &nbsp; Send
                                                                Tip</a>
                                                            <p class="font-14 color-a8">122 likes this</p>
                                                        </div>
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Jessica Alba &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@jessicaalba</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="w-100">
                                                        <div class="profile-div-page-t-p">
                                                            <img src="assets/images/leady.png" alt="image" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="middle-up-i">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="clarity:heart-line"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="uil:comment-alt-message"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="ant-design:dollar-circle-outlined"></span> &nbsp; Send
                                                                Tip</a>
                                                            <p class="font-14 color-a8">122 likes this</p>
                                                        </div>
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 9 (2).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Amy &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@amyjunior</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="user-sub-mid position-relative">
                                                        <img src="assets/images/8.png" alt="image" />
                                                        <div class="image-ov-subscription">
                                                            <div class="right-side-button text-center">
                                                                <a href=""><span class="iconify color-white font-26"
                                                                        data-icon="bxs:lock"></span></a>
                                                                <br><br>
                                                                <button>Subscribe to see User’s Photos</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="middle-up-i">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="first-h-c-t">
                                                                <a href=""><span class="iconify"
                                                                        data-icon="clarity:heart-line"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="uil:comment-alt-message"></span></a>
                                                                <a href=""><span class="iconify"
                                                                        data-icon="ant-design:dollar-circle-outlined"></span> &nbsp;
                                                                    Send Tip</a>
                                                                <p class="font-14 color-a8">122 likes this</p>
                                                            </div>
                                                            <div class="first-h-c-t">
                                                                <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        <div id="tab6" class="tabcontent">
                                            <div class=" second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Jessica Alba &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@jessicaalba</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="w-100">
                                                        <div class="profile-div-page-t-p  position-relative">
                                                            <img src="assets/images/8.png" alt="image" />
                                                            <div class="video-icon-div-p">
                                                                <span class="iconify" data-icon="bi:play-circle-fill"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="middle-up-i">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="clarity:heart-line"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="uil:comment-alt-message"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="ant-design:dollar-circle-outlined"></span> &nbsp; Send
                                                                Tip</a>
                                                            <p class="font-14 color-a8">122 likes this</p>
                                                        </div>
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Jessica Alba &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@jessicaalba</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="w-100">
                                                        <div class="profile-div-page-t-p  position-relative">
                                                            <img src="assets/images/leady.png" alt="image" />
                                                            <div class="video-icon-div-p">
                                                                <span class="iconify" data-icon="bi:play-circle-fill"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="middle-up-i">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="clarity:heart-line"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="uil:comment-alt-message"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="ant-design:dollar-circle-outlined"></span> &nbsp; Send
                                                                Tip</a>
                                                            <p class="font-14 color-a8">122 likes this</p>
                                                        </div>
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab7" class="tabcontent">
                                            <div class=" second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Jessica Alba &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@jessicaalba</p>
                                                                <p class="color-black font-16 audio-p">My first song ever</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="audio-image">
                                                        <a href=""> <span class="iconify" data-icon="bi:play-circle-fill"></span></a>
                                                        <div class="audio-pattern w-100"></div>
                                                    </div>
                                                    <div class="duriation-audio">
                                                        <p class="font-14 color-a8 text-right">60:00 min</p>
                                                    </div>
                                                </div>
                                                <div class="middle-up-i">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="clarity:heart-line"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="uil:comment-alt-message"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="ant-design:dollar-circle-outlined"></span> &nbsp; Send
                                                                Tip</a>
                                                            <p class="font-14 color-a8">122 likes this</p>
                                                        </div>
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Jessica Alba &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@jessicaalba</p>
                                                                <p class="color-black font-16 audio-p">My first song ever</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="audio-image">
                                                        <a href=""> <span class="iconify" data-icon="bi:play-circle-fill"></span></a>
                                                        <div class="audio-pattern w-100"></div>
                                                    </div>
                                                    <div class="duriation-audio">
                                                        <p class="font-14 color-a8 text-right">60:00 min</p>
                                                    </div>
                                                </div>
                                                <div class="middle-up-i">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="clarity:heart-line"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="uil:comment-alt-message"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="ant-design:dollar-circle-outlined"></span> &nbsp; Send
                                                                Tip</a>
                                                            <p class="font-14 color-a8">122 likes this</p>
                                                        </div>
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" second-home-middle forth-home-middle">
                                                <div class="headding-poll">
                                                    <div class="poll-asked-user d-flex justify-content-between">
                                                        <div class="wrapper-poll-asked-user">
                                                            <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                            <div class="user-info-p-a">
                                                                <p class="font-14 font-bold color-49"> Jessica Alba &nbsp; <span
                                                                        class="iconify font-20 color-light-blue"
                                                                        data-icon="ic:sharp-verified"></span>
                                                                </p>
                                                                <p class="font-14 color-49">@jessicaalba</p>
                                                                <p class="color-black font-16 audio-p">My first song ever</p>
                                                            </div>
                                                        </div>
                                                        <div class="a-for-h-3">
                                                            <a href="">March 24</a>
                                                            <a href=""><span class="iconify font-20"
                                                                    data-icon="fluent:more-circle-32-regular"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mi-home-w-d">
                                                    <div class="audio-image">
                                                        <a href=""> <span class="iconify" data-icon="bi:play-circle-fill"></span></a>
                                                        <div class="audio-pattern w-100"></div>
                                                    </div>
                                                    <div class="duriation-audio">
                                                        <p class="font-14 color-a8 text-right">60:00 min</p>
                                                    </div>
                                                </div>
                                                <div class="middle-up-i">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="clarity:heart-line"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="uil:comment-alt-message"></span></a>
                                                            <a href=""><span class="iconify"
                                                                    data-icon="ant-design:dollar-circle-outlined"></span> &nbsp; Send
                                                                Tip</a>
                                                            <p class="font-14 color-a8">122 likes this</p>
                                                        </div>
                                                        <div class="first-h-c-t">
                                                            <a href=""><span class="iconify" data-icon="bi:bookmark"></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab3" class="tabcontent">
                                         
                                        </div>
                                        <div id="tab8" class="tabcontent">
                                            <div class="profile-followers">
                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 14.png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-14 font-bold color-49"> Kaiya Culhane
                                                        </p>
                                                        <p class="font-16 color-68">@jessicaalba</p>
                                                    </div>
                                                </div>

                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 14 (1).png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-14 font-bold color-49"> Talan Bergson
                                                        </p>
                                                        <p class="font-16 color-68">@jessicaalba</p>
                                                    </div>
                                                </div>

                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 14 (2).png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-14 font-bold color-49">Paityn Donin
                                                        </p>
                                                        <p class="font-16 color-68">@jessicaalba</p>
                                                    </div>
                                                </div>

                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 14 (3).png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-14 font-bold color-49"> Jessica Alba
                                                        </p>
                                                        <p class="font-16 color-68">Kierra Dokidis</p>
                                                    </div>
                                                </div>

                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 14 (4).png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-14 font-bold color-49"> Erin Stanton
                                                        </p>
                                                        <p class="font-16 color-68">@jessicaalba</p>
                                                    </div>
                                                </div>

                                                <div class="wrapper-poll-asked-user">
                                                    <img src="assets/images/Ellipse 14 (5).png" alt="image" />
                                                    <div class="user-info-p-a">
                                                        <p class="font-14 font-bold color-49"> Corey Workman
                                                        </p>
                                                        <p class="font-16 color-68">@jessicaalba</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <app-suggestions></app-suggestions>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
