
 <div class="first-div-chello">
  <div class="container-fluid">
    <div class="row align-items-start o-h">
      <div class="col-md-6">
        <div class="row">
          <div class="first-div-login">
            <div class="image-for-logo text-center">
              <img src="assets/images/Chello.png" alt="image">
            </div>
            <div class=" text-under-logo text-center">
              <p class="color-white font-medium font-32">Creators + Fans = Chello</p>
              <p class="color-white font-18 font-medium">#LetsGO</p>
            </div>
            <div class="image-for-mask text-center">
              <img src="assets/images/Mask group.png" alt="image">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="text-for-login">
          <div class="headding-login">
            <p class="font-26 color-blue font-bold">Verify Your Identity</p>
            <p class="color-black">For content Creators, let’s get you verified.
            </p>
            <br>
          </div>
          <div class="form-div-login">
            <form>
              <div class="new-verified-id-ui">
                <div class="form-group">
                  <label class="font-14 color-grey">Your Country of Legal Residence</label>
                  <select class="form-select w-100" aria-label="Default select example">
                    <option selected>USA</option>
                    <option value="1">INDIA</option>
                    <option value="2">CHINA</option>
                    <option value="3">RUSSIA</option>
                  </select>
                  <p class="font-10 color-grey">*You cannot change this later</p>
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Your Legal Full Name</label>
                  <input type="text" name="name" value="Kate Winslet" class="w-100">
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Address Line 1</label>
                  <input type="text" name="address1" class="w-100">
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Address Line 2</label>
                  <input type="text" name="address1" class="w-100">
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Enter Your Birthday</label>
                  <div class="birth-day-date-entry">
                    <div class="wrapper-birth-day-entry">
                      <div class="first-birthday-entry">
                        <label class="font-12 color-grey">Month</label>
                        <input type="text" name="dob" placeholder="Jan" class="w-100 side-tab">
                      </div>
                      <div class="first-birthday-entry">
                        <label class="font-12 color-grey">Day</label>
                        <input type="text" name="dob" placeholder="01" class="w-100 side-tab">
                      </div>
                      <div class="first-birthday-entry">
                        <label class="font-12 color-grey">Year</label>
                        <input type="text" name="dob" placeholder="1993" class="w-100">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="check-for-age">
                    <input type="checkbox" id="agree" name="agree" value="agree">
                    <label for="agree" class="font-14 color-black"> &nbsp; I agree that I am over 18 years old.</label><br>
                  </div>
                </div>
              
              <div class="">
                <label class="font-14 color-grey">Upload ID  &nbsp;<span class="font-10">(Drivers License, Passport, or Government Issued ID)</span></label>
              <div class="upload-button-file">
                <div class="file-input ">
                  <input type="file" name="file-input" id="file-input" class="file-input__input" />
                  <label class="file-input__label password-icon position-relative" for="file-input">
                    <span class="iconify" data-icon="gg:attachment"></span>
                  </label>

                </div>
              </div>
              </div>
              <div class="">
                <label class="font-14 color-grey">Upload ID 2  &nbsp;<span class="font-10">(Please take a Selfie holding your ID Card)</span></label>
              <div class="upload-button-file">
                <div class="file-input ">
                  <input type="file" name="file-input" id="file-input" class="file-input__input" />
                  <label class="file-input__label password-icon position-relative" for="file-input">
                    <span class="iconify" data-icon="gg:attachment"></span>
                  </label>

                </div>
              </div>
              </div>
              <div class="form-group">
                <div class="label-insta-new">
                  <label>Add your 
                    <a href=""><img src="assets/images/ant-design_instagram-filled.png" /></a>
                    <a href=""><img src="assets/images/twitter 1.png" /></a> or
                    <a href=""><img src="assets/images/Vector.png" /></a></label>
                </div>
              </div>
              <div class="form-group">
                <label class="font-14 color-grey">to assist with account verification.</label>
                <input type="text" name="name" class="w-100">
              </div>

              <div class="button-link button-verified-lat">
                <div class="d-flex justify-content-between">
                  <a href="javascript:void(0)" class="btn">Submit</a>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="padding-for-footer"></div>
  </div>
</div>
<div class="clearfix"></div>

<app-footer></app-footer>