<div class="first-div-chello">
  <div class="container-fluid">
    <div class="row align-items-start o-h">
      <div class="col-md-6">
        <div class="row">
          <div class="first-div-login">
            <div class="image-for-logo text-center">
              <img src="assets/images/Chello.png" alt="image">
            </div>
            <div class=" text-under-logo text-center">
              <p class="color-white font-medium font-32">Creators + Fans = Chello</p>
              <p class="color-white font-18 font-medium">#LetsGO</p>
            </div>
            <div class="image-for-mask text-center">
              <img src="assets/images/Mask group.png" alt="image">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="text-for-login">
          <div class="headding-login">
            <p class="font-26 color-blue font-bold">Verify Your Identity</p>
            <p class="color-black">For content Creators, let’s get you verified.
            </p>
            <br>
          </div>
          <div class="form-div-login">
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
              <div class="new-verified-id-ui">
                <div class="form-group">
                  <label class="font-14 color-grey">Your Country of Legal Residence</label>
                  <select class="form-select w-100" aria-label="Default select example"
                    (change)="selectCountryCode($event.target)">
                    <option *ngFor="let code of countryCodeList" [value]="code.name">{{code.name}}</option>
                  </select>
                  <p class="font-10 color-grey">*You cannot change this later</p>
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Your Legal Full Name</label>
                  <input type="text" name="name" value="Kate Winslet" class="w-100" formControlName="legalFullName"
                    [ngClass]="{ 'is-invalid': submitted && f.legalFullName.errors }" placeholder="Legal Full Name">
                  <div *ngIf="submitted && f.legalFullName.errors" class="invalid-feedback">
                    <div *ngIf="f.legalFullName.errors.required" style="color:red;">Legal full name is required</div>
                    <div *ngIf="f.legalFullName.errors.cannotContainOnlySpace" style="color:red;">Legal full name cannot contain only space</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Address Line 1</label>
                  <input type="text" name="address1" class="w-100" formControlName="addressLine1"
                    [ngClass]="{ 'is-invalid': submitted && f.addressLine1.errors }" placeholder="Address Line 1">
                  <div *ngIf="submitted && f.addressLine1.errors" class="invalid-feedback">
                    <div *ngIf="f.addressLine1.errors.required" style="color:red;">Address Line 1 is required</div>
                    <div *ngIf="f.addressLine1.errors.cannotContainOnlySpace" style="color:red;">Address Line 1 cannot contain only space</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Address Line 2</label>
                  <input type="text" name="address1" class="w-100" formControlName="addressLine2"
                    [ngClass]="{ 'is-invalid': submitted && f.addressLine2.errors }" placeholder="Address Line 2">
                  <div *ngIf="submitted && f.addressLine2.errors" class="invalid-feedback">
                    <div *ngIf="f.addressLine2.errors.required" style="color:red;">Address Line 2 is required</div>                    
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-14 color-grey">Enter Your Birthday</label>
                  <div class="birth-day-date-entry">
                    <div class="wrapper-birth-day-entry">
                      <div class="first-birthday-entry">
                        <label class="font-12 color-grey">Month</label>
                        <select id="monthId" #monthId placeholder="Jan" class="w-100 side-tab" formControlName="month"
                        [ngClass]="{ 'is-invalid': submitted && f.month.errors }" (change)='selectMonth(monthId.value)' style="color: #7B7B7B;">
                          <option value="" [disabled]="true" class="op-col">Month</option>
                          <option *ngFor="let month of months; let i = index" [value]="i+1">{{month}}</option>
                        </select>
                        <!-- <input type="text" name="dob" placeholder="Jan" class="w-100 side-tab" formControlName="month"
                          [ngClass]="{ 'is-invalid': submitted && f.month.errors }"> -->
                        <div *ngIf="submitted && f.month.errors" class="invalid-feedback">
                          <div *ngIf="f.month.errors.required" style="color:red;">Month name is required
                          </div>
                        </div>
                      </div>
                      <div class="first-birthday-entry">
                        <label class="font-12 color-grey">Day</label>
                        <select id="sel2" placeholder="01" class="w-100 side-tab" formControlName="day"
                        [ngClass]="{ 'is-invalid': submitted && f.day.errors }" style="color: #7B7B7B;">
                          <option value="" [disabled]="true" class="op-col">Day</option>
                          <option *ngFor="let day of days" [value]="day">{{day}}</option>
                        </select>
                        <!-- <input type="text" name="dob" placeholder="01" class="w-100 side-tab" formControlName="day"
                          [ngClass]="{ 'is-invalid': submitted && f.day.errors }"> -->
                        <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
                          <div *ngIf="f.day.errors.required" style="color:red;">Day name is required
                          </div>
                        </div>
                      </div>
                      <div class="first-birthday-entry">
                        <label class="font-12 color-grey">Year</label>
                        <select id="yearId" #yearId  class="w-100 side-tab" formControlName="year"
                        [ngClass]="{ 'is-invalid': submitted && f.year.errors }" (change)='selectYear(yearId.value)' style="border-right: none; color: #7B7B7B;"  >
                          <option value="" [disabled]="true" class="op-col">Year</option>
                          <option *ngFor="let year of years" [value]="year">{{year}}</option>
                        </select>
                        <!-- <input type="text" name="dob" placeholder="1993" class="w-100" formControlName="year"
                          [ngClass]="{ 'is-invalid': submitted && f.year.errors }"> -->
                        <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                          <div *ngIf="f.year.errors.required" style="color:red;">Year name is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="check-for-age">
                    <input type="checkbox" id="agree" name="agree" value="agree" formControlName="ageAgree"
                      [ngClass]="{ 'is-invalid': submitted && f.ageAgree.errors }">
                    <label for="agree" class="font-14 color-black"> &nbsp; I agree that I am over 18 years
                      old.</label><br>
                      <div *ngIf="submitted && f.ageAgree.errors" class="invalid-feedback">
                        <div *ngIf="f.ageAgree.errors.required" style="color:red;">Age confirmation is required
                        </div>
                      </div>
                  </div>
                </div>

                <div class="" *ngIf="role === 'creator'">
                  <label class="font-14 color-grey">Upload ID &nbsp;<span class="font-10">(Drivers License, Passport, or
                      Government Issued ID)</span></label>
                  <div class="upload-button-file">
                    <div class="file-input ">
                      <input type="file" name="file-input" id="file-input" class="file-input__input" placeholder="Upload ID"
                        formControlName="uploadId1" [ngClass]="{ 'is-invalid': submitted && f.uploadId1.errors }" (change)="selectProfileFile($event, 'uploadId1')" />
                      <div *ngIf="submitted && f.uploadId1.errors" class="invalid-feedback">
                        <div *ngIf="f.uploadId1.errors.required" style="color:red;">Government Issued ID is required
                        </div>
                      </div>
                      <label class="file-input__label password-icon position-relative" for="file-input">
                        {{uploadFile1Name}}
                        <span class="iconify" data-icon="gg:attachment"></span>
                      </label>

                    </div>
                  </div>
                </div>
                <div class="" *ngIf="role === 'creator'">
                  <label class="font-14 color-grey">Upload ID 2 &nbsp;<span class="font-10">(Please take a Selfie
                      holding your ID Card)</span></label>
                  <div class="upload-button-file">
                    <div class="file-input ">
                      <input type="file" name="file-input" id="file-input2" class="file-input__input" placeholder="Upload ID"
                        formControlName="uploadId2" [ngClass]="{ 'is-invalid': submitted && f.uploadId2.errors }" (change)="selectProfileFile($event, 'uploadId2')" />
                      <div *ngIf="submitted && f.uploadId2.errors" class="invalid-feedback">
                        <div *ngIf="f.uploadId2.errors.required" style="color:red;">Selfie holding your ID Card is
                          required
                        </div>
                      </div>
                      <label class="file-input__label password-icon position-relative" for="file-input2">
                        {{uploadFile2Name}}
                        <span class="iconify" data-icon="gg:attachment"></span>
                      </label>

                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="role === 'creator'">
                  <div class="label-insta-new">
                    <label>Add your
                      <a href=""><img src="assets/images/ant-design_instagram-filled.png" /></a>
                      <a href=""><img src="assets/images/twitter 1.png" /></a> or
                      <a href=""><img src="assets/images/Vector.png" /></a></label>
                  </div>
                </div>
                <div class="form-group" *ngIf="role === 'creator'">
                  <label class="font-14 color-grey">to assist with account verification.</label>
                  <input type="text" name="name" class="w-100" formControlName="socialLink"
                    [ngClass]="{ 'is-invalid': submitted && f.socialLink.errors }">
                  <div *ngIf="submitted && f.socialLink.errors" class="invalid-feedback">
                    <div *ngIf="f.socialLink.errors.required" style="color:red;">Social media link is required
                    </div>
                    <div *ngIf="f.socialLink.errors.cannotContainOnlySpace" style="color:red;">Social media link cannot contain only space</div>
                    <div *ngIf="f.socialLink.errors.pattern" style="color:red;">Please enter valid url</div>
                    
                  </div>
                </div>

                <div class="button-link button-verified-lat">
                  <div class="d-flex justify-content-between">
                    <button class="btn" type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="padding-for-footer"></div>
  </div>
</div>
<div class="clearfix"></div>

<app-footer></app-footer>